<div class="content">
  <h3>Installation</h3>
  <blockquote>
    <strong>ATTENTION!</strong> <strong>NestjsCLI</strong> follow the <strong>Nestjs</strong> major versions since v4.
    Be aware to have same <strong>NestjsCLI</strong> and <strong>Nestjs</strong> major versions installed.
  </blockquote>
  <h4>From NPM registry</h4>
  <pre>
    <code class="language-bash">
      $ npm install -g @nestjs/cli@[version]
    </code>
  </pre>
  <h4>From Docker Hub</h4>
  <p><strong>Available soon.</strong></p>
  <h4>Build yourself</h4>
  <p>
    Having Docker installed on your machine then git clone the
    <a href="https://github.com/nestjs/nest-cli" target="_blank">@nestjs/cli</a> GitHub repository :
  </p>
  <pre>
    <code class="language-bash">
      $ git clone https://github.com/nestjs/cli.git
      $ cd cli
      $ make install
      $ npm link
    </code>
  </pre>
</div>
