<div class="content">
  <h3>Installation</h3>
  <h4>From NPM registry</h4>
  <pre>
    <code class="language-bash">
      $ npm install -g @nestjs/cli
    </code>
  </pre>
  <h4>Build yourself</h4>
  <p>
    Having Docker installed on your machine then git clone the <a href="https://github.com/nestjs/cli.git" target="_blank">@nestjs/cli</a> GitHub repository :
  </p>
  <pre>
    <code class="language-bash">
      $ git clone https://github.com/nestjs/cli.git
      $ cd cli
      $ make install
      $ npm link
    </code>
  </pre>
</div>
