@import '../../../scss/variables.scss';
@import '../../../scss/utils.scss';

:host {
  @extend .transition;
  @extend .box-sizing;
  background: $black-color;
  display: block;
  height: 90px;
  padding: 5px 2px 15px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: auto;
  font-size: 15px;

  @include media(medium) {
    padding: 15px;
    margin: 0 -30px;
    width: calc(100% + 60px);
    position: static;
    height: auto;
    text-align: center;
  }
}

footer {
  display: block;
  position: relative;
  color: #929292;

  a {
    @extend .transition;
    color: #929292;
    &:hover {
      color: $white-color;
    }
  }

  p {
    line-height: 25px;
  }
}

.social-wrapper {
  @extend .center-top;
  position: absolute;
  right: 40px;

  @include media(medium) {
    @include transform(translateX(0) translateY(0));
    position: static;
    text-align: center;
  }
  a {
    @extend .transition;
    display: inline-block;
    vertical-align: middle;
    color: $darksilver-color;
    font-size: 22px;
    margin-left: 12px;
    cursor: pointer;

    &:first-of-type {
      font-size: 20px;
    }
    &:hover {
      color: $white-color;
    }
  }
}
