<footer>
  <div class="credits">
    <p>
      Made by <a 
        href="https://kamilmysliwiec.com" 
        target="blank" 
        title="Kamil Mysliwiec Blog | Full-Stack Software Engineer">
        Kamil Myśliwiec</a> ©2017,
      MIT License
    </p>
  </div>
  <div class="social-wrapper">
    <a href="https://www.facebook.com/kammysliwiec/" target="blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/kammysliwiec" target="blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/kamilmysliwiec" target="blank"><i class="fa fa-github"></i></a>
    <a href="https://kamilmysliwiec.com" title="Kamil Mysliwiec Blog | Full-Stack Software Engineer" target="blank"><i class="fa fa-globe"></i></a>
  </div>
</footer>