<footer>
  <div class="social-wrapper">
    <a href="https://www.facebook.com/kammysliwiec/" target="blank"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://twitter.com/kammysliwiec" target="blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://github.com/kamilmysliwiec" target="blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="https://discord.gg/G7Qnnhy" target="blank">
      <i class="fab fa-discord"></i>
    </a>
    <a
      href="https://kamilmysliwiec.com"
      title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
      target="blank"
      ><i class="fas fa-globe"></i
    ></a>
  </div>
  <div class="credits">
    <p>
      Copyright © 2017-2019 MIT by
      <a
        href="https://kamilmysliwiec.com"
        target="blank"
        title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
      >
        Kamil Myśliwiec</a
      >
      <br />
      <span>
        Designed by
        <a
          href="https://dribbble.com/JakubStaron"
          title="Jakub Staroń Dribble"
          target="_blank"
          >Jakub Staroń</a
        >
      </span>
    </p>
  </div>
</footer>
