<footer>
  <div class="social-wrapper">
    <a
      title="Kamil Mysliwiec Facebook"
      href="https://www.facebook.com/kammysliwiec/"
      target="_blank"
      ><i class="fab fa-facebook"></i
    ></a>
    <a
      title="Kamil Mysliwiec Twitter"
      href="https://twitter.com/kammysliwiec"
      target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      title="Kamil Mysliwiec Github"
      href="https://github.com/kamilmysliwiec"
      target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <a
      href="https://kamilmysliwiec.com"
      title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
      target="_blank"
      ><i class="fa fa-globe"></i
    ></a>
  </div>
  <div class="credits">
    <p>
      Copyright © 2017-{{ currentDate | date: 'yyyy' }} MIT by
      <a
        href="https://kamilmysliwiec.com"
        target="_blank"
        title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
      >
        Kamil Mysliwiec</a
      ><span class="separator"></span> design by
      <a
        href="https://dribbble.com/JakubStaron"
        title="Jakub Staron Dribble"
        target="_blank"
        >Jakub Staron</a
      >
      <br />
      Official NestJS Consulting
      <a
        href="https://trilon.io"
        target="_blank"
        title="Official NestJS Consulting | Angular Consulting"
      >
        Trilon.io</a
      >
      <span class="separator"> </span> hosted by
      <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </p>
  </div>
</footer>
