<div class="content" #contentReference>
      <h3 id="sql-sequelize">SQL (Sequelize)</h3>
<h5 id="this-chapter-applies-only-to-typescript">This chapter applies only to TypeScript</h5>
<p><a href="https://github.com/sequelize/sequelize">Sequelize</a> is a popular Object Relational Mapper (ORM) written in a vanilla JavaScript, but there is a <a href="https://github.com/RobinBuschmann/sequelize-typescript">sequelize-typescript</a> TypeScript wrapper which provides a set of decorators and other extras for the base sequelize.</p>
<h4 appAnchor id="getting-started"><span>Getting started</span></h4>
<p>To start the adventure with this library we have to install the following dependencies:</p>
<pre><code class="language-bash">
$ npm install --save sequelize sequelize-typescript mysql2
$ npm install --save-dev @types/sequelize</code></pre>
<p>The first step we need to do is create a <strong>Sequelize</strong> instance with an options object passed into the constructor. Also, we need to add all models (the alternative is to use <code>modelPaths</code> property) and <code>sync()</code> our database tables.</p>

<span class="filename">
  {{ 'database.providers' | extension: appcd42dfcbbd7f8aff9424a3f12cff4b3e53084c33.isJsActive }}
<app-tabs #appcd42dfcbbd7f8aff9424a3f12cff4b3e53084c33></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Sequelize &#125; from &#39;sequelize-typescript&#39;;
import &#123; Cat &#125; from &#39;../cats/cat.entity&#39;;

export const databaseProviders = [
  &#123;
    provide: &#39;SEQUELIZE&#39;,
    useFactory: async () =&gt; &#123;
      const sequelize = new Sequelize(&#123;
        dialect: &#39;mysql&#39;,
        host: &#39;localhost&#39;,
        port: 3306,
        username: &#39;root&#39;,
        password: &#39;password&#39;,
        database: &#39;nest&#39;,
      &#125;);
      sequelize.addModels([Cat]);
      await sequelize.sync();
      return sequelize;
    &#125;,
  &#125;,
];</code></pre><blockquote class="
warning "><strong>Hint</strong> Following best practices, we declared the custom provider in the separated file which has a <code>*.providers.ts</code> suffix.
</blockquote>
<p>Then, we need to export these providers to make them <strong>accessible</strong> for the rest part of the application.</p>
<pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; databaseProviders &#125; from &#39;./database.providers&#39;;

@Module(&#123;
  providers: [...databaseProviders],
  exports: [...databaseProviders],
&#125;)
export class DatabaseModule &#123;&#125;</code></pre>
<p>Now we can inject the <code>Sequelize</code> object using <code>@Inject()</code> decorator. Each class that would depend on the <code>Sequelize</code> async provider will wait until a <code>Promise</code> is resolved.</p>
<h4 appAnchor id="model-injection"><span>Model injection</span></h4>
<p>In <a href="https://github.com/sequelize/sequelize">Sequelize</a> the <strong>Model</strong> defines a table in the database. Instances of this class represent a database row. Firstly, we need at least one entity:</p>

<span class="filename">
  {{ 'cat.entity' | extension: app972d873e2ee999ac5aabf00f6d9eae4089797512.isJsActive }}
<app-tabs #app972d873e2ee999ac5aabf00f6d9eae4089797512></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Table, Column, Model &#125; from &#39;sequelize-typescript&#39;;

@Table
export class Cat extends Model&lt;Cat&gt; &#123;
  @Column
  name: string;

  @Column
  age: number;

  @Column
  breed: string;
&#125;</code></pre><p>The <code>Cat</code> entity belongs to the <code>cats</code> directory. This directory represents the <code>CatsModule</code>. Now it&#39;s time to create a <strong>Repository</strong> provider:</p>

<span class="filename">
  {{ 'cats.providers' | extension: appe876c76fd195f4c633611203268209c1c49f6330.isJsActive }}
<app-tabs #appe876c76fd195f4c633611203268209c1c49f6330></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Cat &#125; from &#39;./cat.entity&#39;;

export const catsProviders = [
  &#123;
    provide: &#39;CATS_REPOSITORY&#39;,
    useValue: Cat,
  &#125;,
];</code></pre><blockquote class="
"><strong>Notice</strong> In the real-world applications you should avoid <strong>magic strings</strong>. Both <code>CATS_REPOSITORY</code> and <code>SEQUELIZE</code> should be kept in the separated <code>constants.ts</code> file.
</blockquote>
<p>In Sequelize, we use static methods to manipulate the data, and thus we created an <strong>alias</strong> here.</p>
<p>Now we can inject the <code>CATS_REPOSITORY</code> to the <code>CatsService</code> using the <code>@Inject()</code> decorator:</p>

<span class="filename">
  {{ 'cats.service' | extension: app1c47fd8a2ae7f7fa21c67a27cc9088864d01d0bf.isJsActive }}
<app-tabs #app1c47fd8a2ae7f7fa21c67a27cc9088864d01d0bf></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Injectable, Inject &#125; from &#39;@nestjs/common&#39;;
import &#123; CreateCatDto &#125; from &#39;./dto/create-cat.dto&#39;;
import &#123; Cat &#125; from &#39;./cat.entity&#39;;

@Injectable()
export class CatsService &#123;
  constructor(
    @Inject(&#39;CATS_REPOSITORY&#39;) private readonly CATS_REPOSITORY: typeof Cat) &#123;&#125;

  async findAll(): Promise&lt;Cat[]&gt; &#123;
    return await this.CATS_REPOSITORY.findAll&lt;Cat&gt;();
  &#125;
&#125;</code></pre><p>The database connection is <strong>asynchronous</strong>, but Nest makes this process completely invisible for the end-user. The <code>CATS_REPOSITORY</code> provider is waiting for the db connection, and the <code>CatsService</code> is delayed until repository is ready to use. The entire application can start when each class is instantiated.</p>
<p>Here is a final <code>CatsModule</code>:</p>

<span class="filename">
  {{ 'cats.module' | extension: app28ce41d939c696ab3f144be6c069492b65412b1e.isJsActive }}
<app-tabs #app28ce41d939c696ab3f144be6c069492b65412b1e></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;
import &#123; catsProviders &#125; from &#39;./cats.providers&#39;;
import &#123; DatabaseModule &#125; from &#39;../database/database.module&#39;;

@Module(&#123;
  imports: [DatabaseModule],
  controllers: [CatsController],
  providers: [
    CatsService,
    ...catsProviders,
  ],
&#125;)
export class CatsModule &#123;&#125;</code></pre><blockquote class="
warning "><strong>Hint</strong> Do not forget to import the <code>CatsModule</code> into the root <code>ApplicationModule</code>.
</blockquote>

    </div>
