<div class="content">
  <h3>MongoDB (Mongoose)</h3>
  <blockquote>
    <strong>Warning</strong> In this article, you'll learn how to create a <code>DatabaseModule</code>
    based on the <strong>Mongoose</strong> package from scratch using custom components. As a consequence, this solution
    contains a lot of overhead that you can omit using ready to use and available out-of-the-box dedicated
    <code>@nestjs/mongoose</code> package. To learn more, see <a routerLink="/techniques/mongodb">here</a>.
  </blockquote>
  <p>
    <a href="http://mongoosejs.com" target="blank">Mongoose</a> is the most popular <a href="https://www.mongodb.org/" target="blank">MongoDB</a> object modeling tool.
    To start the adventure with this library we have to install all required dependencies:
  </p>
  <span class="filename">
    <app-tabs #dependenciesT></app-tabs>
  </span>
  <pre [class.hide]="dependenciesT.isJsActive"><code class="language-typescript">{{ dependencies }}</code></pre>
  <pre [class.hide]="!dependenciesT.isJsActive"><code class="language-typescript">{{ dependenciesJs }}</code></pre>
  <p>
    The first step we need to do is to establish the connection with our database using <code>connect()</code> function.
    The <code>connect()</code> function returns a <code>Promise</code>, therefore we have to create an <a routerLink="/fundamentals/async-components">async provider</a>.
  </p>
  <span class="filename">
    {{ 'database.providers' | extension: databaseProvidersT.isJsActive }}
    <app-tabs #databaseProvidersT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ databaseProviders }}</code></pre>
  <blockquote class="warning">
      <strong>Hint</strong> Following best practices, we declared the custom provider in the separated file which has a <code>*.providers.ts</code> suffix.
   </blockquote>
   <p>
     Then, we need to export these providers to make them <strong>accessible</strong> for the rest part of the application.
  </p>
  <span class="filename">
    {{ 'database.module' | extension: databaseModuleT.isJsActive }}
    <app-tabs #databaseModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ databaseModule }}</code></pre>
  <p>
    Now we can inject the <code>Connection</code> object using <code>@Inject()</code> decorator.
    Each class that would depend on the <code>Connection</code> async provider will wait until a <code>Promise</code> is resolved.
  </p>
  <h4>Model injection</h4>
  <p>
      With Mongoose, everything is derived from a <a href="http://mongoosejs.com/docs/guide.html" target="blank">Schema</a>. Let's define the <code>CatSchema</code>:
  </p>
  <span class="filename">
    {{ 'cats/schemas/cat.schema' | extension: catSchemaT.isJsActive }}
    <app-tabs #catSchemaT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ catSchema }}</code></pre>
  <p>
    The <code>CatsSchema</code> belongs to the <code>cats</code> directory.
    This directory represents the <code>CatsModule</code>.
  </p>
  <p>
    Now it's time to create a <strong>Model</strong> provider:
  </p>
  <span class="filename">
    {{ 'cats.providers' | extension: catsProvidersT.isJsActive }}
    <app-tabs #catsProvidersT></app-tabs>
  </span>
  <pre [class.hide]="catsProvidersT.isJsActive"><code class="language-typescript">{{ catsProviders }}</code></pre>
  <pre [class.hide]="!catsProvidersT.isJsActive"><code class="language-typescript">{{ catsProvidersJs }}</code></pre>
  <blockquote>
      <strong>Notice</strong> In the real-world applications you should avoid <strong>magic strings</strong>. Both <code>CatModelToken</code> and <code>DbConnectionToken</code> should be kept in the separated <code>constants.ts</code> file. 
   </blockquote>
   <p>
     Now we can inject the <code>CatModelToken</code> to the <code>CatsService</code> using the <code>@Inject()</code> decorator:
   </p>
   <span class="filename">
    {{ 'cats.service' | extension: catsServiceT.isJsActive }}
    <app-tabs #catsServiceT></app-tabs>
  </span>
  <pre [class.hide]="catsServiceT.isJsActive"><code class="language-typescript">{{ catsService }}</code></pre>
  <pre [class.hide]="!catsServiceT.isJsActive"><code class="language-typescript">{{ catsServiceJs }}</code></pre>
  <p>
    In the above example we have used the <code>Cat</code> interface. This interface extends the <code>Document</code> from the mongoose package:
  </p>
  <span class="filename">cat.interface.ts</span>
  <pre><code class="language-typescript">{{ catInterface }}</code></pre>
  <p>
    The database connection is <strong>asynchronous</strong>, but Nest makes this process completely invisible for the end-user.
    The <code>CatModel</code> class is waiting for the db connection, and the <code>CatsService</code> is delayed until model is ready to use.
    The entire application can start when each class is instantiated.
  </p>
  <p>
    Here is a final <code>CatsModule</code>:
  </p>
  <span class="filename">
    {{ 'cats.module' | extension: catsModuleT.isJsActive }}
    <app-tabs #catsModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ catsModule }}</code></pre>
  <blockquote class="warning">
      <strong>Hint</strong> Don't forget to import the <code>CatsModule</code> into the root <code>ApplicationModule</code>.
   </blockquote>
</div>