<div class="content" #contentReference>
      <h3 id="mongodb-mongoose">MongoDB (Mongoose)</h3>
<blockquote class="
"><strong>Warning</strong> In this article, you&#39;ll learn how to create a <code>DatabaseModule</code> based on the <strong>Mongoose</strong> package from scratch using custom components. As a consequence, this solution contains a lot of overhead that you can omit using ready to use and available out-of-the-box dedicated <code>@nestjs/mongoose</code> package. To learn more, see <a routerLink="/techniques/mongodb">here</a>.
</blockquote>
<p><a href="http://mongoosejs.com">Mongoose</a> is the most popular <a href="https://www.mongodb.org/">MongoDB</a> object modeling tool.</p>
<h4 appAnchor id="getting-started"><span>Getting started</span></h4>
<p>To start the adventure with this library we have to install all required dependencies:</p>

<span class="filename">
<app-tabs #appd00709ffb960f429f5cf71ad7ba76cdf5597fbb7></app-tabs>
</span><pre [class.hide]="appd00709ffb960f429f5cf71ad7ba76cdf5597fbb7.isJsActive"><code class="language-typescript">
$ npm install --save mongoose
$ npm install --save-dev @types/mongoose</code></pre>
<pre [class.hide]="!appd00709ffb960f429f5cf71ad7ba76cdf5597fbb7.isJsActive"><code class="language-typescript">
$ npm install --save mongoose</code></pre><p>The first step we need to do is to establish the connection with our database using <code>connect()</code> function. The <code>connect()</code> function returns a <code>Promise</code>, and therefore we have to create an <a routerLink="/fundamentals/async-components">async provider</a>.</p>

<span class="filename">
  {{ 'database.providers' | extension: appa5f78d7061b997a1beb9b748b5765aaf84f4433f.isJsActive }}
<app-tabs #appa5f78d7061b997a1beb9b748b5765aaf84f4433f></app-tabs>
</span><pre [class.hide]="appa5f78d7061b997a1beb9b748b5765aaf84f4433f.isJsActive"><code class="language-typescript">
import * as mongoose from &#39;mongoose&#39;;

export const databaseProviders = [
  &#123;
    provide: &#39;DATABASE_CONNECTION&#39;,
    useFactory: (): Promise&lt;typeof mongoose&gt; =&gt;
      mongoose.connect(&#39;mongodb://localhost/nest&#39;),
  &#125;,
];</code></pre>
<pre [class.hide]="!appa5f78d7061b997a1beb9b748b5765aaf84f4433f.isJsActive"><code class="language-typescript">
import * as mongoose from &#39;mongoose&#39;;

export const databaseProviders = [
  &#123;
    provide: &#39;DATABASE_CONNECTION&#39;,
    useFactory: () =&gt; mongoose.connect(&#39;mongodb://localhost/nest&#39;),
  &#125;,
];</code></pre><blockquote class="
info "><strong>Hint</strong> Following best practices, we declared the custom provider in the separated file which has a <code>*.providers.ts</code> suffix.
</blockquote>
<p>Then, we need to export these providers to make them <strong>accessible</strong> for the rest part of the application.</p>

<span class="filename">
  {{ 'database.module' | extension: appce3ec975250a6d828480fba4961c3c8703daed9d.isJsActive }}
<app-tabs #appce3ec975250a6d828480fba4961c3c8703daed9d></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; databaseProviders &#125; from &#39;./database.providers&#39;;

@Module(&#123;
  providers: [...databaseProviders],
  exports: [...databaseProviders],
&#125;)
export class DatabaseModule &#123;&#125;</code></pre><p>Now we can inject the <code>Connection</code> object using <code>@Inject()</code> decorator. Each class that would depend on the <code>Connection</code> async provider will wait until a <code>Promise</code> is resolved.</p>
<h4 appAnchor id="model-injection"><span>Model injection</span></h4>
<p>With Mongoose, everything is derived from a <a href="http://mongoosejs.com/docs/guide.html">Schema</a>. Let&#39;s define the <code>CatSchema</code>:</p>

<span class="filename">
  {{ 'schemas/cats.schema' | extension: appee829e30178a4718ebf8075b97ca1dcdb172de73.isJsActive }}
<app-tabs #appee829e30178a4718ebf8075b97ca1dcdb172de73></app-tabs>
</span><pre><code class="language-typescript">
import * as mongoose from &#39;mongoose&#39;;

export const CatSchema = new mongoose.Schema(&#123;
  name: String,
  age: Number,
  breed: String,
&#125;);</code></pre><p>The <code>CatsSchema</code> belongs to the <code>cats</code> directory. This directory represents the <code>CatsModule</code>.</p>
<p>Now it&#39;s time to create a <strong>Model</strong> provider:</p>

<span class="filename">
  {{ 'cats.providers' | extension: app4838a8f2e660beab2d7f461ef8f18416d42b9818.isJsActive }}
<app-tabs #app4838a8f2e660beab2d7f461ef8f18416d42b9818></app-tabs>
</span><pre [class.hide]="app4838a8f2e660beab2d7f461ef8f18416d42b9818.isJsActive"><code class="language-typescript">
import &#123; Connection &#125; from &#39;mongoose&#39;;
import &#123; CatSchema &#125; from &#39;./schemas/cat.schema&#39;;

export const catsProviders = [
  &#123;
    provide: &#39;CAT_MODEL&#39;,
    useFactory: (connection: Connection) =&gt; connection.model(&#39;Cat&#39;, CatSchema),
    inject: [&#39;DATABASE_CONNECTION&#39;],
  &#125;,
];</code></pre>
<pre [class.hide]="!app4838a8f2e660beab2d7f461ef8f18416d42b9818.isJsActive"><code class="language-typescript">
import &#123; CatSchema &#125; from &#39;./schemas/cat.schema&#39;;

export const catsProviders = [
  &#123;
    provide: &#39;CAT_MODEL&#39;,
    useFactory: (connection) =&gt; connection.model(&#39;Cat&#39;, CatSchema),
    inject: [&#39;DATABASE_CONNECTION&#39;],
  &#125;,
];</code></pre><blockquote class="
"><strong>Notice</strong> In the real-world applications you should avoid <strong>magic strings</strong>. Both <code>CAT_MODEL</code> and <code>DATABASE_CONNECTION</code> should be kept in the separated <code>constants.ts</code> file.
</blockquote>
<p>Now we can inject the <code>CAT_MODEL</code> to the <code>CatsService</code> using the <code>@Inject()</code> decorator:</p>

<span class="filename">
  {{ 'cats.service' | extension: app576512871cc460e7ea156567e3ed1fa541741ad5.isJsActive }}
<app-tabs #app576512871cc460e7ea156567e3ed1fa541741ad5></app-tabs>
</span><pre [class.hide]="app576512871cc460e7ea156567e3ed1fa541741ad5.isJsActive"><code class="language-typescript">
import &#123; Model &#125; from &#39;mongoose&#39;;
import &#123; Injectable, Inject &#125; from &#39;@nestjs/common&#39;;
import &#123; Cat &#125; from &#39;./interfaces/cat.interface&#39;;
import &#123; CreateCatDto &#125; from &#39;./dto/create-cat.dto&#39;;

@Injectable()
export class CatsService &#123;
  constructor(
    @Inject(&#39;CAT_MODEL&#39;)
    private readonly catModel: Model&lt;Cat&gt;,
  ) &#123;&#125;

  async create(createCatDto: CreateCatDto): Promise&lt;Cat&gt; &#123;
    const createdCat = new this.catModel(createCatDto);
    return await createdCat.save();
  &#125;

  async findAll(): Promise&lt;Cat[]&gt; &#123;
    return await this.catModel.find().exec();
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app576512871cc460e7ea156567e3ed1fa541741ad5.isJsActive"><code class="language-typescript">
import &#123; Injectable, Dependencies &#125; from &#39;@nestjs/common&#39;;

@Injectable()
@Dependencies(&#39;CAT_MODEL&#39;)
export class CatsService &#123;
  constructor(catModel) &#123;
    this.catModel = catModel;
  &#125;

  async create(createCatDto) &#123;
    const createdCat = new this.catModel(createCatDto);
    return await createdCat.save();
  &#125;

  async findAll() &#123;
    return await this.catModel.find().exec();
  &#125;
&#125;</code></pre><p>In the above example we have used the <code>Cat</code> interface. This interface extends the <code>Document</code> from the mongoose package:</p>
<pre><code class="language-typescript">
import &#123; Document &#125; from &#39;mongoose&#39;;

export interface Cat extends Document &#123;
  readonly name: string;
  readonly age: number;
  readonly breed: string;
&#125;</code></pre>
<p>The database connection is <strong>asynchronous</strong>, but Nest makes this process completely invisible for the end-user. The <code>CatModel</code> class is waiting for the db connection, and the <code>CatsService</code> is delayed until model is ready to use. The entire application can start when each class is instantiated.</p>
<p>Here is a final <code>CatsModule</code>:</p>

<span class="filename">
  {{ 'cats.module' | extension: app2893efe9bbf0d4b14d4309c637415bac74c4aa34.isJsActive }}
<app-tabs #app2893efe9bbf0d4b14d4309c637415bac74c4aa34></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;
import &#123; catsProviders &#125; from &#39;./cats.providers&#39;;
import &#123; DatabaseModule &#125; from &#39;../database/database.module&#39;;

@Module(&#123;
  imports: [DatabaseModule],
  controllers: [CatsController],
  providers: [
    CatsService,
    ...catsProviders,
  ],
&#125;)
export class CatsModule &#123;&#125;</code></pre><blockquote class="
warning "><strong>Hint</strong> Do not forget to import the <code>CatsModule</code> into the root <code>ApplicationModule</code>.
</blockquote>

    </div>
