@import '../../../../scss/utils.scss';
@import '../../../../scss/variables.scss';

.toc-wrapper {
  width: 250px;
  padding-left: 45px;
  box-sizing: border-box;
  position: fixed;
  top: 90px;
  right: 20px;
  max-height: 350px;
  max-height: calc(100vh - 350px);

  @media print {
    display: none;
  }

  ul {
    position: relative;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      width: 2px;
      background: #efefef;
    }
  }

  li {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;

    &:hover {
      color: $red-color;
    }
  }

  .current {
    color: $red-color;
    font-weight: 600;

    &::before {
      background: $red-color;
      border-color: $red-color;
      border-width: 1px;
      left: -3px;
    }
  }

  li {
    &::before {
      @include radius(50%);
      @include transform(translateY(-50%));

      content: '';
      background: #fdfdfd;
      border: 2px solid #efefef;
      left: -4px;
      width: 6px;
      height: 6px;
      top: 50%;
      display: inline-block;
      position: absolute;
    }

    &:last-of-type::before {
      top: auto;
      bottom: 0;
    }
  }

  a {
    color: #404040;
    font-weight: normal;
    &:hover {
      color: $red-color;
    }
  }

  .current a {
    font-weight: 600;
    color: $red-color;
  }
}
