<div class="content">
  <h3>SQL (TypeORM)</h3>
  <h5>This chapter applies only to TypeScript</h5>
  <blockquote>
    <strong>Warning</strong> In this article, you'll learn how to create a <code>DatabaseModule</code>
    based on the <strong>TypeORM</strong> package from scratch using custom providers mechanism. As a consequence, this solution
    contains a lot of overhead that you can omit using ready to use and available out-of-the-box dedicated
    <code>@nestjs/typeorm</code> package. To learn more, see <a routerLink="/techniques/sql">here</a>.
  </blockquote>
  <p>
    <a href="https://github.com/typeorm/typeorm" target="blank">TypeORM</a> is definitely the most mature Object Relational Mapper (ORM) available in the node.js world.
    Since it's written in TypeScript, it works pretty well with the Nest framework.
    To start the adventure with this library we have to install all required dependencies:
  </p>
  <pre><code class="language-typescript">{{ dependencies }}</code></pre>
  <p>
    The first step we need to do is to establish the connection with our database using <code>createConnection()</code> function imported from the <code>typeorm</code> package.
    The <code>createConnection()</code> function returns a <code>Promise</code>, therefore we have to create an <a routerLink="/fundamentals/async-components">async provider</a>.
  </p>
  <span class="filename">database.providers.ts</span>
  <pre><code class="language-typescript">{{ databaseProviders }}</code></pre>
  <blockquote class="warning">
      <strong>Hint</strong> Following best practices, we declared the custom provider in the separated file which has a <code>*.providers.ts</code> suffix.
   </blockquote>
   <p>
     Then, we need to export these providers to make them <strong>accessible</strong> for the rest part of the application.
  </p>
  <span class="filename">database.module.ts</span>
  <pre><code class="language-typescript">{{ databaseModule }}</code></pre>
  <p>
    Now we can inject the <code>Connection</code> object using <code>@Inject()</code> decorator.
    Each class that would depend on the <code>Connection</code> async provider will wait until a <code>Promise</code> is resolved.
  </p>
  <h4>Repository pattern</h4>
  <p>
    The <a href="https://github.com/typeorm/typeorm" target="blank">TypeORM</a> supports the repository design pattern, thus each entity has its own Repository. These repositories can be obtained from the database connection.
  </p>
  <p>
    But firstly, we need at least one entity. We are going to reuse the <code>Photo</code> entity from the official documentation.
  </p>
  <span class="filename">photo/photo.entity.ts</span>
  <pre><code class="language-typescript">{{ photoEntity }}</code></pre>
  <p>
    The <code>Photo</code> entity belongs to the <code>photo</code> directory.
    This directory represents the <code>PhotoModule</code>.
    Now, let's create a <strong>Repository</strong> provider:
  </p>
  <span class="filename">photo.providers.ts</span>
  <pre><code class="language-typescript">{{ photoProviders }}</code></pre>
  <blockquote>
      <strong>Notice</strong> In the real-world applications you should avoid <strong>magic strings</strong>. Both <code>PhotoRepositoryToken</code> and <code>DbConnectionToken</code> should be kept in the separated <code>constants.ts</code> file. 
   </blockquote>
   <p>
     Now we can inject the <code>PhotoRepository</code> to the <code>PhotoService</code> using the <code>@Inject()</code> decorator:
   </p>
   <span class="filename">photo.service.ts</span>
  <pre><code class="language-typescript">{{ photoService }}</code></pre>
  <p>
    The database connection is <strong>asynchronous</strong>, but Nest makes this process completely invisible for the end-user.
    The <code>PhotoRepository</code> is waiting for the db connection, and the <code>PhotoService</code> is delayed until repository is ready to use.
    The entire application can start when each class is instantiated.
  </p>
  <p>
    Here is a final <code>PhotoModule</code>:
  </p>
  <span class="filename">photo.module.ts</span>
  <pre><code class="language-typescript">{{ photoModule }}</code></pre>
  <blockquote class="warning">
      <strong>Hint</strong> Don't forget to import the <code>PhotoModule</code> into the root <code>ApplicationModule</code>.
   </blockquote>
</div>
