<div class="content" #contentReference>
      <h3 id="sql-typeorm">SQL (TypeORM)</h3>
<h5 id="this-chapter-applies-only-to-typescript">This chapter applies only to TypeScript</h5>
<blockquote class="
"><strong>Warning</strong> In this article, you&#39;ll learn how to create a <code>DatabaseModule</code> based on the <strong>TypeORM</strong> package from scratch using custom providers mechanism. As a consequence, this solution contains a lot of overhead that you can omit using ready to use and available out-of-the-box dedicated <code>@nestjs/typeorm</code> package. To learn more, see <a routerLink="/techniques/sql">here</a>.
</blockquote>
<p><a href="https://github.com/typeorm/typeorm">TypeORM</a> is definitely the most mature Object Relational Mapper (ORM) available in the node.js world. Since it&#39;s written in TypeScript, it works pretty well with the Nest framework.</p>
<h4 appAnchor id="getting-started"><span>Getting started</span></h4>
<p>To start the adventure with this library we have to install all required dependencies:</p>
<pre><code class="language-bash">
$ npm install --save typeorm mysql</code></pre>
<p>The first step we need to do is to establish the connection with our database using <code>createConnection()</code> function imported from the <code>typeorm</code> package. The <code>createConnection()</code> function returns a <code>Promise</code>, and therefore we have to create an <a routerLink="/fundamentals/async-components">async provider</a>.</p>

<span class="filename">
  {{ 'database.providers' | extension: app08aff0e8ec695b37f94cdce5df4265cd5b04c35d.isJsActive }}
<app-tabs #app08aff0e8ec695b37f94cdce5df4265cd5b04c35d></app-tabs>
</span><pre><code class="language-typescript">
import &#123; createConnection &#125; from &#39;typeorm&#39;;

export const databaseProviders = [
  &#123;
    provide: &#39;DATABASE_CONNECTION&#39;,
    useFactory: async () =&gt; await createConnection(&#123;
      type: &#39;mysql&#39;,
      host: &#39;localhost&#39;,
      port: 3306,
      username: &#39;root&#39;,
      password: &#39;root&#39;,
      database: &#39;test&#39;,
      entities: [
          __dirname + &#39;/../**/*.entity&#123;.ts,.js&#125;&#39;,
      ],
      synchronize: true,
    &#125;),
  &#125;,
];</code></pre><blockquote class="
warning "><strong>Hint</strong> Following best practices, we declared the custom provider in the separated file which has a <code>*.providers.ts</code> suffix.
</blockquote>
<p>Then, we need to export these providers to make them <strong>accessible</strong> for the rest of the application.</p>

<span class="filename">
  {{ 'database.module' | extension: appe832c6bdb6d98bdca05bf634aa64af97fb02bfd5.isJsActive }}
<app-tabs #appe832c6bdb6d98bdca05bf634aa64af97fb02bfd5></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; databaseProviders &#125; from &#39;./database.providers&#39;;

@Module(&#123;
  providers: [...databaseProviders],
  exports: [...databaseProviders],
&#125;)
export class DatabaseModule &#123;&#125;</code></pre><p>Now we can inject the <code>Connection</code> object using <code>@Inject()</code> decorator. Each class that would depend on the <code>Connection</code> async provider will wait until a <code>Promise</code> is resolved.</p>
<h4 appAnchor id="repository-pattern"><span>Repository pattern</span></h4>
<p>The <a href="https://github.com/typeorm/typeorm">TypeORM</a> supports the repository design pattern, thus each entity has its own Repository. These repositories can be obtained from the database connection.</p>
<p>But firstly, we need at least one entity. We are going to reuse the <code>Photo</code> entity from the official documentation.</p>

<span class="filename">
  {{ 'photo.entity' | extension: app10a364b6e807662be24c9b6d362b89e8812a3301.isJsActive }}
<app-tabs #app10a364b6e807662be24c9b6d362b89e8812a3301></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Entity, Column, PrimaryGeneratedColumn &#125; from &#39;typeorm&#39;;

@Entity()
export class Photo &#123;
  @PrimaryGeneratedColumn()
  id: number;

  @Column(&#123; length: 500 &#125;)
  name: string;

  @Column(&#39;text&#39;)
  description: string;

  @Column()
  filename: string;

  @Column(&#39;int&#39;)
  views: number;

  @Column()
  isPublished: boolean;
&#125;</code></pre><p>The <code>Photo</code> entity belongs to the <code>photo</code> directory. This directory represents the <code>PhotoModule</code>. Now, let&#39;s create a <strong>Repository</strong> provider:</p>

<span class="filename">
  {{ 'photo.providers' | extension: appbac30de116847124edbebc80e36954a92b9f5cf4.isJsActive }}
<app-tabs #appbac30de116847124edbebc80e36954a92b9f5cf4></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Connection, Repository &#125; from &#39;typeorm&#39;;
import &#123; Photo &#125; from &#39;./photo.entity&#39;;

export const photoProviders = [
  &#123;
    provide: &#39;PHOTO_REPOSITORY&#39;,
    useFactory: (connection: Connection) =&gt; connection.getRepository(Photo),
    inject: [&#39;DATABASE_CONNECTION&#39;],
  &#125;,
];</code></pre><blockquote class="
warning "><strong>Notice</strong> In the real-world applications you should avoid <strong>magic strings</strong>. Both <code>PHOTO_REPOSITORY</code> and <code>DATABASE_CONNECTION</code> should be kept in the separated <code>constants.ts</code> file.
</blockquote>
<p>Now we can inject the <code>Repository&lt;Photo&gt;</code> to the <code>PhotoService</code> using the <code>@Inject()</code> decorator:</p>

<span class="filename">
  {{ 'photo.service' | extension: app189333e71b51c68e67d8a9eb73fb5bd50aaaa852.isJsActive }}
<app-tabs #app189333e71b51c68e67d8a9eb73fb5bd50aaaa852></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Injectable, Inject &#125; from &#39;@nestjs/common&#39;;
import &#123; Repository &#125; from &#39;typeorm&#39;;
import &#123; Photo &#125; from &#39;./photo.entity&#39;;

@Injectable()
export class PhotoService &#123;
  constructor(
    @Inject(&#39;PHOTO_REPOSITORY&#39;)
    private readonly photoRepository: Repository&lt;Photo&gt;,
  ) &#123;&#125;

  async findAll(): Promise&lt;Photo[]&gt; &#123;
    return await this.photoRepository.find();
  &#125;
&#125;</code></pre><p>The database connection is <strong>asynchronous</strong>, but Nest makes this process completely invisible for the end-user. The <code>PhotoRepository</code> is waiting for the db connection, and the <code>PhotoService</code> is delayed until repository is ready to use. The entire application can start when each class is instantiated.</p>
<p>Here is a final <code>PhotoModule</code>:</p>

<span class="filename">
  {{ 'photo.module' | extension: app5a5281e0e5aec69f40fd10b45f5ffd612d9f8139.isJsActive }}
<app-tabs #app5a5281e0e5aec69f40fd10b45f5ffd612d9f8139></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; DatabaseModule &#125; from &#39;../database/database.module&#39;;
import &#123; photoProviders &#125; from &#39;./photo.providers&#39;;
import &#123; PhotoService &#125; from &#39;./photo.service&#39;;

@Module(&#123;
  imports: [DatabaseModule],
  providers: [
    ...photoProviders,
    PhotoService,
  ],
&#125;)
export class PhotoModule &#123;&#125;</code></pre><blockquote class="
warning "><strong>Hint</strong> Do not forget to import the <code>PhotoModule</code> into the root <code>ApplicationModule</code>.
</blockquote>

    </div>
