@import '../../scss/utils.scss';
@import '../../scss/variables.scss';

.container-fluid {
  position: relative;
  display: block;
  table-layout: fixed;
  width: 100%;
  min-height: 100vh;
}

.logo-wrapper {
  svg,
  img {
    width: 110px;
    height: 50px;
  }
}
.container {
  @extend .transition;
  @extend .box-sizing;
  //@include transform(translateX(265px));
  margin-left: 265px;
  width: calc(100% - 265px);
  padding: 85px 85px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &.wide {
    //@include transform(translateX(0));
    margin-left: 0;
    width: 100%;
    display: block;
  }

  @include media(large) {
    //@include transform(translateX(265px));
    margin-left: 265px;
    width: calc(100% - 265px);
    padding: 85px 50px 0;
    &.wide {
      width: 100%;
    }
  }
  @include media(medium) {
    //@include transform(translateX(0));
    margin-left: 0;
    width: 100%;
    padding: 85px 20px 0;
  }
}

.page-wrapper {
  color: $grey-color;
  line-height: 26px;

  a {
    font-weight: 600;
    color: $red-color;
    &:hover {
      color: #0894e2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black-color;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 45px 0 20px;
  }
  h4 {
    font-weight: 600;
    margin: 40px 0 -5px;
  }
  h3,
  h4 {
    a {
      @include opacity(0);
      margin-left: 0.1em;
      padding: 0 0.25rem;
    }
    span:hover + a,
    span + a:hover,
    a:focus {
      @include opacity(1);
    }
    &::before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 5em;
      margin-top: -5em;
      pointer-events: none;
    }
  }
  h5 {
    color: $grey-color;
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  h3:first-of-type {
    margin: 20px 0;
  }
  h3 + h5 {
    margin-top: -10px !important;
  }
  p {
    text-align: justify;
  }
}

.sponsors-wrapper {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 60px;
  margin-top: 20px;
  position: relative;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $red-color;
    font-weight: 600;
    &:hover {
      color: #0894e2;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
  }

  h4 {
    color: #1b2247;
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    margin: 30px 0 18px;
  }

  .title {
    margin: 50px 0 25px;
  }

  p {
    margin: 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #4e4e4e;
  }

  .logo-sponsor {
    width: 280px;
  }

  .logo-sponsor-small {
    width: 150px;
    margin-bottom: 30px;
    display: block;
  }

  .logo-blueanchor {
    width: 200px;
  }

  .btn-primary {
    border: 2px solid $red-color;
    color: $red-color;
    padding: 12px 20px;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 50px;

    &:hover {
      color: #0894e2;
      border-color: #0894e2;
    }

    @include media(medium) {
      position: static;
      margin-top: 30px;
    }
  }
}

.backers-wrapper {
  margin-top: 10px;
  img {
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

.inline-column {
  width: 50%;
  vertical-align: top;
  margin: 0;
  float: left;

  @include media(normal) {
    width: 100%;
    float: none;
  }
}

.toc-wrapper,
.content {
  display: inline-block;
  vertical-align: top;
}

.content {
  width: calc(100% - 220px);
  @include media(large) {
    width: 100%;
  }

  .row {
    display: flex;
    @include media(normal) {
      display: block;
    }
  }

  .thumbnail {
    width: 400px;

    @include media(normal) {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
    }

    &.p-l-30 img {
      padding-left: 30px;

      @include media(normal) {
        padding-left: 0;
      }
    }

    &.p-r-30 img {
      padding-right: 30px;

      @include media(normal) {
        padding-right: 0;
      }
    }
  }

  .content {
    flex-basis: 55%;
  }
}

.toc-wrapper {
  @include media(large) {
    display: none;
  }
}

.company-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
}

.company-logo img {
  max-width: 130px;
  max-height: 90px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;

  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
}

.companies-list a {
  color: #404040;
  font-size: 15px;
  font-weight: 400;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1;
}

.carbon-wrapper {
  #carbonads {
    position: fixed;
    z-index: 11;
    display: block;
    right: 65px;
    bottom: 20px;
    overflow: hidden;
    padding: 1em;
    background: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    max-width: 130px;
  }

  @include media(large) {
    #carbonads {
      padding: 30px 0 30px 30px;
      float: right;
      position: static;
    }
  }
}
