<app-header (toggle)="toggleSidebar()" [isSidebarOpened]="isSidebarOpened">
  <div class="logo-wrapper">
    <a
      href="https://docs.nestjs.com/"
      title="Documentation | NestJS - A node.js framework built on top of TypeScript"
    >
      <img src="/assets/logo_text.svg" />
    </a>
  </div>
</app-header>
<div class="container-fluid">
  <app-menu [class.opened]="isSidebarOpened" perfectScrollbar></app-menu>
  <div class="container" [class.wide]="!isSidebarOpened">
    <div class="page-wrapper">
      <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
      <app-toc [contentReference]="contentRef"></app-toc>
    </div>
    <div class="sponsors-wrapper">
      <div class="sponsors-container">
        <h3>Support us</h3>
        <p>
          Nest is an MIT-licensed open source project. It can grow thanks to the
          support by these awesome people. If you'd like to join them, please
          read more <a routerLink="/support">here</a>.
        </p>
        <div class="row clearfix">
          <div class="inline-column">
            <h4 class="title">Principal Sponsor</h4>
            <a href="https://valor-software.com/">
              <img
                src="/assets/sponsors/valor-software.png"
                class="logo-sponsor"
              />
            </a>
          </div>
          <div class="inline-column">
            <h4 class="title">Sponsors / Partners</h4>
            <!---<a href="https://blueanchor.io/">
              <img
                src="https://nestjs.com/img/blueanchor.png"
                class="logo-sponsor-small logo-blueanchor"
              />
            </a>
            <a href="https://novologic.com/">
              <img
                src="https://nestjs.com/img/novologic.png"
                class="logo-sponsor-small"
              />
            </a>-->
            <a
              href="https://opencollective.com/nest"
              class="btn btn-primary"
              target="blank"
            >
              Become a sponsor
            </a>
            <!--<div class="backers-wrapper">
              <a href="https://opencollective.com/nest/backer/{{ id }}/website" *ngFor="let id of backerIds" target="_blank">
                <img src="https://opencollective.com/nest/backer/{{ id }}/avatar.svg">
              </a>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <app-footer>
      <p>
        Made by
        <a
          href="https://kamilmysliwiec.com"
          title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
        >
          Kamil Myśliwiec
        </a>
      </p>
    </app-footer>
  </div>
</div>
