@import '../../scss/utils.scss';
@import '../../scss/variables.scss';

.container-fluid {
  position: relative;
  display: block;
  table-layout: fixed;
  width: 100%;
  min-height: 100vh;
}

.logo-wrapper {
  svg,
  img {
    width: 42px;
    height: 50px;
  }
}
.container {
  @extend .transition;
  @extend .box-sizing;
  //@include transform(translateX(250px));
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 85px 85px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &.wide {
    //@include transform(translateX(0));
    margin-left: 0;
    width: 100%;
    display: block;
  }

  @include media(large) {
    //@include transform(translateX(250px));
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 85px 50px 0;
    &.wide {
      width: 100%;
    }
  }
  @include media(medium) {
    //@include transform(translateX(0));
    margin-left: 0;
    width: 100%;
    padding: 85px 20px 0;
  }

  @media print {
    margin-left: 0;
    width: 100%;
    padding: 0 20px 0;
  }
}

.page-wrapper {
  color: $grey-color;
  line-height: 26px;

  a {
    font-weight: 600;
    color: $red-color;
    &:hover {
      color: #0894e2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black-color;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 45px 0 20px;
  }
  h4 {
    font-weight: 600;
    margin: 40px 0 -5px;
  }
  h3,
  h4 {
    a {
      @include opacity(0);
      margin-left: 0.1em;
      padding: 0 0.25rem;
    }
    span:hover + a,
    span + a:hover,
    a:focus {
      @include opacity(1);
    }
    &::before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 5em;
      margin-top: -5em;
      pointer-events: none;
    }
  }
  h5 {
    color: $grey-color;
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  h3:first-of-type {
    margin: 20px 0;
  }
  h3 + h5 {
    margin-top: -10px !important;
  }
  p {
    // text-align: justify;
  }
}

.sponsors-wrapper {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 60px;
  margin-top: 20px;
  position: relative;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $red-color;
    font-weight: 600;
    &:hover {
      color: #0894e2;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
  }

  h4 {
    color: #1b2247;
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    margin: 30px 0 18px;
  }

  .title {
    margin: 50px 0 25px;
  }

  p {
    margin: 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #4e4e4e;
  }

  .logo-sponsor {
    //width: 280px;
    margin-top: 10px;
    width: 180px;
    filter: grayscale(1);
    &:first-of-type {
      margin-right: 30px;
      margin-bottom: 10px;
    }
    &:hover {
      filter: grayscale(0);
    }
  }

  .logo-sponsor-small {
    width: 150px;
    margin-bottom: 30px;
    display: block;
  }

  .logo-blueanchor {
    width: 200px;
  }

  .btn-primary {
    border: 2px solid $red-color;
    color: $red-color;
    padding: 12px 20px;
    display: inline-block;

    &:hover {
      color: #0894e2;
      border-color: #0894e2;
    }
  }
}

.sponsors-carbon {
  @media (min-width: 1200px) {
    width: calc(100% - 220px);
  }
}

.backers-wrapper {
  margin-top: 10px;
  img {
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

.inline-column {
  width: 50%;
  vertical-align: top;
  margin: 0;
  float: left;

  @include media(normal) {
    width: 100%;
    float: none;
  }
}

.toc-wrapper,
.content,
.companies-wrapper {
  display: inline-block;
  vertical-align: top;
}

.content,
.companies-wrapper {
  width: calc(100% - 220px);
  @media print {
    width: 100%;
  }
  @include media(large) {
    width: 100%;
  }

  .row {
    display: flex;
    @include media(normal) {
      display: block;
    }
  }

  .thumbnail {
    width: 400px;

    @include media(normal) {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      padding-top: 10px;
      padding-bottom: 0;
      box-sizing: border-box;
    }

    &.p-l-30 img {
      padding-left: 30px;

      @include media(normal) {
        padding-left: 0;
      }
    }

    &.p-r-30 img {
      padding-right: 30px;

      @include media(normal) {
        padding-right: 0;
      }
    }
  }

  .content {
    flex-basis: 55%;
  }

  .contact-us {
    background: $red-color;
    color: #fff;
    padding: 20px 30px;
    border-radius: 3px;
    margin: 35px 0;
    display: flex;
    align-items: center;

    @include media(medium) {
      display: block;
      text-align: center;
      p {
        text-align: center;
      }
    }

    h5 {
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
      background: #fff;
      border: 2px solid #fff;
      box-sizing: border-box;
      padding: 8px 16px;
      border-radius: 4px;
      float: right;
      display: block;
      text-align: center;

      &:hover {
        background: transparent;
        color: #fff;
      }

      @include media(medium) {
        width: 150px;
        margin: 15px auto 0;
        float: none;
      }
    }

    .column {
      justify-content: center;
      flex-direction: column;
    }
    .column-text {
      flex-grow: 3;
      margin-right: 20px;
    }
  }
}

.github-links {
  float: right;
  margin-top: 24px;

  svg {
    font-size: 17px;
    color: $black-color;
    &:hover {
      color: $red-color;
    }
  }
}

.toc-wrapper {
  @include media(large) {
    display: none;
  }
}

.company-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
}

.company-logo img {
  max-width: 130px;
  max-height: 90px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;

  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
}

.companies-list a {
  color: #404040;
  font-size: 15px;
  font-weight: 400;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

#carbonads_1,
#carbonads_2 {
  display: none;
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1;
}

.carbon-wrapper {
  #carbonads {
    position: fixed;
    z-index: 11;
    display: block;
    right: 65px;
    bottom: 20px;
    overflow: hidden;
    padding: 1em;
    background: #fdfdfd;
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    max-width: 130px;
  }

  @include media(large) {
    #carbonads {
      padding: 30px 0 30px 30px;
      float: right;
      position: static;
    }
  }

  @include media(medium) {
    #carbonads {
      padding: 30px 0 15px 25px;
      text-align: left;
    }
  }

  @media print {
    display: none;
  }
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 460px;
  min-width: 460px;
  margin-top: 18px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: #151515;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #757575;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: 600;
  color: 151515;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  color: gray;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: $red-color;
  background: #fff2f4;
}

.algolia-autocomplete
  .ds-dropdown-menu
  .ds-suggestion.ds-cursor
  .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete
  .ds-dropdown-menu
  .ds-suggestion.ds-cursor
  .algolia-docsearch-suggestion:not(.suggestion-layout-simple)
  .algolia-docsearch-suggestion--content {
  background: #fff8f9;
}
