[submodule "sources/nest"]
	path = sources/nest
	url = https://github.com/BrunnerLivio/nest
	branch=feature/api-docs
[submodule "sources/terminus"]
	path = sources/terminus
	url = https://github.com/nestjs/terminus
	branch = feature/api-docs
[submodule "sources/passport"]
	path = sources/passport
	url = https://github.com/BrunnerLivio/passport.git
  branch = feature/api-docs
[submodule "sources/elasticsearch"]
	path = sources/elasticsearch
	url = https://github.com/BrunnerLivio/elasticsearch.git
  branch = feature/api-docs
[submodule "sources/cqrs"]
	path = sources/cqrs
	url = https://github.com/BrunnerLivio/cqrs.git
  branch = feature/api-docs
[submodule "sources/jwt"]
	path = sources/jwt
	url = https://github.com/BrunnerLivio/jwt.git
  branch = feature/api-docs
[submodule "sources/mongoose"]
	path = sources/mongoose
	url = https://github.com/BrunnerLivio/mongoose.git
  branch = feature/api-docs
[submodule "sources/ng-universal"]
	path = sources/ng-universal
	url = https://github.com/BrunnerLivio/ng-universal.git
  branch = feature/api-docs
[submodule "sources/graphql"]
	path = sources/graphql
	url = https://github.com/BrunnerLivio/graphql.git
  branch = feature/api-docs
