[submodule "sources/nest"]
	path = sources/nest
	url = https://github.com/BrunnerLivio/nest
	branch=fix/jsdoc-comments
[submodule "sources/terminus"]
	path = sources/terminus
	url = https://github.com/nestjs/terminus
	branch = feature/api-docs
[submodule "sources/passport"]
	path = sources/passport
	url = https://github.com/BrunnerLivio/passport.git
[submodule "sources/elasticsearch"]
	path = sources/elasticsearch
	url = https://github.com/BrunnerLivio/elasticsearch.git
