# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/*
!/dist/v4
!/dist/v5

/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.vscode
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Mock API
/api/node_modules

# compiled templates
src/app/homepage/pages/application-context/application-context.component.html
src/app/homepage/pages/components/components.component.html
src/app/homepage/pages/custom-decorators/custom-decorators.component.html
src/app/homepage/pages/enterprise/enterprise.component.html
src/app/homepage/pages/first-steps/first-steps.component.html
src/app/homepage/pages/introduction/introduction.component.html
src/app/homepage/pages/migration/migration.component.html
src/app/homepage/pages/support/support.component.html
src/app/homepage/pages/cli/usages/usages.component.html
src/app/homepage/pages/cli/overview/overview.component.html
src/app/homepage/pages/cli/workspaces/workspaces.component.html
src/app/homepage/pages/cli/libraries/libraries.component.html
src/app/homepage/pages/cli/scripts/scripts.component.html
src/app/homepage/pages/faq/global-prefix/global-prefix.component.html
src/app/homepage/pages/faq/http-adapter/http-adapter.component.html
src/app/homepage/pages/faq/hybrid-application/hybrid-application.component.html
src/app/homepage/pages/faq/multiple-servers/multiple-servers.component.html
src/app/homepage/pages/fundamentals/lifecycle-events/lifecycle-events.component.html
src/app/homepage/pages/fundamentals/dynamic-modules/dynamic-modules.component.html
src/app/homepage/pages/fundamentals/async-components/async-components.component.html
src/app/homepage/pages/fundamentals/circular-dependency/circular-dependency.component.html
src/app/homepage/pages/fundamentals/platform-agnosticism/platform-agnosticism.component.html
src/app/homepage/pages/fundamentals/provider-scopes/provider-scopes.component.html
src/app/homepage/pages/fundamentals/dependency-injection/dependency-injection.component.html
src/app/homepage/pages/graphql/guards-interceptors/guards-interceptors.component.html
src/app/homepage/pages/graphql/mutations/mutations.component.html
src/app/homepage/pages/graphql/scalars/scalars.component.html
src/app/homepage/pages/graphql/subscriptions/subscriptions.component.html
src/app/homepage/pages/microservices/exception-filters/exception-filters.component.html
src/app/homepage/pages/microservices/grpc/grpc.component.html
src/app/homepage/pages/microservices/guards/guards.component.html
src/app/homepage/pages/microservices/mqtt/mqtt.component.html
src/app/homepage/pages/microservices/interceptors/interceptors.component.html
src/app/homepage/pages/microservices/nats/nats.component.html
src/app/homepage/pages/microservices/pipes/pipes.component.html
src/app/homepage/pages/microservices/rabbitmq/rabbitmq.component.html
src/app/homepage/pages/microservices/redis/redis.component.html
src/app/homepage/pages/recipes/documentation/documentation.component.html
src/app/homepage/pages/recipes/mongodb/mongodb.component.html
src/app/homepage/pages/recipes/sql-sequelize/sql-sequelize.component.html
src/app/homepage/pages/recipes/prisma/prisma.component.html
src/app/homepage/pages/recipes/sql-typeorm/sql-typeorm.component.html
src/app/homepage/pages/recipes/terminus/terminus.component.html
src/app/homepage/pages/techniques/caching/caching.component.html
src/app/homepage/pages/techniques/configuration/configuration.component.html
src/app/homepage/pages/techniques/file-upload/file-upload.component.html
src/app/homepage/pages/techniques/compression/compression.component.html
src/app/homepage/pages/techniques/http-module/http-module.component.html
src/app/homepage/pages/techniques/logger/logger.component.html
src/app/homepage/pages/techniques/mongo/mongo.component.html
src/app/homepage/pages/techniques/performance/performance.component.html
src/app/homepage/pages/techniques/mvc/mvc.component.html
src/app/homepage/pages/techniques/queues/queues.component.html
src/app/homepage/pages/techniques/security/security.component.html
src/app/homepage/pages/techniques/serialization/serialization.component.html
src/app/homepage/pages/techniques/validation/validation.component.html
src/app/homepage/pages/websockets/adapter/adapter.component.html
src/app/homepage/pages/websockets/exception-filters/exception-filters.component.html
src/app/homepage/pages/websockets/gateways/gateways.component.html
src/app/homepage/pages/websockets/interceptors/interceptors.component.html
src/app/homepage/pages/websockets/guards/guards.component.html
src/app/homepage/pages/websockets/pipes/pipes.component.html
src/app/homepage/pages/exception-filters/exception-filters.component.html
src/app/homepage/pages/guards/guards.component.html
src/app/homepage/pages/interceptors/interceptors.component.html
src/app/homepage/pages/middlewares/middlewares.component.html
src/app/homepage/pages/modules/modules.component.html
src/app/homepage/pages/fundamentals/unit-testing/unit-testing.component.html
src/app/homepage/pages/graphql/quick-start/quick-start.component.html
src/app/homepage/pages/graphql/resolvers-map/resolvers-map.component.html
src/app/homepage/pages/microservices/basics/basics.component.html
src/app/homepage/pages/recipes/cqrs/cqrs.component.html
src/app/homepage/pages/recipes/swagger/swagger.component.html
src/app/homepage/pages/techniques/authentication/authentication.component.html
src/app/homepage/pages/techniques/sql/sql.component.html
src/app/homepage/pages/controllers/controllers.component.html
src/app/homepage/pages/pipes/pipes.component.html
src/app/homepage/pages/recipes/crud/crud.component.html
src/app/homepage/pages/recipes/serve-static/serve-static.component.html
src/app/homepage/pages/recipes/hot-reload/hot-reload.component.html
src/app/homepage/pages/discover/who-uses/who-uses.component.html
src/app/homepage/pages/fundamentals/dynamic-modules/dynamic-modules.component.html

