<div class="content">
  <h3>HTTP module</h3>
  <p>
    <a href="https://github.com/axios/axios" target="blank">Axios</a> is rich-feature HTTP client that is widely used in
    dozens of applications. That's why Nest wraps this package and exposes it by default as a built-in <code>HttpModule</code>.
    The <code>HttpModule</code> exports <code>HttpService</code> that simply exposes axios-based methods to perform HTTP
    request, but also, transforms return types into <code>Observables</code>.
  </p>
  <p>
    In order to use a <code>HttpService</code>, we need to import <code>HttpModule</code>.
  </p>
  <pre><code class="language-typescript">{{ httpModule }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong> The <code>HttpModule</code> is exposed from <code>@nestjs/common</code> package.
  </blockquote>
  <p>
    Then, you can inject <code>HttpService</code>. This class is easily accessible from <code>@nestjs/common</code> package.
  </p>
  <span class="filename">
    <app-tabs #httpServiceT></app-tabs>
  </span>
  <pre [class.hide]="httpServiceT.isJsActive"><code class="language-typescript">{{ httpService }}</code></pre>
  <pre [class.hide]="!httpServiceT.isJsActive"><code class="language-typescript">{{ httpServiceJs }}</code></pre>
  <p>
    All methods return <code>AxiosResponse</code> wrapped with <code>Observable</code> object.
  </p>
  <h4>Configuration</h4>
  <p>
    <a href="https://github.com/axios/axios" target="blank">Axios</a> gives a bunch of options that you may take advantage
    of to make your <code>HttpService</code> even more powerful. Read more about them <a href="https://github.com/axios/axios#request-config"
      target="blank">here</a>. To configure underlying library instance, use <code>register()</code> method of <code>HttpModule</code>.
  </p>
  <pre><code class="language-typescript">{{ configuration }}</code></pre>
  <p>
    All these properties will be passed down to the <strong>axios</strong> constructor.
  </p>
</div>