<div class="content" #contentReference>
      <h3 id="http-module">HTTP module</h3>
<p><a href="https://github.com/axios/axios">Axios</a> is rich-feature HTTP client that is widely used in dozens of applications. That&#39;s why Nest wraps this package and exposes it by default as a built-in <code>HttpModule</code>. The <code>HttpModule</code> exports <code>HttpService</code> that simply exposes axios-based methods to perform HTTP request, but also, transforms return types into <code>Observables</code>.</p>
<p>In order to use a <code>HttpService</code>, we need to import <code>HttpModule</code>.</p>
<pre><code class="language-typescript">
@Module(&#123;
  imports: [HttpModule],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;&#125;</code></pre>
<blockquote class="
info "><strong>Hint</strong> The <code>HttpModule</code> is exposed from <code>@nestjs/common</code> package.
</blockquote>
<p>Then, you can inject <code>HttpService</code>. This class is easily accessible from <code>@nestjs/common</code> package.</p>

<span class="filename">
<app-tabs #appb11218165dca196b5274fd499b886389808f109d></app-tabs>
</span><pre [class.hide]="appb11218165dca196b5274fd499b886389808f109d.isJsActive"><code class="language-typescript">
@Injectable()
export class CatsService &#123;
  constructor(private readonly httpService: HttpService) &#123;&#125;

  findAll(): Observable&lt;AxiosResponse&lt;Cat[]&gt;&gt; &#123;
    return this.httpService.get(&#39;http://localhost:3000/cats&#39;);
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appb11218165dca196b5274fd499b886389808f109d.isJsActive"><code class="language-typescript">
@Injectable()
@Dependencies(HttpService)
export class CatsService &#123;
  constructor(httpService) &#123;
    this.httpService = httpService;
  &#125;

  findAll() &#123;
    return this.httpService.get(&#39;http://localhost:3000/cats&#39;);
  &#125;
&#125;</code></pre><p>All methods return <code>AxiosResponse</code> wrapped with <code>Observable</code> object.</p>
<h4 appAnchor id="configuration"><span>Configuration</span></h4>
<p><a href="https://github.com/axios/axios">Axios</a> gives a bunch of options that you may take advantage of to make your <code>HttpService</code> even more powerful. Read more about them <a href="https://github.com/axios/axios#request-config">here</a>. To configure underlying library instance, use <code>register()</code> method of <code>HttpModule</code>.</p>
<pre><code class="language-typescript">
@Module(&#123;
  imports: [
    HttpModule.register(&#123;
      timeout: 5000,
      maxRedirects: 5,
    &#125;),
  ],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;&#125;</code></pre>
<p>All these properties will be passed down to the <strong>axios</strong> constructor.</p>
<h4 appAnchor id="async-configuration"><span>Async configuration</span></h4>
<p>Quite often you might want to asynchronously pass your module options instead of passing them beforehand. In such case, use <code>registerAsync()</code> method, that provides a couple of various ways to deal with async data.</p>
<p>First possible approach is to use a factory function:</p>
<pre><code class="language-typescript">
HttpModule.forRootAsync(&#123;
  useFactory: () =&gt; (&#123;
    timeout: 5000,
    maxRedirects: 5,
  &#125;),
&#125;);</code></pre>
<p>Obviously, our factory behaves like every other one (might be <code>async</code> and is able to inject dependencies through <code>inject</code>).</p>
<pre><code class="language-typescript">
HttpModule.forRootAsync(&#123;
  imports: [ConfigModule],
  useFactory: async (configService: ConfigService) =&gt; (&#123;
    timeout: configService.getString(&#39;HTTP_TIMEOUT&#39;),
    maxRedirects: configService.getString(&#39;HTTP_MAX_REDIRECTS&#39;),
  &#125;),
  inject: [ConfigService],
&#125;);</code></pre>
<p>Alternatively, you are able to use class instead of a factory.</p>
<pre><code class="language-typescript">
HttpModule.forRootAsync(&#123;
  useClass: HttpConfigService,
&#125;);</code></pre>
<p>Above construction will instantiate <code>HttpConfigService</code> inside <code>HttpModule</code> and will leverage it to create options object. The <code>HttpConfigService</code> has to implement <code>HttpOptionsFactory</code> interface.</p>
<pre><code class="language-typescript">
@Injectable()
class HttpConfigService implements HttpOptionsFactory &#123;
  createHttpOptions(): HttpModuleOptions &#123;
    return &#123;
      timeout: 5000,
      maxRedirects: 5,
    &#125;;
  &#125;
&#125;</code></pre>
<p>In order to prevent the creation of <code>HttpConfigService</code> inside <code>HttpModule</code> and use a provider imported from a different module, you can use the <code>useExisting</code> syntax.</p>
<pre><code class="language-typescript">
HttpModule.forRootAsync(&#123;
  imports: [ConfigModule],
  useExisting: ConfigService,
&#125;);</code></pre>
<p>It works the same as <code>useClass</code> with one critical difference - <code>HttpModule</code> will lookup imported modules to reuse already created <code>ConfigService</code>, instead of instantiating it on its own.</p>

    </div>
