<div class="content" #contentReference>
      <h3 id="modules">Modules</h3>
<p>A module is a class annotated with a <code>@Module()</code> decorator. The <code>@Module()</code> decorator provides metadata that <strong>Nest</strong> makes use of to organize the application structure.</p>
<figure><img src="/assets/Modules_1.png" /></figure>

<p>Each application has at least one module, a <strong>root module</strong>. The root module is the place where Nest is starting to arrange the application graph. In fact, the root module could be the only module in your application, especially when the app is small. For large applications however, it doesn&#39;t make sense. In most cases, you&#39;ll have several modules, each with a closely related set of <strong>capabilities</strong>.</p>
<p>The <code>@Module()</code> decorator takes a single object whose properties describe the module:</p>
<table>
  <tr>
    <td><code>providers</code></td>
    <td>the providers that will be instantiated by the Nest injector and may be shared at least across this module.</td>
  </tr>
  <tr>
    <td><code>controllers</code></td>
    <td>the set of controllers which have to be created</td>
  </tr>
  <tr>
    <td><code>imports</code></td>
    <td>the list of imported modules that export the providers which are required in this module</td>
  </tr>
  <tr>
    <td><code>exports</code></td>
    <td>the subset of <code>providers</code> that are provided by this module and should be available in the other modules</td>
  </tr>
</table>

<p>The module <strong>encapsulates</strong> providers by default. It means that it&#39;s impossible to inject providers that are neither directly part of the current module nor they&#39;re exported from the imported modules.</p>
<h4 appAnchor id="feature-modules"><span>Feature modules</span></h4>
<p>The <code>CatsController</code> and <code>CatsService</code> belong to the same application domain. We shall consider to move them to a feature module, being the <code>CatsModule</code>.</p>

<span class="filename">
  {{ 'cats/cats.module.ts' | extension: app4bf828196992af1591dd14280e6d7623e936eb1c.isJsActive }}
<app-tabs #app4bf828196992af1591dd14280e6d7623e936eb1c></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> To create a module using CLI, simply execute <code>$ nest g module cats</code> command.
</blockquote>
<p>We defined the <code>cats.module.ts</code> file and after that moved everything related to this module into the <code>cats</code> directory. The last thing we need to do is import this module into the root module (<code>ApplicationModule</code>).</p>

<span class="filename">
  {{ 'app.module' | extension: app3b1e978e187b174b683b313239ce51d441a0a329.isJsActive }}
<app-tabs #app3b1e978e187b174b683b313239ce51d441a0a329></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsModule &#125; from &#39;./cats/cats.module&#39;;

@Module(&#123;
  imports: [CatsModule],
&#125;)
export class ApplicationModule &#123;&#125;</code></pre><p>That is how our directory structure looks right now:</p>
<div class="file-tree">
  <div class="item">src</div>
  <div class="children">
    <div class="item">cats</div>
    <div class="children">
      <div class="item">dto</div>
      <div class="children">
        <div class="item">create-cat.dto.ts</div>
      </div>
      <div class="item">interfaces</div>
      <div class="children">
        <div class="item">cat.interface.ts</div>
      </div>
      <div class="item">cats.service.ts</div>
      <div class="item">cats.controller.ts</div>
      <div class="item">cats.module.ts</div>
    </div>
    <div class="item">app.module.ts</div>
    <div class="item">main.ts</div>
  </div>
</div>

<h4 appAnchor id="shared-module"><span>Shared module</span></h4>
<p>In Nest, modules are <strong>singletons</strong> by default, and thus you can share the same instance of any provider between 2..* modules effortlessly.</p>
<figure><img src="/assets/Shared_Module_1.png" /></figure>

<p>Every module is a <strong>shared module</strong> in fact. Once created it can be reused by any module. Let&#39;s imagine that we want to share the <code>CatsService</code> instance between few other modules. In order to do that, we need to put the <code>CatsService</code> into <code>exports</code> array as shown below:</p>

<span class="filename">
  {{ 'cats.module' | extension: appa285eed82f54f06cf2e3c3c145baeb293d764daf.isJsActive }}
<app-tabs #appa285eed82f54f06cf2e3c3c145baeb293d764daf></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
  exports: [CatsService]
&#125;)
export class CatsModule &#123;&#125;</code></pre><p>Now each module which would import the <code>CatsModule</code> has an access to the <code>CatsService</code> and will share the same instance with all of the modules that import this module as well.</p>
<h4 appAnchor id="modules-re-exporting"><span>Modules re-exporting</span></h4>
<p>The modules can export their internal providers. Moreover, they can re-export modules imported by themselves.</p>
<pre><code class="language-typescript">
@Module(&#123;
  imports: [CommonModule],
  exports: [CommonModule],
&#125;)
export class CoreModule &#123;&#125;</code></pre>
<h4 appAnchor id="dependency-injection"><span>Dependency injection</span></h4>
<p>A module class can <strong>inject</strong> providers as well (e.g. for configuration purposes):</p>

<span class="filename">
  {{ 'cats.module' | extension: app7e46ed84d1ad464afc068ad85f3322cb521c6470.isJsActive }}
<app-tabs #app7e46ed84d1ad464afc068ad85f3322cb521c6470></app-tabs>
</span><pre [class.hide]="app7e46ed84d1ad464afc068ad85f3322cb521c6470.isJsActive"><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
export class CatsModule &#123;
  constructor(private readonly catsService: CatsService) &#123;&#125;
&#125;</code></pre>
<pre [class.hide]="!app7e46ed84d1ad464afc068ad85f3322cb521c6470.isJsActive"><code class="language-typescript">
import &#123; Module, Dependencies &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
&#125;)
@Dependencies(CatsService)
export class CatsModule &#123;
  constructor(catsService) &#123;
    this.catsService = catsService;
  &#125;
&#125;</code></pre><p>However, module classes cannot be injected by the providers due to the <a routerLink="/fundamentals/circular-dependency">circular dependency</a> .</p>
<h4 appAnchor id="global-modules"><span>Global modules</span></h4>
<p>If you have to import the same set of modules everywhere, it might be annoying. In <a href="https://angular.io">Angular</a>, the <code>providers</code> are registered in the global scope. Once defined, they&#39;re available everywhere. On the other hand, Nest encapsulates providers inside the module scope. You aren&#39;t able to use the module providers elsewhere without importing them. But sometimes, you may just want to provide a set of things which should be available always - out-of-the-box, for example: helpers, database connection, whatever. That&#39;s why you&#39;re able to make the module a <strong>global</strong> one.</p>
<pre><code class="language-typescript">
import &#123; Module, Global &#125; from &#39;@nestjs/common&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

@Global()
@Module(&#123;
  controllers: [CatsController],
  providers: [CatsService],
  exports: [CatsService],
&#125;)
export class CatsModule &#123;&#125;</code></pre>
<p>The <code>@Global()</code> decorator makes the module global-scoped. Global modules shall be registered <strong>only once</strong> , in best case by the root or core module. Afterward, the <code>CatsService</code> provider will be ubiquitous, although <code>CatsModule</code> won&#39;t be imported.</p>
<blockquote class="
info "><strong>Hint</strong> Making everything global is not a good decision. The global modules are available to reduce the amount of necessary boilerplate. The <code>imports</code> array is still the best way to make the module API transparent.
</blockquote>
<h4 appAnchor id="dynamic-modules"><span>Dynamic modules</span></h4>
<p>The Nest module system comes with a feature called <strong>dynamic modules</strong>. It enables you to create customizable modules without any effort. Let&#39;s have a look at the <code>DatabaseModule</code>:</p>

<span class="filename">
<app-tabs #appbb1de1225a117099afa4571e98036f71de23e785></app-tabs>
</span><pre [class.hide]="appbb1de1225a117099afa4571e98036f71de23e785.isJsActive"><code class="language-typescript">
import &#123; Module, DynamicModule &#125; from &#39;@nestjs/common&#39;;
import &#123; createDatabaseProviders &#125; from &#39;./database.providers&#39;;
import &#123; Connection &#125; from &#39;./connection.provider&#39;;

@Module(&#123;
  providers: [Connection],
&#125;)
export class DatabaseModule &#123;
  static forRoot(entities = [], options?): DynamicModule &#123;
    const providers = createDatabaseProviders(options, entities);
    return &#123;
      module: DatabaseModule,
      providers: providers,
      exports: providers,
    &#125;;
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appbb1de1225a117099afa4571e98036f71de23e785.isJsActive"><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; createDatabaseProviders &#125; from &#39;./database.providers&#39;;
import &#123; Connection &#125; from &#39;./connection.provider&#39;;

@Module(&#123;
  providers: [Connection],
&#125;)
export class DatabaseModule &#123;
  static forRoot(entities = [], options?) &#123;
    const providers = createDatabaseProviders(options, entities);
    return &#123;
      module: DatabaseModule,
      providers: providers,
      exports: providers,
    &#125;;
  &#125;
&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> The <code>forRoot()</code> may return dynamic module either synchronously or asynchronously (<code>Promise</code>).
</blockquote>
<p>This module defines the <code>Connection</code> provider by default, but additionally - depending on the passed <code>options</code> and <code>entities</code> - it exposes a collection of the providers, for example, repositories. In fact, the dynamic module <strong>extends</strong> (not overrides!) the base module metadata. This substantial feature is useful when you need to register providers dynamically. Then you could import the <code>DatabaseModule</code> in the following manner:</p>
<pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; DatabaseModule &#125; from &#39;./database/database.module&#39;;
import &#123; User &#125; from &#39;./users/entities/user.entity&#39;;

@Module(&#123;
  imports: [DatabaseModule.forRoot([User])],
&#125;)
export class ApplicationModule &#123;&#125;</code></pre>
<p>In order to export dynamic module, you can omit a function call part:</p>
<pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; DatabaseModule &#125; from &#39;./database/database.module&#39;;
import &#123; User &#125; from &#39;./users/entities/user.entity&#39;;

@Module(&#123;
  imports: [DatabaseModule.forRoot([User])],
  exports: [DatabaseModule],
&#125;)
export class ApplicationModule &#123;&#125;</code></pre>

    </div>
