<div class="content" #contentReference>
      <h3 id="basics">Basics</h3>
<p>Nest microservice is a type of application that uses a different <strong>transport</strong> layer than HTTP.</p>
<figure><img src="/assets/Microservices_1.png" /></figure>

<h4 appAnchor id="installation"><span>Installation</span></h4>
<p>Firstly, we need to install the required package:</p>
<pre><code class="language-bash">
$ npm i --save @nestjs/microservices</code></pre>
<h4 appAnchor id="overview"><span>Overview</span></h4>
<p>In general, Nest supports several built-in transporters. They are based on the <strong>request-response</strong> and <strong>event-based</strong> paradigms, and a whole communication logic is hidden behind an abstraction layer. This makes it easy to switch between transporters without changing the line of code. However, the request-response paradigm doesn&#39;t make too much sense with streaming platforms supplied with log based persistence, such as <a href="https://docs.confluent.io/3.0.0/streams/">Kafka</a> or <a href="https://github.com/nats-io/node-nats-streaming">NATS streaming</a> as they are designed to solve a different range of issues. Nonetheless, they can still be used with either <strong>event-based</strong> (unidirectional) communication or <a routerLink="/application-context">application context</a> feature.</p>
<h4 appAnchor id="getting-started"><span>Getting started</span></h4>
<p>In order to create a microservice, we use <code>createMicroservice()</code> method of the <code>NestFactory</code> class.</p>

<span class="filename">
  {{ 'main' | extension: app23eb774be65bd0d920e4e6f9d863dc6fb0599290.isJsActive }}
<app-tabs #app23eb774be65bd0d920e4e6f9d863dc6fb0599290></app-tabs>
</span><pre><code class="language-typescript">
import &#123; NestFactory &#125; from &#39;@nestjs/core&#39;;
import &#123; Transport &#125; from &#39;@nestjs/microservices&#39;;
import &#123; ApplicationModule &#125; from &#39;./app.module&#39;;

async function bootstrap() &#123;
  const app = await NestFactory.createMicroservice(ApplicationModule, &#123;
    transport: Transport.TCP,
  &#125;);
  app.listen(() =&gt; console.log(&#39;Microservice is listening&#39;));
&#125;
bootstrap();</code></pre><blockquote class="
info "><strong>Hint</strong> A microservice is listening to messages through <strong>TCP</strong> protocol by default.
</blockquote>
<p>A second argument of the <code>createMicroservice()</code> method is an options object. This object may have two members:</p>
<table>
  <tr>
    <td><code>transport</code></td>
    <td>Specifies the transporter (for example, <code>Transport.NATS</code>)</td>
  </tr>
  <tr>
    <td><code>options</code></td>
    <td>A transporter-specific options object that determines transporter behaviour</td>
  </tr>
</table>
<p>
  The <code>options</code> object is different depending on chosen transporter. A <strong>TCP</strong> transporter exposes
  few properties described below.
</p>
<table>
  <tr>
    <td><code>host</code></td>
    <td>Connection hostname</td>
  </tr>
  <tr>
    <td><code>port</code></td>
    <td>Connection port</td>
  </tr>
  <tr>
    <td><code>retryAttempts</code></td>
    <td>A total amount of connection attempts</td>
  </tr>
  <tr>
    <td><code>retryDelay</code></td>
    <td>A connection retrying delay (ms)</td>
  </tr>
</table>

<h4 appAnchor id="patterns"><span>Patterns</span></h4>
<p>Microservices recognize both messages and events through patterns. A pattern is a plain value, for example, a literal object or a string. Eventually, every pattern is being serialized, so it can be sent over the network along with the data. Hence, the receiver can easily associate the incoming message with the corresponding handler.</p>
<h4 appAnchor id="request-response"><span>Request-response</span></h4>
<p>The request-response communication mechanism is useful when you have to <strong>exchange</strong> messages among various, external services. Additionally, with this paradigm, you can be sure that the service has actually received the message.</p>
<p>In order to enable services to exchange data over the network, Nest creates two channels in which one is responsible for transferring the data while the other listens to the incoming response. However, it&#39;s not always the case. For instance, platforms as <a href="https://nats.io/">NATS</a> provide such a feature out-of-the-box so we don&#39;t have to do it on our own.</p>
<p>Basically, to create a message handler (based on the request-response paradigm), we use the <code>@MessagePattern()</code> decorator which is imported from the <code>@nestjs/microservices</code> package.</p>

<span class="filename">
  {{ 'math.controller' | extension: appc35b7ff6d5b05c58ba6c265d971b70916cb53ae7.isJsActive }}
<app-tabs #appc35b7ff6d5b05c58ba6c265d971b70916cb53ae7></app-tabs>
</span><pre [class.hide]="appc35b7ff6d5b05c58ba6c265d971b70916cb53ae7.isJsActive"><code class="language-typescript">
import &#123; Controller &#125; from &#39;@nestjs/common&#39;;
import &#123; MessagePattern &#125; from &#39;@nestjs/microservices&#39;;

@Controller()
export class MathController &#123;
  @MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
  accumulate(data: number[]): number &#123;
    return (data || []).reduce((a, b) =&gt; a + b);
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appc35b7ff6d5b05c58ba6c265d971b70916cb53ae7.isJsActive"><code class="language-typescript">
import &#123; Controller &#125; from &#39;@nestjs/common&#39;;
import &#123; MessagePattern &#125; from &#39;@nestjs/microservices&#39;;

@Controller()
export class MathController &#123;
  @MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
  accumulate(data) &#123;
    return (data || []).reduce((a, b) =&gt; a + b);
  &#125;
&#125;</code></pre><p>The <code>accumulate()</code> handler is listening to messages that fulfil the <code>cmd: &#39;sum&#39;</code> pattern. The pattern handler takes a single argument, the <code>data</code> passed from the client. In this case, the data is an array of numbers which has to be accumulated.</p>
<h4 appAnchor id="asynchronous-responses"><span>Asynchronous responses</span></h4>
<p>Each message handler is able to respond either synchronously or <strong>asynchronously</strong>. Hence, <code>async</code> methods are supported.</p>

<span class="filename">
<app-tabs #app2b4430245d7302d154d8773f13de2b0a5dc7a801></app-tabs>
</span><pre [class.hide]="app2b4430245d7302d154d8773f13de2b0a5dc7a801.isJsActive"><code class="language-typescript">
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
async accumulate(data: number[]): Promise&lt;number&gt; &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
<pre [class.hide]="!app2b4430245d7302d154d8773f13de2b0a5dc7a801.isJsActive"><code class="language-typescript">
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
async accumulate(data) &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre><p>Additionally, we are able to return an <code>Observable</code>, and thus the values will be emitted until the stream is completed.</p>

<span class="filename">
<app-tabs #app90eb5d1fd4723e2a578daf61b4daae6bca18dbd4></app-tabs>
</span><pre [class.hide]="app90eb5d1fd4723e2a578daf61b4daae6bca18dbd4.isJsActive"><code class="language-typescript">
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data: number[]): Observable&lt;number&gt; &#123;
  return from([1, 2, 3]);
&#125;</code></pre>
<pre [class.hide]="!app90eb5d1fd4723e2a578daf61b4daae6bca18dbd4.isJsActive"><code class="language-typescript">
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data: number[]): Observable&lt;number&gt; &#123;
  return from([1, 2, 3]);
&#125;</code></pre><p>Above message handler will respond <strong>3 times</strong> (with each item from the array).</p>
<h4 appAnchor id="event-based"><span>Event-based</span></h4>
<p>While the request-response method is great when you have to constantly exchange messages between services, it brings too much unnecessary overhead that is completely useless when you just want to publish <strong>events</strong> (without waiting for a response). For instance, you would like to simply notify another service that a certain situation has happened in this part of the system. Thus, we provide a support for event-based communication as well.</p>
<p>In order to create an event handler, we use the <code>@EventPattern()</code> decorator which is imported from the <code>@nestjs/microservices</code> package.</p>

<span class="filename">
<app-tabs #app1a3811f4c6deaf5094f3fafa24da4a9f2b53f74e></app-tabs>
</span><pre [class.hide]="app1a3811f4c6deaf5094f3fafa24da4a9f2b53f74e.isJsActive"><code class="language-typescript">
@EventPattern(&#39;user_created&#39;)
async handleUserCreated(data: Record&lt;string, unknown&gt;) &#123;
  // business logic
&#125;</code></pre>
<pre [class.hide]="!app1a3811f4c6deaf5094f3fafa24da4a9f2b53f74e.isJsActive"><code class="language-typescript">
@EventPattern(&#39;user_created&#39;)
async handleUserCreated(data) &#123;
  // business logic
&#125;</code></pre><p>The <code>handleUserCreated()</code> method is listening to <code>user_created</code> event. The event handler takes a single argument, the <code>data</code> passed from the client (in this case, an event payload which has been sent over the network).</p>
<h4 appAnchor id="client"><span>Client</span></h4>
<p>In order to either exchange messages or publish events to the Nest microservice, we are using the <code>ClientProxy</code> class which instance is assigned to a property through <code>@Client()</code> decorator. This decorator takes a single argument. It is the same object as a Nest microservice options object (passed in to the <code>createMicroservice()</code> method).</p>
<pre><code class="language-typescript">
@Client(&#123; transport: Transport.TCP &#125;)
client: ClientProxy;</code></pre>
<blockquote class="
info "><strong>Hint</strong> Both <code>@Client()</code> decorator and <code>ClientProxy</code> class are imported from the <code>@nestjs/microservices</code> package.
</blockquote>
<p>Another solution would be to manually create the <code>ClientProxy</code> instance using the <code>ClientProxyFactory</code> (exported from <code>@nestjs/microservices</code> package).</p>
<pre><code class="language-typescript">
constructor() &#123;
  this.client = ClientProxyFactory.create(&#123;
    transport: Transport.TCP
  &#125;);
&#125;</code></pre>
<p>The <code>ClientProxy</code> is <strong>lazy</strong>. It doesn&#39;t initiate a connection immediately. Instead, it will be established before the first microservice call, and then reused across each subsequent call. However, if you want to delay an application bootstrapping process and manually initialize a connection, you can use a <code>connect()</code> method inside the <code>OnModuleInit</code> lifecycle hook.</p>

<span class="filename">
<app-tabs #app91ffb7f731b9ab749a2e211a795a85462d92a4e1></app-tabs>
</span><pre><code class="language-typescript">
async onModuleInit() &#123;
  await this.client.connect();
&#125;</code></pre><p>If the connection cannot be created, the <code>connect()</code> method will reject with the corresponding error object.</p>
<h4 appAnchor id="sending-messages"><span>Sending messages</span></h4>
<p>The <code>ClientProxy</code> exposes a <code>send()</code> method. This method is intended to call the microservice and returns the <code>Observable</code> with its response. Consequently, we can subscribe to the emitted values easily.</p>

<span class="filename">
<app-tabs #app5b7a3568b59a9dbf35655e4fd66e511a09662a6a></app-tabs>
</span><pre [class.hide]="app5b7a3568b59a9dbf35655e4fd66e511a09662a6a.isJsActive"><code class="language-typescript">
accumulate(): Observable&lt;number&gt; &#123;
  const pattern = &#123; cmd: &#39;sum&#39; &#125;;
  const payload = [1, 2, 3];
  return this.client.send&lt;number&gt;(pattern, payload);
&#125;</code></pre>
<pre [class.hide]="!app5b7a3568b59a9dbf35655e4fd66e511a09662a6a.isJsActive"><code class="language-typescript">
accumulate() &#123;
  const pattern = &#123; cmd: &#39;sum&#39; &#125;;
  const payload = [1, 2, 3];
  return this.client.send(pattern, payload);
&#125;</code></pre><p>The <code>send()</code> method takes two arguments, <code>pattern</code> and <code>payload</code>. The <code>pattern</code> has to be equal to this one defined in the <code>@MessagePattern()</code> decorator while <code>payload</code> is a message that we want to transmit to another microservice.</p>
<h4 appAnchor id="publishing-events"><span>Publishing events</span></h4>
<p>Another available method is <code>emit()</code>. This method responsibility is to publish an event to the message broker.</p>

<span class="filename">
<app-tabs #app266d1571c6b07de55848dce19c585fded1f3b497></app-tabs>
</span><pre [class.hide]="app266d1571c6b07de55848dce19c585fded1f3b497.isJsActive"><code class="language-typescript">
async publish() &#123;
  this.client.emit&lt;number&gt;(&#39;user_created&#39;, new UserCreatedEvent());
&#125;</code></pre>
<pre [class.hide]="!app266d1571c6b07de55848dce19c585fded1f3b497.isJsActive"><code class="language-typescript">
async publish() &#123;
  this.client.emit(&#39;user_created&#39;, new UserCreatedEvent());
&#125;</code></pre><p>The <code>emit()</code> method takes two arguments, <code>pattern</code> and <code>payload</code>. The <code>pattern</code> has to be equal to this one defined in the <code>@EventPattern()</code> decorator while <code>payload</code> is an event payload that we want to transmit to another microservice.</p>

    </div>
