<div class="content">
  <h3>Basics</h3>
  <p>
    The "microservice" isn't the right word here.
    In fact, the Nest microservice is just an application which is using the different <strong>transport layer</strong> (not HTTP).
  </p>
  <figure><img src="/assets/Microservices_1.png" /></figure>
  <p>
    Nest supplies support for 2 types of communication - TCP and <a href="https://redis.io/" target="blank">Redis</a> pub/sub, but it's easy to bring the new transport strategy by implementing <code>CustomTransportStrategy</code> interface.
    To create a Nest microservice, we're using the <code>NestFactory</code> imported from the <code>@nestjs/core</code> package.
  </p>
  <p>
    Let's create a simple microservice which will be listening to messages via TCP protocol. We're gonna start from the <code>bootstrap()</code> function.
  </p>
  <span class="filename">
    {{ 'main' | extension: bootstrapT.isJsActive }}
    <app-tabs #bootstrapT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ bootstrap }}</code></pre>
  <blockquote>
      <strong>Notice</strong> <code>Transport</code> is a helper enum.
   </blockquote>
  <p>
    The second argument of the <code>createMicroservice()</code> method is an options object. This object may have 3 members:
  </p>
  <table>
    <tr>
      <td><code>transport</code></td>
      <td>Specifies the transport method (<code>Transport.TCP</code> and <code>Transport.REDIS</code> are available out-of-the-box)</td>
    </tr>
    <tr>
      <td><code>port</code></td>
      <td>Determines the port to make use of</td>
    </tr>
    <tr>
      <td><code>url</code></td>
      <td>Determines the url to make use of *only for Redis</td>.
    </tr>
    <tr>
      <td><code>strategy</code></td>
      <td>Determines the strategy to make use of *only for Custom Strategy</td>.
    </tr>
  </table>
  <h4>Patterns</h4>
  <p>
    The Nest microservice recognizes the messages via <strong>patterns</strong>. The pattern is a plain JavaScript value - object, string, or even number.
    To create a pattern handler, we're using the <code>@MessagePattern()</code> decorator imported from the <code>@nestjs/microservices</code> package.
  </p>
  <span class="filename">
    {{ 'math.controller' | extension: mathControllerT.isJsActive }}
    <app-tabs #mathControllerT></app-tabs>
  </span>
  <pre [class.hide]="mathControllerT.isJsActive"><code class="language-typescript">{{ mathController }}</code></pre>
  <pre [class.hide]="!mathControllerT.isJsActive"><code class="language-typescript">{{ mathControllerJs }}</code></pre>
  <blockquote>
      <strong>Notice</strong> We can register the pattern handlers only inside the <code>@Controller()</code> class.
   </blockquote>
   <p>
     The above handler is listening to messages which fulfil the <code>cmd: 'sum'</code> pattern.
     Each pattern handler takes a single argument, the <code>data</code> passed from the client.
     In this case, the data is an array of numbers, which has to be accumulated.
   </p>
   <h4>Asynchronous responses</h4>
    <p>
      Each pattern handler can be <code>async</code>, so you're able to return the <code>Promise</code>.
      Moreover, you can return the <a href="https://github.com/reactivex/rxjs" target="blank">RxJS</a> <code>Observable</code>, so the values would be emitted until the stream is completed.
    </p>
    <span class="filename">
      {{ 'math.controller' | extension: streamingT.isJsActive }}
      <app-tabs #streamingT></app-tabs>
    </span>
    <pre [class.hide]="streamingT.isJsActive"><code class="language-typescript">{{ streaming }}</code></pre>
    <pre [class.hide]="!streamingT.isJsActive"><code class="language-typescript">{{ streamingJs }}</code></pre>
    <p>
      Above message handler will respond <strong>3 times</strong> (with each item from the array).
    </p>
    <h4>Client</h4>
    <p>
      To connect with the Nest microservice, we're using the <code>ClientProxy</code> class, which instance is assigned to the property by <code>@Client()</code> decorator.
      This decorator takes single argument - the same object as a Nest microservice options object.
    </p>
    <pre><code class="language-typescript">{{ clientDecorator }}</code></pre>
    <blockquote>
      <strong>Notice</strong> Both <code>@Client()</code> decorator and <code>ClientProxy</code> class are imported from the <code>@nestjs/microservices</code> package.
   </blockquote>
   <p>
     The <code>ClientProxy</code> has a <code>send()</code> method. This method is intended to call the microservice and returns the <code>Observable</code> with its response.
   </p>
   <span class="filename">
    <app-tabs #sendMethodT></app-tabs>
  </span>
   <pre [class.hide]="sendMethodT.isJsActive"><code class="language-typescript">{{ sendMethod }}</code></pre>
   <pre [class.hide]="!sendMethodT.isJsActive"><code class="language-typescript">{{ sendMethodJs }}</code></pre>
   <p>
     It takes 2 arguments, the <code>pattern</code> and <code>data</code>. The <code>pattern</code> has to be same as this declared in the <code>@MessagePattern()</code> decorator.
     That's all.
   </p>
</div>
