<div class="content">
   <h3>Components</h3>
   <p>
    Almost everything is a component – Service, Repository, Factory, Helper [...] and they can be <strong>injected</strong> into controllers or to other components through <code>constructor</code>.
   </p>
   <figure><img src="/assets/Components_1.png" /></figure>
   <p>
      In the previous chapter, we have built a simple <code>CatsController</code>. 
   </p>
   <p>
     The controllers should only handle HTTP requests and delegate more complex tasks to the <strong>components</strong>. 
     The components are a plain TypeScript classes with <code>@Component()</code> decorator.
   </p>
   <blockquote>
    <strong>Hint</strong> Since Nest enables the possibility to design, organize the dependencies in more OO-way, we strongly recommend
    to follow the <strong>SOLID</strong> principles.
  </blockquote>
  <p>
    Let's create a <code>CatsService</code> component:
  </p>
  <span class="filename">
    {{ 'cats.service' | extension: catsServiceT.isJsActive }}
    <app-tabs #catsServiceT></app-tabs>
  </span>
  <pre [class.hide]="catsServiceT.isJsActive"><code class="language-typescript">{{ catsService }}</code></pre>
  <pre [class.hide]="!catsServiceT.isJsActive"><code class="language-typescript">{{ catsServiceJs }}</code></pre>
  <p>
    There's nothing specifically about components. Here's a <code>CatsService</code>, a basic class with one property and two methods.
    The only difference is that it has the <code>@Component()</code> decorator. The <code>@Component()</code> attaches the metadata, thereby Nest knows that this class is a Nest component.
  </p>
  <blockquote>
    <strong>Notice</strong> There's a <code>Cat</code> interface here. I didn't mention it because the schema is exactly same as in the <code>CreateCatDto</code> class which we have created in the previous chapter.
  </blockquote> 
  <p>
    Since we have the service class already done, let's use it inside the <code>CatsController</code>:
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: catsServiceT.isJsActive }}
    <app-tabs #catsControllerT></app-tabs>
  </span>
  <pre [class.hide]="catsControllerT.isJsActive"><code class="language-typescript">{{ catsController }}</code></pre>
  <pre [class.hide]="!catsControllerT.isJsActive"><code class="language-typescript">{{ catsControllerJs }}</code></pre>
  <p>
    The <code>CatsService</code> is injected through the class constructor.
    Don't be afraid of the <code>private readonly</code> shortened syntax.
    It means that we've created and initialized the <code>catsService</code> member in the same location.
  </p>
  <h4>Dependency Injection</h4>
  <p>
    Nest is built around the strong design pattern, which is commonly known as a <strong>Dependency Injection</strong>.
    There's a great article about this concept in the <a href="https://angular.io/guide/dependency-injection" target="blank">official Angular documentation</a>.
  </p>
  <blockquote>
    <strong>Hint</strong> Learn more about the <strong>Dependency Injection</strong> in Nest <a href="http://docs.nestjs.com/advanced/dependency-injection" target="blank">here</a>.
  </blockquote> 
  <p>
    It's extremely easy to manage dependencies with <strong>TypeScript</strong> because Nest will recognize your dependencies just by <strong>type</strong>.
    This single line:
  </p>
  <pre><code class="language-typescript">{{ constructorSyntax }}</code></pre>
  <p>
    Is everything that you have to do. There is one important thing to know — you must have <code>emitDecoratorMetadata</code> option set to <code>true</code> in your <code>tsconfig.json</code> file.
    That's all.
  </p>
  <h4>Last step</h4>
  <p>
    The last thing is to tell the module that something called <code>CatsService</code> truly exists.
    The only way to do it is to open the <code>app.module.ts</code> file, and put the service into the <code>components</code> array of the <code>@Module()</code> decorator.
  </p>
  <span class="filename">
    {{ 'app.module' | extension: appModuleT.isJsActive }}
    <app-tabs #appModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ appModule }}</code></pre>
  <p>
    Now Nest will smoothly resolve the dependencies of the <code>CatsController</code> class.
    That's how our directories structure looks right now:
  </p>
  <div class="file-tree">
    <div class="item">src</div>
    <div class="children">
      <div class="item">modules</div>
      <div class="children">
        <div class="item">cats</div>
        <div class="children">
          <div class="item">dto</div>
          <div class="children">
            <div class="item">create-cat.dto.ts</div>
          </div>
          <div class="item">interfaces</div>
          <div class="children">
            <div class="item">cat.interface.ts</div>
          </div>
          <div class="item">cats.service.ts</div>
          <div class="item">cats.controller.ts</div>
        </div>
        <div class="item">app.module.ts</div>
      </div>
      <div class="item">server.ts</div>
    </div>
  </div> 
</div>
