<div class="content" #contentReference>
      <h3 id="overview">Overview</h3>
<p>In order to help people manage their projects, the <a href="https://github.com/nestjs/nest-cli">CLI</a> tool has been created. It helps on many grounds at once, from scaffolding the project to building well-structured applications. The Nest CLI is based on the <a href="https://github.com/angular/devkit">@angular-devkit</a> package. Also, there&#39;re special schematics that are dedicated to the Nest development <a href="https://github.com/nestjs/schematics">@nestjs/schematics</a>.</p>
<h4 appAnchor id="installation"><span>Installation</span></h4>
<p>Install CLI using <strong>NPM</strong>:</p>
<pre><code class="language-bash">
$ npm install -g @nestjs/cli</code></pre>
<h4 appAnchor id="contribute"><span>Contribute</span></h4>
<p>You can participate and contribute to the project <a href="https://github.com/nestjs/nest-cli">here</a>.</p>

    </div>
