<div class="content">
  <h3>Overview</h3>
  <p>
    In order to help people manage their projects, the <a href="https://github.com/nestjs/nest-cli" target="_blank">CLI</a>
    tool has been created. It helps on many grounds at once, from scaffolding the project to building well-structured applications. The Nest CLI is based on the <a href="https://github.com/angular/devkit" target="_blank">@angular-devkit</a> package.
    Also, there're special schematics that are dedicated to the Nest development <a href="https://github.com/nestjs/schematics" target="_blank">@nestjs/schematics</a>.
  </p>
  <h4>Installation</h4>
  <p>Install CLI using <strong>NPM</strong>:</p>
  <pre><code class="language-bash">
$ npm install -g @nestjs/cli</code></pre>
  <p>Install CLI using <strong>Docker Hub</strong>:</p>
  <pre><code class="language-bash">
$ docker pull nestjs/cli:[version]</code></pre>
  <p>More details are available at <a href="https://hub.docker.com/r/nestjs/cli/" target="_blank">Docker Hub</a> repository.</p>
  <h4>Contribute</h4>
  <p>
    You can participate and contribute to the project <a href="https://github.com/nestjs/nest-cli" target="_blank">here</a>.
  </p>
</div>
 