<div class="content">
  <h3>Overview</h3>
  <h4>Purpose</h4>
  <p>
    Here to help people to manage their nice projects, the <a href="https://github.com/nestjs/nest-cli" target="_blank">@nestjs/cli</a>
    tool is here to help you. <br/>
    From scaffolding the project structure to build well define architecture and your project.
  </p>
  <p>
    NestjsCLI is based on the <a href="https://github.com/angular/devkit" target="_blank">@angular-devkit</a>.
    A special schematics are dedicated for the Nestjs development environment <a href="https://github.com/nestjs/schematics" target="_blank">@nestjs/schematics</a>
  </p>
  <h4>Contribute</h4>
  <p>
    You can participate an contribute to the project on this GitHub repository :
    <a href="https://github.com/nestjs/nest-cli" target="_blank">@nestjs/cli</a>
  </p>
</div>
