<div class="content">
  <h3>Platform agnosticism</h3>
  <p>
    The whole point of Nest is staying as a platform-agnostic framework. A platform independence makes possible creating <strong>reusable
      logical parts</strong>, that people can take advantage of across several different types of applications. A framework's
    architecture is focused on being applicable to any kind of server-side solution.
  </p>
  <h4>Build once, use everywhere</h4>
  <p>
    An <strong>overview</strong> category is mostly referring to HTTP server (REST APIs). However, all those building blocks
    can be easily used in different transport layers (<code>microservices</code> or <code>websockets</code> packages). Furthermore,
    Nest comes with a dedicated <a routerLink="/graphql/quick-start">GraphQL</a> module. Last but not least, an <a routerLink="/execution-context">execution
      context</a> feature helps to create everything that runs on Node.js on top of Nest.
  </p>
  <p>
    Nest inspires to be a fully-fledged platform, that brings a higher-level of reusability for your applications. Build once,
    use everywhere!
  </p>
</div>