@import "../../../scss/variables.scss";
@import "../../../scss/utils.scss";

:host {
  @extend .transition;
  @extend .box-sizing;
  @include transform(translateX(-100%));
  padding: 45px 30px 40px 45px;
  width: 345px;
  background: #f9f9f9;
  box-shadow: inset -35px -18px 70px rgba(233, 233, 233, 0.65);
  position: absolute !important;
  bottom: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;

  &.opened {
    @include transform(translateX(0));
  }
  @include media(large) { width: 300px; }
  @include media(medium) { padding: 20px 25px 20px 25px; }
}

.nav-item {
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid #efefef;
  &:last-of-type {
    border: 0;
  }
}