@use '../../../scss/variables';
@use '../../../scss/utils';

:host {
  @extend .transition;
  @extend .box-sizing;
  @include utils.transform(translateX(-100%));
  
  padding: 90px 17px 40px 24px;
  width: 250px;
  background: #f5f5f5;
  position: fixed !important;
  bottom: 0;
  top: 0;
  z-index: 1000;
  overflow: overlay;

  &.opened {
    @include utils.transform(translateX(0));
  }
  @include  utils.media(large) {
    width: 250px;
  }
  @include utils.media(normal) {
    &.opened {
      z-index: 1000;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    }
  }
  @include utils.media(medium) {
    padding: 120px 25px 20px 25px;
  }
  @include utils.media(small) {
    width: 100%;
  }

  @media print {
    display: none;
  }
}

.nav-item {
  margin: 0 -10px;
  padding: 0 10px;
  // border-bottom: 1px solid #efefef;
  &:last-of-type {
    border: 0;
  }

  h3 {
    margin: 20px 0;
  }
}

.btn-version,
.btn-support {
  @extend .transition;
  @include utils.radius(2px);

  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  width: calc(100% - 10px);
  display: block;
}

.btn-version {
  background: #dfdfdf;
  margin-top: 5px;
  color: #151515;

  &:hover {
    background: #cccccc;
  }
}

.btn-support {
  margin-top: 20px;
  background: variables.$red-gradient;
  transition: none;
  color: #fff;

  &:hover {
    background: #151515;
  }
}
