<div class="content">
  <h3>RabbitMQ</h3>
  <p>
    The <a href="https://www.rabbitmq.com/" target="blank">RabbitMQ</a> is the most widely deployed open source message
    broker.
  </p>
  <h4>Installation</h4>
  <p>Before we start, we have to install required packages:</p>
  <pre><code class="language-bash">
$ npm i --save amqplib amqp-connection-manager</code></pre>
  <h4>Transporter</h4>
  <p>
    In order to switch to <strong>RabbitMQ</strong> transporter, we need to modify an options object passed to the
    <code>createMicroservice()</code> method.
  </p>
  <span class="filename">
    {{ 'main' | extension: optionsT.isJsActive }}
    <app-tabs #optionsT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ options }}</code></pre>
  <h4>Options</h4>
  <p>
    There are a bunch of available options that determine a transporter behavior.
  </p>
  <table>
    <tr>
      <td><code>urls</code></td>
      <td>Connection urls</td>
    </tr>
    <tr>
      <td><code>queue</code></td>
      <td>Queue name which your server will listen to</td>
    </tr>
    <tr>
      <td><code>prefetchCount</code></td>
      <td>Sets the prefetch count for the channel</td>
    </tr>
    <tr>
      <td><code>isGlobalPrefetchCount</code></td>
      <td>Enables per channel prefetching</td>
    </tr>
    <tr>
      <td><code>queueOptions</code></td>
      <td>Additional queue options. They are well-described <a href="https://www.squaremobius.net/amqp.node/channel_api.html#assertQueue"
          target="blank">here</a></td>
    </tr>
  </table>
</div>