<div class="content">
  <h3>Health Checks (Terminus)</h3>
  <p>
    The JavaScript library <a href="https://github.com/godaddy/terminus" target="blank">@godaddy/terminus</a>
    offers hooks to react on graceful shutdowns and supports you creating proper <a href="https://kubernetes.io/" target="blank">Kubernetes</a> readiness / liveness
    checks for any HTTP application.
    The module <a href="https://github.com/nestjs/terminus">@nestjs/terminus</a> integrates the terminus
    library with the NestJS ecosystem. To get started with <code>@nestjs/terminus</code> we need to install
    the required dependencies.
  </p>
  <pre><code class="language-typescript">{{ dependencies }}</code></pre>
  <h4>Setting up a Health Check</h4>
  <p>
    A health check represents a summary of <strong>health indicators</strong>. A health indicator
    executes a check of a service, whether it is in a healthy state or not. A health check is positive, if all
    the assigned health indicators are up and running. Because a lot of applications will need similar
    health indicators, <a href="https://github.com/nestjs/terminus">@nestjs/terminus</a> provides a set
    of predefined health indicators, such as:
  </p>
  <ul>
    <li>
      DatabaseHealthIndicator
    </li>
    <li>
      DNSHealthIndicator
    </li>
  </ul>
  <p>
    The first step to get started with our first health check,
    is to setup a service which will associate health indicators
    to an endpoint.
  </p>
  <span class="filename">terminus-options.service.ts</span>
  <pre><code class="language-typescript">{{ terminusOptionsService }}</code></pre>
  <p>
    Once we have set up our <code>HealthService</code>, we can import the <code>TerminusModule</code> into the root
    <code>ApplicationModule</code>.
    The <code>HealthService</code> will all provide the settings, which will be used by the <code>TerminusModule</code>
  </p>
  <span class="filename">app.module.ts</span>
  <pre><code class="language-typescript">{{ appModule }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong>
    If done correctly Nest will expose the defined health check(s), which are reachable through a GET request to the
    defined route. For example <code>curl -X GET 'http://localhost:3000/health'</code>
  </blockquote>
  <h4>Creating a custom Health Indicator</h4>
  <p>
    In some cases the predefined health indicators provided by <code>@nestjs/terminus</code> do not cover all of your
    health check requirements. In this case you can set up a custom health indicator according to your needs.
  </p>
  <p>
    Lets get started by creating a service which will represent our custom health indicator. To get a basic
    understanding
    how a health indicator is structured, we will create an example <code>DogHealthIndicator</code>. This health
    indicator should have the state "up", if every <code>Dog</code> object has the type <code>goodboy</code>,
    otherwise it will throw an error, which then the health indicator will be seen as "down".
  </p>
  <span class="filename">dog.health.ts</span>
  <pre><code class="language-typescript">{{ dogHealthIndicator }}</code></pre>

  <p>
    The next thing we need to do is registering the health indicator as a provider.
  </p>
  <span class="filename">app.module.ts</span>
  <pre><code class="language-typescript">{{ appModuleDog }}</code></pre>
  <blockquote class="error">
    <strong>Hint</strong>
    In a real world application the <code>DogHealthIndicator</code> should be provided in
    a separate Module, for example <code>DogModule</code>, which then get imported by the
    <code>ApplicationModule</code>. But keep in mind to add the <code>DogHealthIndicator</code> to the
    <code>exports</code> array of the <code>DogModule</code> and add the <code>DogModule</code> in
    <code>imports</code> array of the <code>TerminusModule.forRootAsync()</code> parameter object.
  </blockquote>
  <p>
    The last required thing to do is to add the now available health indicator in
    the required health check endpoint. For that we go back to our <code>TerminusOptionsService</code>
    and implement it to the <code>/health</code> endpoint.
  </p>
  <span class="filename">app.module.ts</span>
  <pre><code class="language-typescript">{{ terminusOptionsServiceDog }}</code></pre>
  <p>
    If everything has been done correctly, the <code>/health</code> endpoint should respond with a <code>503</code> response code and the
    following data.
  </p>
  <span class="filename">app.module.ts</span>
  <pre><code class="language-json">{{ dogOutput }}</code></pre>
</div>
