<div class="content" #contentReference>
      <h3 id="interceptors">Interceptors</h3>
<p>There is no difference between <a routerLink="/interceptors">regular interceptors</a> and the web sockets interceptors. Here is an example that makes use of a manually instantiated method-scoped interceptor (class-scoped works too):</p>

<span class="filename">
<app-tabs #appd656f932d9530c760f9be899824757558dcd3ee1></app-tabs>
</span><pre [class.hide]="appd656f932d9530c760f9be899824757558dcd3ee1.isJsActive"><code class="language-typescript">
@UseInterceptors(new TransformInterceptor())
@SubscribeMessage(&#39;events&#39;)
handleEvent(client: Client, data: unknown): WsResponse&lt;unknown&gt; &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
<pre [class.hide]="!appd656f932d9530c760f9be899824757558dcd3ee1.isJsActive"><code class="language-typescript">
@UseInterceptors(new TransformInterceptor())
@SubscribeMessage(&#39;events&#39;)
handleEvent(client, data) &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
    </div>
