.tabs-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.tab {
  color: #dfdfdf;
  cursor: pointer;
  margin: 0;
  float: right;
  font-weight: 600;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  &:hover:not(.active) {
    color: #efefef;
  }
  &.active {
    display: none;
  }
}

.filename {
  background: #151515;
  color: #fff;
  padding: 12px 30px;
  margin: 35px 0 -35px;
  display: block;
  min-height: 25px;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  font-size: 15px;
}

:host .has-switcher ::slotted(pre) {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
