<div class="content">
  <h3>Async Components</h3>
  <p>
    Sometimes the application start has to be delayed until some <strong>asynchronous tasks</strong> will be finished, for example until the connection with the database will be established.
    That's why Nest provides a way to create an <strong>async components</strong>.
  </p>
  <p>
    To create an async component, we're using the <code>useFactory</code>. The factory must return <code>Promise</code> or just be marked as an <code>async</code> function.
  </p>
  <pre><code class="language-typescript">{{ asyncComponent }}</code></pre>
  <blockquote>
    <strong>Hint</strong> Read more about custom components <a routerLink="/advanced/dependency-injection">here</a>.
  </blockquote>
  <p>
    These asynchronous components might be simply injected to another components by token.
    Each component, which depends on the async components will be instantiated when the async component would be <strong>already resolved</strong>.
  </p>
  <p>
    The above example is for demonstration purposes. 
    If you're looking for more detailed one, <a routerLink="recipes/sql">see here</a>.
  </p>
</div>