<div class="content" #contentReference>
      <h3 id="interceptors">Interceptors</h3>
<p>An interceptor is a class annotated with the <code>@Injectable()</code> decorator. Interceptors should implement the <code>NestInterceptor</code> interface.</p>
<figure><img src="/assets/Interceptors_1.png" /></figure>

<p>Interceptors have a set of useful capabilities which are inspired by the <strong>Aspect-Oriented Programming</strong> (AOP) technique. They make possible to:</p>
<ul>
<li>bind <strong>extra logic</strong> before / after method execution</li>
<li>transform the result returned from a function</li>
<li><strong>transform</strong> the exception thrown from a function</li>
<li>extend the basic function behaviour</li>
<li>completely <strong>override</strong> a function depending on the chosen conditions (e.g. caching purposes)</li>
</ul>
<h4 appAnchor id="basics"><span>Basics</span></h4>
<p>Each interceptor has the <code>intercept()</code> method that takes 2 arguments. The first one is the <code>ExecutionContext</code> instance (exactly the same object as for <a routerLink="/guards">guards</a>). The <code>ExecutionContext</code> inherits from <code>ArgumentsHost</code>. The <code>ArgumentsHost</code> is a wrapper around arguments that have been passed to the <strong>original</strong> handler, and it contains different arguments array under the hood based on the type of the application. You can read more about it <a href="https://docs.nestjs.com/exception-filters#arguments-host">here</a> (in the exception filters chapter).</p>
<h4 appAnchor id="execution-context"><span>Execution context</span></h4>
<p>The <code>ExecutionContext</code> offers a little bit more. It extends <code>ArgumentsHost</code>, but also, provides more details about current execution process.</p>
<pre><code class="language-typescript">
export interface ExecutionContext extends ArgumentsHost &#123;
  getClass&lt;T = any&gt;(): Type&lt;T&gt;;
  getHandler(): Function;
&#125;</code></pre>
<p>The <code>getHandler()</code> returns a reference to the currently processed handler, while <code>getClass()</code> returns a type of the <code>Controller</code> class which this particular handler belongs to. Using other words, if the user points to <code>create()</code> method that is defined and registered within <code>CatsController</code>, the <code>getHandler()</code> will return a reference to the <code>create()</code> method and <code>getClass()</code> in this case, will simply return a <code>CatsController</code> <strong>type</strong> (not instance).</p>
<h4 appAnchor id="call-handler"><span>Call handler</span></h4>
<p>The second argument is a <code>CallHandler</code>. If you don&#39;t manually call <code>handle()</code> method, the main handler won&#39;t be evaluated at all. What does it mean? Basically, the <code>CallHandler</code> is an object which wraps the execution stream, and thus <strong>defers the final handler execution</strong>.</p>
<p>Let&#39;s say, someone made a POST <code>/cats</code> request. This request points to <code>create()</code> handler defined inside the <code>CatsController</code>. If an interceptor which does not call a <code>handle()</code> method is called along the way, the <code>create()</code> method won&#39;t be evaluated. Only when <code>handle()</code> is called (and its value has been returned), the final method will be triggered. Why? Because Nest <strong>subscribes</strong> to the returned stream and uses values that this stream produces to create either a single response or multiple responses for the end-user. Moreover, <code>handle()</code> returns an <code>Observable</code>, meaning, it supplies us with a set of very powerful operators that helps with, for example, response manipulation.</p>
<h4 appAnchor id="aspect-interception"><span>Aspect interception</span></h4>
<p>The first use case is to use the interceptor to add extra logic either before or after the function execution. It&#39;s useful when we&#39;re gonna <strong>log interaction</strong> with the application, e.g. storing user calls, asynchronously dispatching events or calculating the timestamp. As an example, let&#39;s create a simple <code>LoggingInterceptor</code>.</p>

<span class="filename">
  {{ 'logging.interceptor' | extension: app654bb27d790f2bbdb24ff5b7e4b0dcbc9df08339.isJsActive }}
<app-tabs #app654bb27d790f2bbdb24ff5b7e4b0dcbc9df08339></app-tabs>
</span><pre [class.hide]="app654bb27d790f2bbdb24ff5b7e4b0dcbc9df08339.isJsActive"><code class="language-typescript">
import &#123; Injectable, NestInterceptor, ExecutionContext, CallHandler &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable &#125; from &#39;rxjs&#39;;
import &#123; tap &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class LoggingInterceptor implements NestInterceptor &#123;
  intercept(context: ExecutionContext, next: CallHandler): Observable&lt;any&gt; &#123;
    console.log(&#39;Before...&#39;);

    const now = Date.now();
    return next
      .handle()
      .pipe(
        tap(() =&gt; console.log(`After... $&#123;Date.now() - now&#125;ms`)),
      );
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app654bb27d790f2bbdb24ff5b7e4b0dcbc9df08339.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable &#125; from &#39;rxjs&#39;;
import &#123; tap &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class LoggingInterceptor &#123;
  intercept(context, next) &#123;
    console.log(&#39;Before...&#39;);

    const now = Date.now();
    return next
      .handle()
      .pipe(
        tap(() =&gt; console.log(`After... $&#123;Date.now() - now&#125;ms`)),
      );
  &#125;
&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> The <code>NestInterceptor&lt;T, R&gt;</code> is a generic interface in which <code>T</code> indicates a type of the processed <code>Observable&lt;T&gt;</code> (behind the stream), while <code>R</code> the return type of the value wrapped into returned <code>Observable&lt;R&gt;</code>.
</blockquote>
<blockquote class="
warning "><strong>Notice</strong> Interceptors act the same as controllers, providers, guards, and so on, meaning, they can <strong>inject dependencies</strong> through the <code>constructor</code>.
</blockquote>
<p>Since <code>handle()</code> returns an RxJS <code>Observable</code>, we have a lot of various operators which we can use to manipulate the stream. In the example above, We used the <code>tap()</code> operator that invokes the function upon graceful or exceptional termination of the observable sequence.</p>
<h4 appAnchor id="binding-interceptors"><span>Binding interceptors</span></h4>
<p>In order to set up the interceptor, we use the <code>@UseInterceptors()</code> decorator imported from the <code>@nestjs/common</code> package. Same as <a routerLink="/guards">guards</a>, interceptors can be controller-scoped, method-scoped, and global-scoped as well.</p>

<span class="filename">
  {{ 'cats.controller' | extension: app1a2540bf57cf27762646921279f2fd3c518179fc.isJsActive }}
<app-tabs #app1a2540bf57cf27762646921279f2fd3c518179fc></app-tabs>
</span><pre><code class="language-typescript">
@UseInterceptors(LoggingInterceptor)
export class CatsController &#123;&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> The <code>@UseInterceptors()</code> decorator is imported from the <code>@nestjs/common</code> package.
</blockquote>
<p>Thanks to that, each route handler defined in <code>CatsController</code> will use <code>LoggingInterceptor</code>. When someone calls the GET <code>/cats</code> endpoint, you&#39;ll see a following output in your console window:</p>
<pre><code class="language-typescript">
Before...
After... 1ms</code></pre>
<p>Note that we passed the <code>LoggingInterceptor</code> type instead of an instance, leaving framework the instantiation responsibility and enabling dependency injection. Another available way is to pass the immediately created instance:</p>

<span class="filename">
  {{ 'cats.controller' | extension: appe63f66cd8dc3f4507caa94d1d30d56705ebcb064.isJsActive }}
<app-tabs #appe63f66cd8dc3f4507caa94d1d30d56705ebcb064></app-tabs>
</span><pre><code class="language-typescript">
@UseInterceptors(new LoggingInterceptor())
export class CatsController &#123;&#125;</code></pre><p>As mentioned before, the construction above attaches the interceptor to every handler declared by this controller. If we decide to restrict only one of them, we just need to set up the interceptor at <strong>method level</strong>. In order to bind the global interceptor, we use the <code>useGlobalInterceptors()</code> method of the Nest application instance:</p>
<pre><code class="language-typescript">
const app = await NestFactory.create(ApplicationModule);
app.useGlobalInterceptors(new LoggingInterceptor());</code></pre>
<p>The global interceptors are used across the whole application, for every controller and every route handler. In terms of dependency injection, global interceptors registered from the outside of any module (as in the previous example above) cannot inject dependencies since they don&#39;t belong to any module. In order to solve this issue, you can set up an interceptor <strong>directly from any module</strong> using following construction:</p>

<span class="filename">
  {{ 'app.module' | extension: app0c44a0a0519976ddd12f8bf333814e0e021c4e15.isJsActive }}
<app-tabs #app0c44a0a0519976ddd12f8bf333814e0e021c4e15></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; APP_INTERCEPTOR &#125; from &#39;@nestjs/core&#39;;

@Module(&#123;
  providers: [
    &#123;
      provide: APP_INTERCEPTOR,
      useClass: LoggingInterceptor,
    &#125;,
  ],
&#125;)
export class ApplicationModule &#123;&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> The alternative option is to use an <a routerLink="/application-context">application context</a> feature. Also, <code>useClass</code> is not the only way of dealing with custom providers registration. Learn more Learn more <a routerLink="/fundamentals/dependency-injection">here</a>.
</blockquote>
<h4 appAnchor id="response-mapping"><span>Response mapping</span></h4>
<p>We already know that <code>handle()</code> returns an <code>Observable</code>. The stream contains the value <strong>returned</strong> from the route handler, and thus we can easily mutate it using the <code>map()</code> operator.</p>
<blockquote class="
warning "><strong>Warning</strong> The response mapping feature doesn&#39;t work with the library-specific response strategy (using the <code>@Res()</code> object directly is forbidden).
</blockquote>
<p>Let&#39;s create the <code>TransformInterceptor</code> that will take each response and modify it by assigning to the <code>data</code> property of the newly created object.</p>

<span class="filename">
  {{ 'transform.interceptor' | extension: app68913baea847b736142cca3f9ef91c9a73720ce4.isJsActive }}
<app-tabs #app68913baea847b736142cca3f9ef91c9a73720ce4></app-tabs>
</span><pre [class.hide]="app68913baea847b736142cca3f9ef91c9a73720ce4.isJsActive"><code class="language-typescript">
import &#123; Injectable, NestInterceptor, ExecutionContext, CallHandler &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable &#125; from &#39;rxjs&#39;;
import &#123; map &#125; from &#39;rxjs/operators&#39;;

export interface Response&lt;T&gt; &#123;
  data: T;
&#125;

@Injectable()
export class TransformInterceptor&lt;T&gt; implements NestInterceptor&lt;T, Response&lt;T&gt;&gt; &#123;
  intercept(context: ExecutionContext, next: CallHandler): Observable&lt;Response&lt;T&gt;&gt; &#123;
    return next.handle().pipe(map(data =&gt; (&#123; data &#125;)));
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app68913baea847b736142cca3f9ef91c9a73720ce4.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; map &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class TransformInterceptor &#123;
  intercept(context, next) &#123;
    return next.handle().pipe(map(data =&gt; (&#123; data &#125;)));
  &#125;
&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> Nest interceptors work like a charm with asynchronous <code>intercept()</code> methods, meaning, you can effortlessly switch your method to <code>async</code> if necessary.
</blockquote>
<p>Afterward, when someone calls the GET <code>/cats</code> endpoint, the request would look like below (assuming that route handler returns an empty array <code>[]</code>):</p>
<pre><code class="language-json">
&#123;
  &quot;data&quot;: []
&#125;</code></pre>
<p>The interceptors have a huge potential when it comes to creating reusable solutions used in whole applications. For example, let&#39;s imagine that we need to transform each occurred <code>null</code> value to empty string <code>&#39;&#39;</code>. We can do it using one line of code and bind interceptor as a global one. Thanks to that, it&#39;ll be automatically reused by each registered handler.</p>

<span class="filename">
<app-tabs #app902b521fa8a34d930f70df41fbb4b40f842406e3></app-tabs>
</span><pre [class.hide]="app902b521fa8a34d930f70df41fbb4b40f842406e3.isJsActive"><code class="language-typescript">
import &#123; Injectable, NestInterceptor, ExecutionContext, CallHandler &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable &#125; from &#39;rxjs&#39;;
import &#123; map &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class ExcludeNullInterceptor implements NestInterceptor &#123;
  intercept(context: ExecutionContext, call$: CallHandler): Observable&lt;any&gt; &#123;
    return next
      .handle()
      .pipe(map(value =&gt; value === null ? &#39;&#39; : value ));
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app902b521fa8a34d930f70df41fbb4b40f842406e3.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; map &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class ExcludeNullInterceptor &#123;
  intercept(context, next) &#123;
    return next
      .handle()
      .pipe(map(value =&gt; value === null ? &#39;&#39; : value ));
  &#125;
&#125;</code></pre><h4 appAnchor id="exception-mapping"><span>Exception mapping</span></h4>
<p>Another interesting use-case is to take advantage of the <code>catchError()</code> operator to override thrown exceptions:</p>

<span class="filename">
  {{ 'errors.interceptor' | extension: app0311ba63bd723aef72d87f6cde15e3d2f9c28f13.isJsActive }}
<app-tabs #app0311ba63bd723aef72d87f6cde15e3d2f9c28f13></app-tabs>
</span><pre [class.hide]="app0311ba63bd723aef72d87f6cde15e3d2f9c28f13.isJsActive"><code class="language-typescript">
import &#123;
  Injectable,
  NestInterceptor,
  ExecutionContext,
  BadGatewayException,
  CallHandler,
&#125; from &#39;@nestjs/common&#39;;
import &#123; Observable, throwError &#125; from &#39;rxjs&#39;;
import &#123; catchError &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class ErrorsInterceptor implements NestInterceptor &#123;
  intercept(context: ExecutionContext, next: CallHandler): Observable&lt;any&gt; &#123;
    return next
      .handle()
      .pipe(
        catchError(err =&gt; throwError(new BadGatewayException())),
      );
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app0311ba63bd723aef72d87f6cde15e3d2f9c28f13.isJsActive"><code class="language-typescript">
import &#123; Injectable, BadGatewayException &#125; from &#39;@nestjs/common&#39;;
import &#123; throwError &#125; from &#39;rxjs&#39;;
import &#123; catchError &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class ErrorsInterceptor &#123;
  intercept(context, next) &#123;
    return next
      .handle()
      .pipe(
        catchError(err =&gt; throwError(new BadGatewayException())),
      );
  &#125;
&#125;</code></pre><h4 appAnchor id="stream-overriding"><span>Stream overriding</span></h4>
<p>There&#39;re several reasons why sometimes we might want to completely prevent calling the handler and return a different value instead (e.g. from cache due to performance issues). An excellent example is a <strong>cache interceptor</strong> that would store the cached responses with some TTL. Unfortunately, this feature needs a bit more code and due to simplification, we&#39;ll provide only a basic example that should briefly explain the main concept.</p>

<span class="filename">
  {{ 'cache.interceptor' | extension: appd4704cc540f3b76da454d7301e71142a0fe2b4a8.isJsActive }}
<app-tabs #appd4704cc540f3b76da454d7301e71142a0fe2b4a8></app-tabs>
</span><pre [class.hide]="appd4704cc540f3b76da454d7301e71142a0fe2b4a8.isJsActive"><code class="language-typescript">
import &#123; Injectable, NestInterceptor, ExecutionContext, CallHandler &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable, of &#125; from &#39;rxjs&#39;;

@Injectable()
export class CacheInterceptor implements NestInterceptor &#123;
  intercept(context: ExecutionContext, next: CallHandler): Observable&lt;any&gt; &#123;
    const isCached = true;
    if (isCached) &#123;
      return of([]);
    &#125;
    return next.handle();
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appd4704cc540f3b76da454d7301e71142a0fe2b4a8.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; of &#125; from &#39;rxjs&#39;;

@Injectable()
export class CacheInterceptor &#123;
  intercept(context, next) &#123;
    const isCached = true;
    if (isCached) &#123;
      return of([]);
    &#125;
    return next.handle();
  &#125;
&#125;</code></pre><p>Here&#39;s a <code>CacheInterceptor</code> with a hardcoded <code>isCached</code> variable and the hardcoded response <code>[]</code> as well. We returned a new stream here, created through the <code>of</code> operator, therefore the route handler <strong>won&#39;t be called</strong> at all. When someone calls endpoint that makes use of <code>CacheInterceptor</code>, the response (a hardcoded, empty array) will be returned immediately. In order to create a generic solution, you can take advantage of <code>Reflector</code> and create a custom decorator. The <code>Reflector</code> is well described in the <a routerLink="/guards">guards</a> chapter.</p>
<h4 appAnchor id="more-operators"><span>More operators</span></h4>
<p>The possibility of returning the stream gives us many possibilities. Let&#39;s think about another common use-case. Imagine you would like to handle <strong>timeouts</strong>. When your endpoint doesn&#39;t return anything after a period of time, we want to respond with an error response.</p>

<span class="filename">
  {{ 'timeout.interceptor' | extension: appb64931c83beff4033a5c68e60c67e08336440471.isJsActive }}
<app-tabs #appb64931c83beff4033a5c68e60c67e08336440471></app-tabs>
</span><pre [class.hide]="appb64931c83beff4033a5c68e60c67e08336440471.isJsActive"><code class="language-typescript">
import &#123; Injectable, NestInterceptor, ExecutionContext, CallHandler &#125; from &#39;@nestjs/common&#39;;
import &#123; Observable &#125; from &#39;rxjs&#39;;
import &#123; timeout &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class TimeoutInterceptor implements NestInterceptor &#123;
  intercept(context: ExecutionContext, next: CallHandler): Observable&lt;any&gt; &#123;
    return next.handle().pipe(timeout(5000))
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appb64931c83beff4033a5c68e60c67e08336440471.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; timeout &#125; from &#39;rxjs/operators&#39;;

@Injectable()
export class TimeoutInterceptor &#123;
  intercept(context, next) &#123;
    return next.handle().pipe(timeout(5000))
  &#125;
&#125;</code></pre><p>After 5 seconds the request processing will be canceled.</p>

    </div>
