<div class="content" #contentReference>
      <h3 id="guards">Guards</h3>
<p>There is no difference between microservices guards and the <a routerLink="/guards">regular guards</a>. The only thing you should be aware of is that instead of throwing <code>HttpException</code>, you should use the <code>RpcException</code>.</p>
<blockquote class="
info "><strong>Hint</strong> The <code>RpcException</code> class is exposed from <code>@nestjs/microservices</code> package.
</blockquote>
<h4 appAnchor id="binding-guards"><span>Binding guards</span></h4>
<p>Here is an example that makes use of a method-scoped guard (class-scoped works too):</p>

<span class="filename">
<app-tabs #app33aa902922b36c4b017436aa4d26f497c941b6f3></app-tabs>
</span><pre [class.hide]="app33aa902922b36c4b017436aa4d26f497c941b6f3.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data: number[]): number &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
<pre [class.hide]="!app33aa902922b36c4b017436aa4d26f497c941b6f3.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data) &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
    </div>
