<div class="social-wrapper">
  <a href="https://twitter.com/nestframework" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://github.com/nestjs/nest" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://stackoverflow.com/questions/tagged/nestjs" target="_blank">
    <i class="fab fa-stack-overflow"></i>
  </a>
  <a
    href="https://nestjs.com"
    title="NestJS - A node.js framework built on top of TypeScript"
    target="_blank"
  >
    <i class="fa fa-globe"></i>
  </a>
  <a href="https://discord.gg/G7Qnnhy" target="_blank" rel="nofollow">
    <i class="fab fa-discord"></i>
  </a>
</div>
