<div class="content">
    <h3>Passport integration</h3>
    <p>
      <a href="https://github.com/jaredhanson/passport" target="blank">Passport</a> is the most popular authentication library, probably well-known by almost every node.js developer in the world, and successively used in many production applications. 
      It's really simple to integrate this tool with <strong>Nest</strong> framework. 
      For demonstration purposes, I'll set up the <a href="https://github.com/themikenicholson/passport-jwt" target="blank">passport-jwt</a> strategy.
    </p>
    <p>
      To start the adventure with this library we have to install all of the required dependencies:
    </p>
    <pre><code class="language-typescript">{{ dependencies }}</code></pre>
    <p>
      Firstly, we're gonna create the <code>AuthService</code>. This class will contain 2 methods, <strong>(1)</strong> to create a token using fake user, and <strong>(2)</strong> to validate the signed user from the decoded JWT (hardcoded <code>true</code>).
    </p>
    <span class="filename">
      {{ 'auth.service' | extension: authServiceT.isJsActive }}
      <app-tabs #authServiceT></app-tabs>
    </span>
    <pre [class.hide]="authServiceT.isJsActive"><code class="language-typescript">{{ authService }}</code></pre>
    <pre [class.hide]="!authServiceT.isJsActive"><code class="language-typescript">{{ authServiceJs }}</code></pre>
    <blockquote class="warning">
        <strong>Hint</strong> In a best-case scenario the <code>jwt</code> object and token configuration (secret key and expiration time) should be provided as a <a routerLink="/advanced/dependency-injection">custom components</a> and injected through constructor.
     </blockquote>
     <p>
        Passport uses the concept of strategies to authenticate requests. 
        In this chapter, we're gonna extend the strategy provided by the <a href="https://github.com/themikenicholson/passport-jwt" target="blank">passport-jwt</a> package, the <code>JwtStrategy</code>:
    </p>
    <span class="filename">
      {{ 'jwt.strategy' | extension: jwtStrategyT.isJsActive }}
      <app-tabs #jwtStrategyT></app-tabs>
    </span>
    <pre [class.hide]="jwtStrategyT.isJsActive"><code class="language-typescript">{{ jwtStrategy }}</code></pre>
    <pre [class.hide]="!jwtStrategyT.isJsActive"><code class="language-typescript">{{ jwtStrategyJs }}</code></pre>
    <p>
      The <code>JwtStrategy</code> uses <code>AuthService</code> to validate the payload (signed user).
      When the payload is valid, the request may be handled by the route handler. Otherwise, the user would receive <code>401 Unauthorized</code> response.
    </p>
    <p>
      The last step is to create an <code>AuthModule</code>:
    </p>
    <span class="filename">
      {{ 'auth.module' | extension: authModuleT.isJsActive }}
      <app-tabs #authModuleT></app-tabs>
    </span>
    <pre [class.hide]="authModuleT.isJsActive"><code class="language-typescript">{{ authModule }}</code></pre>
    <pre [class.hide]="!authModuleT.isJsActive"><code class="language-typescript">{{ authModuleJs }}</code></pre>
    <p>
      The trick's to provide a <code>JwtStrategy</code> as a component, and set up the strategy immediately after instance creation (inside the <code>constructor</code>).
      Also, we're binding the <a routerLink="/middlewares">functional middleware</a> to the single <code>/auth/authorized</code> route (just for testing purposes).
      It's everything.
    </p>
     <p>
        The full source code's available <a href="https://github.com/nestjs/nest/tree/master/examples/08-passport" target="blank">here</a>.
      </p>
  </div>