<div class="content" #contentReference>
      <h3 id="guards">Guards</h3>
<p>There is no difference between web sockets <strong>guards</strong> and the <a routerLink="/guards">regular guards</a>. The only thing you should be aware of is that instead of throwing <code>HttpException</code>, you should use the <code>WsException</code>.</p>
<blockquote class="
info "><strong>Hint</strong> The <code>WsException</code> class is exposed from <code>@nestjs/websockets</code> package.
</blockquote>
<h4 appAnchor id="binding-guards"><span>Binding guards</span></h4>
<p>Here is an example that makes use of a <strong>method-scoped</strong> guard (class-scoped works too):</p>

<span class="filename">
<app-tabs #appfdfdc88d502040caa5069e5df82413110956033d></app-tabs>
</span><pre [class.hide]="appfdfdc88d502040caa5069e5df82413110956033d.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@SubscribeMessage(&#39;events&#39;)
onEvent(client: Client, data: any): WsResponse&lt;any&gt; &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
<pre [class.hide]="!appfdfdc88d502040caa5069e5df82413110956033d.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@SubscribeMessage(&#39;events&#39;)
onEvent(client, data) &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
    </div>
