<div class="content">
  <h3>Guards</h3>
  <p>
    There's one difference between <a routerLink="/guards">regular guards</a> and the websockets <strong>guards</strong>.
    The websockets guards takes the <code>data</code> passed from the client instead of expressjs request object as an argument of the <code>canActivate()</code> function.
    Also, when the guard returns <code>false</code>, it throws <code>WsException</code> (not <code>HttpException</code>).
  </p>
  <blockquote>
    <strong>Hint</strong> The <code>WsException</code> class is available within the <code>@nestjs/websockets</code> package.
  </blockquote>
</div>
