<div class="content">
   <h3>Introduction</h3>
   <p>Nest is a powerful web framework for <a href="http://nodejs.org" target="_blank">Node.js</a>, which helps you effortlessly build efficient, scalable applications. It uses modern JavaScript, is built with <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a> and combines best concepts of both OOP (Object Oriented Progamming) and FP (Functional Programming).</p>
   <p>Nest is using well-known—<a href="https://expressjs.com/" target="_blank">Express</a> library under the hood. This means that you can quickly start using Nest without worrying about third party plugins.</p>
   <h3>Installation</h3>
   <p>Install the TypeScript Starter Project with <strong>Git</strong>:</p>
   <pre><code class="language-bash">
$ git clone https://github.com/kamilmysliwiec/nest-typescript-starter.git project
$ cd project
$ npm install
$ npm run start</code></pre>
   <p>Start a New Project from Scratch with <strong>NPM</strong>:</p>
   <pre><code class="language-bash">
$ npm i --save @nestjs/core @nestjs/common @nestjs/microservices @nestjs/websockets @nestjs/testing reflect-metadata rxjs</code></pre>
   <h3>Philosophy</h3>
   <p>JavaScript is awesome. Now, the front end world is rich in variety of tools. We have a lot of amazing projects / libraries such as <a href="https://angular.io/" target="_blank">Angular</a>, <a href="https://github.com/facebook/react" target="_blank">React</a> or <a href="https://github.com/vuejs/vue" target="_blank">Vue</a>, which improves our development process and makes our applications fast and extensible.</p>
   <p><a href="http://nodejs.org" target="_blank">Node.js</a> gave us a possibility to use this language also on the server side. There are a lot of superb libraries, helpers and tools for node, but non of them do not solve the main problem - the architecture.</p>
   <p>We want to create scalable, loosely coupled and easy to maintain applications. That's why the <strong>Nest</strong> has been introduced. Let's show the entire world node.js potential together!</p>
   <h3>Features</h3>
   <ul>
      <li>Built on top of <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a></li>
      <li>Easy to learn - syntax is similar to <a href="https://angular.io/" target="_blank">Angular</a></li>
      <li>Based on well-known libraries (<a href="https://github.com/expressjs/express" target="_blank">Express</a> / <a href="https://github.com/socketio/socket.io" target="_blank">socket.io</a>) so it’s a familiar experience</li>
      <li>Supremely useful Dependency Injection support, built-in asynchronous <strong>Inversion of Control</strong> container</li>
      <li><strong>Hierarchical injector</strong> - increase abstraction in your application by creating reusable, loosely coupled modules with type injection</li>
      <li><strong>WebSockets</strong> module (based on <a href="https://github.com/socketio/socket.io" target="_blank">socket.io</a>, although you can use any other library using <code>WsAdapter</code>)</li>
      <li>Own modularity system (split your system into reusable modules)</li>
      <li>Reactive <strong>microservices</strong> support with message patterns (built-in transport via TCP / <a href="https://redis.io/" target="_blank">Redis</a>, but you can use any other type of communication using <code>CustomTransportStrategy</code>)</li>
      <li>Exceptions handler layer, exception filters, <strong>synchronous &amp; asynchronous pipes</strong> layer (e.g. validation purposes)</li>
      <li><strong>Guards</strong> & Reflector - attach additional logic in more declaritive way (e.g. role-based access control)</li>
      <li>Testing utilities (both <strong>e2e & unit</strong> tests)</li>
   </ul>
   <h3>People</h3>
   <ul>
     <li>Author - <a href="https://kamilmysliwiec.com" title="Kamil Mysliwiec Blog | Full-Stack Software Engineer" target="blank">Kamil Myśliwiec</a></li>
     <li>Website - <a href="http://nestjs.com" title="Nest - A node.js framework built on top of TypeScript" target="blank">http://nestjs.com</a></li>
  </ul>
</div>
