<div class="content">
  <h3>Introduction</h3>
  <p>Nest is a framework for building efficient, scalable <a href="http://nodejs.org" target="_blank">Node.js</a> web applications. It uses modern JavaScript, is built with  <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a> and combines elements of OOP (Object Oriented Progamming), FP (Functional Programming), and FRP (Functional Reactive Programming).</p>
  <p>Under the hood, Nest makes use of <a href="https://expressjs.com/" target="_blank">Express</a>, allowing for easy use of the myriad third-party plugins which are available.</p>

  <h3>Philosophy</h3>
  <p>In recent years, thanks to Node.js, JavaScript has become the “lingua franca” of the web for both front and backend applications, giving rise to awesome projects like <a href="https://angular.io/" target="_blank">Angular</a>, <a href="https://github.com/facebook/react" target="_blank">React</a> and <a href="https://github.com/vuejs/vue" target="_blank">Vue</a> which improve developer productivity and enable the construction of fast, testable, extensible frontend applications. However, on the server-side, while there are a lot of superb libraries, helpers and tools for Node, none of them effectively solve the main problem - the architecture.</p>
  <p>Nest aims to provide an application architecture out of the box which allows for effortless creation of highly testable, scalable, loosely coupled and easily maintainable applications.</p>

  <h3>Features</h3>
  <ul>
    <li>Built with <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a></li>
    <li><strong>Easy</strong> to learn - syntax similar to <a href="https://angular.io/" target="_blank">Angular</a></li>
    <li><strong>Familiar</strong> - based on well-known libraries (<a href="https://github.com/expressjs/express" target="_blank">Express</a> / <a href="https://github.com/socketio/socket.io" target="_blank">socket.io</a>)</li>
    <li><strong>Dependency Injection</strong> - built-in asynchronous <strong>IoC</strong> container with a <strong>hierarchical injector</strong></li>
    <li><strong>WebSockets</strong> module (based on <a href="https://github.com/socketio/socket.io" target="_blank">socket.io</a>, but you can bring your own library, by making use of <code>WsAdapter</code>)</li>
    <li><strong>Modular</strong> - defines an easy to follow module definition pattern so you can split your system into reusable modules</li>
    <li><strong>Reactive microservice</strong> support with message patterns (built-in transport via TCP / <a href="https://redis.io/" target="_blank">Redis</a>, but other communication schemes can be implemented with <code>CustomTransportStrategy</code>)</li>
    <li><strong>Exception layer</strong> - throwable web exceptions with status codes, exception filters</li>
    <li><strong>Pipes</strong> - synchronous & asynchronous (e.g. validation purposes)</li>
    <li><strong>Guards</strong> - attach additional logic in a declarative manner (e.g. role-based access control)</li>
    <li><strong>Interceptors</strong> - built on top of <a href="https://github.com/reactivex/rxjs" target="blank">RxJS</a></li>
    <li>Testing utilities (both <strong>e2e & unit</strong> tests)</li>
  </ul>

  <h3>Installation</h3>
  <p>Install the TypeScript starter project with <strong>Git</strong>:</p>
  <pre><code class="language-bash">
$ git clone https://github.com/kamilmysliwiec/nest-typescript-starter.git project
$ cd project
$ npm install
$ npm run start</code></pre>

   <p>Start a New Project from Scratch with <strong>NPM</strong>:</p>
   <pre><code class="language-bash">
$ npm i --save @nestjs/core @nestjs/common @nestjs/microservices @nestjs/websockets @nestjs/testing reflect-metadata rxjs</code></pre>
   <h3>People</h3>
   <ul>
     <li>Author - <a href="https://kamilmysliwiec.com" title="Kamil Mysliwiec Blog | Full-Stack Software Engineer" target="blank">Kamil Myśliwiec</a></li>
     <li>Website - <a href="http://nestjs.com" title="Nest - A node.js framework built on top of TypeScript" target="blank">http://nestjs.com</a></li>
  </ul>
</div>
