<div class="content">
  <h3>First Steps</h3>
  <p>
    In this set of articles, you'll learn the
    <strong>core fundamentals</strong> of Nest. The main idea is to get familiar with essential Nest application building blocks.
    You'll build a basic CRUD application which features covers a lot of ground at an introductory level.
  </p>
  <h3>Language</h3>
  <p>
    We're in love with
    <a href="http://www.typescriptlang.org/" target="blank">TypeScript</a>, but above all - we love
    <a href="https://nodejs.org/en/" target="blank">Node.js</a>. That's why Nest is compatible with both TypeScript and
    <strong>pure JavaScript</strong>. Nest is taking advantage of latest language features, so to use a framework with simple JavaScript
    we need a
    <a href="http://babeljs.io/" target="blank">Babel</a> compiler.
  </p>
  <p>
    In the articles, we're mostly using TypeScript, but you can always
    <strong>switch the code snippets</strong> to the JavaScript version when it contains some TypeScript-specific expressions.
  </p>
  <h3>Prerequisites</h3>
  <p>
    Please make sure that
    <a href="https://nodejs.org/" target="blank">Node.js</a> (>= 6.11.0) is installed on your operating system.
  </p>
  <h3>Setup</h3>
  <p>
    Setting up a new project is quite simple with
    <a href="https://github.com/kamilmysliwiec/nest-typescript-starter" target="blank">Starter repository</a>. Just make sure that you have
    <a href="https://www.npmjs.com/" target="blank">npm</a> installed then use following commands in your OS terminal:
  </p>
  <span class="filename">
    <app-tabs #starter></app-tabs>
  </span>
  <pre [class.hide]="starter.isJsActive"><code class="language-bash">
$ git clone https://github.com/nestjs/typescript-starter.git project
$ cd project
$ npm install</code></pre>
  <pre [class.hide]="!starter.isJsActive"><code class="language-bash">
$ git clone https://github.com/nestjs/javascript-starter.git project
$ cd project
$ npm install</code></pre>
  <p>The
    <code>project</code> directory will contain several core files inside
    <code>src</code> directory. 
  </p>
  <div class="file-tree">
    <div class="item">src</div>
    <div class="children">
      <div class="item">app.controller.ts</div>
      <div class="item">app.module.ts</div>
      <div class="item">main.ts</div>
    </div>
  </div>  
  <p>
    Following the convention, newly created modules should have a dedicated directory.
    <table>
      <tr>
        <td>
          <code>main.ts</code>
        </td>
        <td>The entry file of the application. It uses
          <code>NestFactory</code> to create the Nest application instance.</td>
      </tr>
      <tr>
        <td>
          <code>app.module.ts</code>
        </td>
        <td>Defines
          <code>AppModule</code>, the root module of the application.</td>
      </tr>
      <tr>
        <td>
          <code>app.controller.ts</code>
        </td>
        <td>Basic controller sample with a single route.</td>
      </tr>
    </table>
    <p>
      The
      <code>main.ts</code> includes an async function, which responsibility is to
      <strong>bootstrap</strong> our application:
    </p>
    <span class="filename">
      {{ 'main' | extension: bootstrapSwitch.isJsActive }}
      <app-tabs #bootstrapSwitch></app-tabs>
    </span>
    <pre><code class="language-typescript">{{ bootstrap }}</code></pre>
    <p>
      To create a Nest application instance, we are using the
      <code>NestFactory</code>. The
      <code>create()</code> method returns an object, which fulfills
      <code>INestApplication</code> interface, and provides a set of usable methods, which are well described in the next chapters.
    </p>
    <h3>Running application</h3>
    <p>
      Once the installation process is completed, you can run the following command to start the HTTP server:
    </p>
    <pre><code class="language-bash">
$ npm run start</code></pre>
    <p>
      This command starts the HTTP server on the port defined inside the <code>main.ts</code> file in the <code>src</code> directory.
      While the application is running, open your browser and navigate to <code>http://localhost:3000/</code>. You should see the <code>Hello world!</code> message.
    </p>
</div>
