@use '../../../../scss/variables';
@use '../../../../scss/utils';

:host {
  position: relative;
  display: block;
}

h3 {
  @extend .transition;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-1dp);
  font-size: 15px;
  margin: 10px 0;
  &:hover {
    color: var(--primary);
  }
}

.new {
  color: #fff;
  background: variables.$red-color;
  font-size: 11px;
  padding: 2px 4px;
  margin-right: 5px;
  font-weight: 700;
  border-radius: 2px;
}

.active h3 {
  color: var(--primary);
}

.material-icons {
  margin-right: 5px;
}

.arrow-icon {
  @extend .transition;
  @include utils.transform(rotate(90deg));

  position: absolute;
  top: 1px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

li {
  display: block;
  padding: 2.5px 0;

  &:first-of-type {
    padding-top: 0;
  }

  a {
    color: var(--menu-color);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
    &.active {
      font-weight: 600;
      color: var(--primary);
    }
  }

  .pending {
    color: #afafaf !important;
    pointer-events: none;
  }
}

.nav-item {
  ul {
    margin: 10px 0 15px;
  }

  .arrow-icon {
    fill: var(--color);
  }
  &.opened {
    .arrow-icon {
      @include utils.transform(rotate(-90deg));
      fill: var(--primary);
      
    }
  }
}

.heading {
  cursor: pointer;
  &:hover {
    .arrow-icon {
      color: var(--primary);
    }
  }
}

ul {
  padding-left: 15px;
}

.material-icons {
  font-size: 14px;
  margin-left: 3px;
  vertical-align: middle;
  padding-bottom: 4px;
}

.has-icon h3 {
  color: var(--primary);
}
