<div class="content">
  <h3>Overview</h3>
  <h4>Purpose</h4>
  <p>
    Here to help people to have a nice project scaffolding and Nest architecture component generator, the <a href="https://github.com/nestjs/schematics.git" target="_blank">@nestjs/schematics</a> library can help you more than expected. <br />
    The @nestjs/schematics library is based on the <a href="https://github.com/angular/devkit" target="_blank">@angular-devkit</a> projects. <br />
    The purpose is expose a collection of schematics to scaffold generic projects with a standard Nest structure. <br />
  </p>
  <p>
    <a href="https://github.com/nestjs/schematics.git" target="_blank">@nestjs/schematics</a> project follow the Nestjs versions.
  </p>
  <h4>Contribute</h4>
  <p>
    You can participate an contribute to the project on this GitHub repository :
    <a href="https://github.com/nestjs/schematics.git" target="_blank">@nestjs/schematics</a>
  </p>
</div>
