<div class="banner">
  <h2>Official <span>enterprise</span> support</h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> Providing technical guidance
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Performing in-depth code reviews
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Mentoring team members
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Advising best practices
    </li>
  </ul>
  <a
    href="https://enterprise.nestjs.com"
    target="_blank"
    title="Enterprise | NestJS - A progressive Node.js framework"
    class="btn-more"
    >Explore more</a
  >
</div>
