<div class="content">
  <h3>Execution Context</h3>
  <p>
    There are several ways of mounting the Nest application.
    You can create a web app, microservice or just a Nest <strong>execution context</strong>.
    The Nest context is a wrapper around the Nest container, which holds all instantiated classes. We can grab any existing instance from within any imported module directly using application object.
    Thanks to that, you can take advantages of the Nest framework everywhere, including <strong>CRON</strong> jobs and even build a <strong>CLI</strong> on top of it.
  </p>
  <p>
    To create a Nest application context, we are using the following syntax:
  </p>
  <span class="filename"><app-tabs></app-tabs></span>
  <pre><code class="language-typescript">{{ executionContext }}</code></pre>
  <p>
    Afterwards, Nest allows you to pick any instance registered within Nest application.
    Let's imagine that we have a <code>TasksController</code> in the <code>TasksModule</code>.
    This class provides a set of usable methods, which we want to call from within CRON job.
  </p>
  <span class="filename"><app-tabs></app-tabs></span>
  <pre><code class="language-typescript">{{ pickTasksController }}</code></pre>
    <p>
      And that's it. To grab <code>TasksController</code> instance we have used 2 methods, well-described in the below table:
    </p>
    <table>
      <tr>
        <td>
          <code>get()</code>
        </td>
        <td>
          Makes possible to retrieve the instance of the component or controller available inside the processed module.
        </td>
      </tr>
      <tr>
        <td>
          <code>select()</code>
        </td>
        <td>
          Allows you to navigate through the module tree, for example, to pull out a specific instance from the selected module.
        </td>
      </tr>
    </table>
    <blockquote class="info">
      <strong>Hint</strong> The root module is selected by default. To select any other module, you need to go through entire modules stack (step by step).
    </blockquote>
  </div>
  