<div class="content">
  <h3>Unit Testing</h3>
  <p>
    Unit tests are very important in the art of programming. 
    There's a lot of great articles why and how we should write them, thus here I'm gonna show you only the Nest specific tools.
  </p>
  <h4>Isolated tests</h4>
  <p> 
    Components, controllers, interceptors.. every Nest application building block is in fact just a simple class.
    Since each dependency is injected through the constructor, you can easily <strong>mock</strong> them using abilities of the popular libraries, for example <a href="https://github.com/jasmine/jasmine" target="blank">Jasmine</a> or <a href="https://github.com/facebook/jest" target="blank">Jest</a>. 
  </p>
  <span class="filename">
    {{ 'cats.controller.spec' | extension: isolatedTestsT.isJsActive }}
    <app-tabs #isolatedTestsT></app-tabs>
  </span>
  <pre [class.hide]="isolatedTestsT.isJsActive"><code class="language-typescript">{{ isolatedTests }}</code></pre>
  <pre [class.hide]="!isolatedTestsT.isJsActive"><code class="language-typescript">{{ isolatedTestsJs }}</code></pre>
  <blockquote class="warning">
    <strong>Hint</strong> Keep your test files nearby tested classes. The testing files should have a <code>.spec</code> or <code>.test</code> suffix.
  </blockquote>
  <p>
    Here's an example which is using <a href="https://github.com/facebook/jest" target="blank">Jest</a> library.
    We created the instances of the both <code>CatsController</code> and the <code>CatsService</code> manually, using the <code>new</code> keyword.
    We didn't use any Nest utility. This type of testing is called <strong>isolated tests</strong>.
  </p>
  <h4>Testing utilities</h4>
  <p>
    Nest has a special package <code>@nestjs/testing</code>, which gives a set of utilities to boost the testing process.
    Let's rewrite the example to make use of Nest <code>Test</code> static class.
  </p>
  <span class="filename">
    {{ 'cats.controller.spec' | extension: utilsT.isJsActive }}
    <app-tabs #utilsT></app-tabs>
  </span>
  <pre [class.hide]="utilsT.isJsActive"><code class="language-typescript">{{ utils }}</code></pre>
  <pre [class.hide]="!utilsT.isJsActive"><code class="language-typescript">{{ utilsJs }}</code></pre>
  <p>
    The <code>Test</code> class has a <code>createTestingModule()</code> method which takes as an argument the module metadata
    (same object as the <code>@Module()</code> decorator). This method creates a <code>TestingModule</code> instance, which in turn provides a few methods, but only one of them is useful within the unit testing - the <code>compile()</code>.
    This function is <strong>asynchronous</strong>, so it has to be awaited. When the module would be compiled and ready to use, you might retrieve any instance using <code>get()</code> method. 
  </p>
  <p>
    Sometimes you might want to use test doubles instead of real instances. It's easy because Nest permits to override the component using <a routerLink="/advanced/dependency-injection">custom components</a>.
  </p>
  <blockquote>
    <strong>Hint</strong> Read more about the <code>TestingModule</code> class <a routerLink="/advanced/e2e-testing">here</a>.
  </blockquote>
</div>