<div class="content" #contentReference>
      <h3 id="interceptors">Interceptors</h3>
<p>There is no difference between <a routerLink="/interceptors">regular interceptors</a> and the microservices interceptors. Here is an example that makes use of a manually instantiated <strong>method-scoped</strong> guard (class-scoped works either):</p>
<pre><code class="language-typescript">
@UseInterceptors(new TransformInterceptor())
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
sum(data: number[]): number &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>

    </div>
