<div class="content" #contentReference>
      <h3 id="interceptors">Interceptors</h3>
<p>There is no difference between <a routerLink="/interceptors">regular interceptors</a> and the microservices interceptors. Here is an example that makes use of a manually instantiated method-scoped interceptor (class-scoped works too):</p>

<span class="filename">
<app-tabs #appad1967d63d574ef5bf1ca17231d8341f797f29e2></app-tabs>
</span><pre [class.hide]="appad1967d63d574ef5bf1ca17231d8341f797f29e2.isJsActive"><code class="language-typescript">
@UseInterceptors(new TransformInterceptor())
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data: number[]): number &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
<pre [class.hide]="!appad1967d63d574ef5bf1ca17231d8341f797f29e2.isJsActive"><code class="language-typescript">
@UseInterceptors(new TransformInterceptor())
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data) &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
    </div>
