<div class="content" #contentReference>
<h3 id="resources">Resources</h3>
<p>This page contains links to useful resources to get started or more familiar with Nest.js framework.</p>
<h4 appAnchor id="tutorials">Tutorials</h4>
  <p><a target="_blank" href="https://kamilmysliwiec.com/nest-release-canditate-is-here-introduction-modern-node-js-framework">Introduction to Nest.js from its author</a></p>
  <p><a target="_blank" href="https://auth0.com/blog/nestjs-brings-typescript-to-nodejs-and-express/">Nest.js = Typescript + Node.js + Express</a></p>
  <p><a target="_blank" href="https://github.com/m24927605/Nestjs30Days">Nest.js in 30 days</a></p>
<h4 appAnchor id="online-courses">Online Courses</h4>
  <p><a target="_blank" href="https://www.udemy.com/course/nestjs-zero-to-hero/">Nest.js Zero to Hero - Modern TypeScript Back-end Development</a></p>
  <p><a target="_blank" href="https://www.udemy.com/course/angular-nestjs-the-modern-mean-stack-guide/">Angular & Nest.js - The Modern MEAN Stack Guide</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=wqhNoDE6pb4">Nest.js Crash Course</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=F_oOtaxb0L8&t=703s">Learn Nest.js from Scratch by building an API</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=nz6yFTyLbAQ&list=PLq1kZ5GbKd4qyDcK3IHGSi4FDAL6fRZeL">Building a fullstack blog with Nest.js and Angular</a></p>
<h4 appAnchor id="talks">Talks</h4>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=ixz0IefmecI">Rethinking Enterprise Architectures with Node.js</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=f0qzBkAQ3mk">Building a platform: Nest.js from the ground up</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=jo-1EUxMmxc">Revealing framework fundamentals: Nest.js behind the curtain</a></p>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=XkEA8L_4IUY">Amazing Backends for Angular Devs with NestJS</a></p>
<h4 appAnchor id="projects">Projects using Nest.js</h4>
  <p><a target="_blank" href="https://github.com/new-eden-social/new-eden-social">New Eden Social</a></p>
  <p><a target="_blank" href="https://github.com/ever-co/ever">Ever® - Open-Source Commerce Platform for On-Demand Economy and Digital Marketplaces</a></p>
  <p><a target="_blank" href="https://github.com/Roche/lxdhub">LXDHub - a management system for linux containers (LXC)</a></p>
  <p><a target="_blank" href="https://github.com/notadd/notadd">Notadd - a microservice development architecture based on Nest.js</a></p>
</div>
