<header>
  <div class="icon-wrapper" (click)="toggle.emit()" [class.opened]="isSidebarOpened">
    <div class="nav-icon">
      <img src="assets/menu.png" alt="Open navigation sidebar" />
    </div>
  </div>
  <ng-content></ng-content>
  <div class="social-wrapper">
    <a href="https://twitter.com/nestframework" target="blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/kamilmysliwiec/nest" target="blank"><i class="fa fa-github"></i></a>
    <a href="http://nestjs.com" title="Nest - A node.js framework built on top of TypeScript" target="blank"><i class="fa fa-globe"></i></a>
  </div>
</header>