@import "../../../scss/variables.scss";
@import "../../../scss/utils.scss";

:host {
  background: $black-color;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  height: 85px;
}

header {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.icon-wrapper {
  @extend .transition;
  height: 100%;
  width: 80px;
  top: 0;
  bottom: 0;
  background: $darkgrey-color;
  display: inline-block;
  position: relative;
  z-index: 10000;

  &:hover {
    cursor: pointer;
    background: #212121;
  }
  &.opened {
    width: 345px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);

    @include media(large) { width: 300px; }
    @include media(normal) { width: 80px; }
  }
  .nav-icon {
    @extend .center-element;

    svg {
      width: 35px;
      stroke: #fff;
      stroke-width: 5;
    }
  }
  @include media(medium) { background: transparent; }
}

:host /deep/ .logo-wrapper {
  // display: block;
  // width: 100%;
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: top;
  padding-left: 40px;

  @include media(medium) {
    padding-left: 10px;
  }

  a {
    display: inline-block;;
    padding-top: 10px;
  }
}

/*.social-wrapper,
.icon-wrapper {
  position: absolute;
}*/

.social-wrapper {
  @extend .center-top;
  // right: 40px;
  float: right;
  padding-right: 40px;
  position: relative;

  a {
    @extend .transition;
    display: inline-block;
    vertical-align: middle;
    color: $darksilver-color;
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;

    &:first-of-type {
      font-size: 20px;
    }
    &:hover {
      color: $white-color;
    }
  }
  @include media(large) { display: none; }
}

.workshop-wrapper {
  float: right;
  padding: 14px 25px;

  @include media(medium) {
    padding: 23px 15px;
  }

  @include media(small) {
    display: none;
  }

  img {
    margin-right: 10px;
    width: 55px;
    @include media(medium) {
      display: none !important;
    }  
  }

  img,
  .workshop-info {
    display: inline-block;
    vertical-align: middle;
  }

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }

  .short-title {
    display: none;
    @include media(medium) {
      display: block;
    }
  }

  .long-title {
    @include media(medium) {
      display: none;
    }
  }

  a {
    color: #03a9f4;
    font-weight: 600;
    font-size: 12px;
    position: relative;

    &:hover {
      color: $red-color;
      &::after {
        background: $red-color;
      }
    }

    &::after {
      content: "";
      display: block;
      background: #246081;
      height: 2px;
      left: 0;
      right: 0;
      bottom: -1px;
      position: absolute;
    }
  }

  span {
    display: inline-block;
    padding: 1px 2px;
    font-weight: 700;
    background: -webkit-linear-gradient(#ee2943, #d31e5a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ee2943, #d31e5a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ee2943, #d31e5a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ee2943, #d31e5a); /* Standard syntax */
  }
}

@media (max-width: 480px) {
  .workshop-wrapper {
    display: none;
  }

  :host /deep/ .logo-wrapper {
    width: 100%;
  }

  .icon-wrapper {
    position: absolute;
  }
}