<header>
  <div class="icon-wrapper" (click)="toggle.emit()" [class.opened]="isSidebarOpened">
    <div class="nav-icon">
      <img src="assets/menu.png" alt="Open navigation sidebar" />
    </div>
  </div>
  <ng-content></ng-content>
  <div class="social-wrapper">
    <a href="https://twitter.com/nestframework" target="blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/kamilmysliwiec/nest" target="blank"><i class="fa fa-github"></i></a>
    <a href="https://nestjs.com" title="Nest - A node.js framework built on top of TypeScript" target="blank"><i class="fa fa-globe"></i></a>
  </div>
  <div class="workshop-wrapper">
    <img src="/assets/ng-atl-short.png" alt="ngATL Conference Atlanta, GA" />
    <div class="workshop-info">
      <h3 class="long-title"><span>NestJS</span> on 2018 ngATL Conference Atlanta, GA</h3>
      <h3 class="short-title"><span>NestJS</span> 2018 ngATL</h3>
      <a href="http://ng-atl.org/workshops/level-up-your-node-js-application-with-nest-angular-sugar-on-the-server" target="blank">LEARN MORE</a>
    </div>
  </div>
</header>