@import '../../../scss/variables.scss';
@import '../../../scss/utils.scss';

:host {
  background: $black-color;
  display: block;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10000;

  @media print {
    position: relative;
  }
}

header {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.icon-wrapper {
  @extend .transition;
  height: 100%;
  width: 80px;
  top: 0;
  bottom: 0;
  display: inline-block;
  position: relative;
  z-index: 10000;

  &:hover {
    cursor: pointer;
    background: #212121;
  }
  &.opened {
    width: 265px;

    @include media(large) {
      width: 265px;
    }
    @include media(normal) {
      width: 80px;
    }
  }
  .nav-icon {
    @extend .center-element;

    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
    }
  }
  @include media(medium) {
    background: transparent;
  }

  @media print {
    display: none;
  }
}

:host ::ng-deep .logo-wrapper {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: top;
  padding-left: 85px;

  @include media(large) {
    padding-left: 50px;
  }
  @include media(medium) {
    padding-left: 10px;
  }

  a {
    display: inline-block;
    padding-top: 10px;
  }
  @media print {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);
    padding: 0;
  }
}


.menu-wrapper {
  @extend .center-top;
  position: relative;
  float: right;
  padding: 14px 25px;

  @include media(normal) {
    display: none;
  }

  ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type a {
      @include radius(2px);
      padding: 4px 6px;
      background: $red-color;

      &:hover {
        background: #262626;
      }
    }

    @include media(large) {
      margin-left: 20px;
    }
  }

  a {
    @extend .transition-fast;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      color: $red-color;
    }
  }
  @media print {
    display: none;
  }
}

.workshop-wrapper {
  float: right;
  padding: 14px 25px;

  @include media(medium) {
    padding: 23px 15px;
  }

  @include media(small) {
    display: none;
  }

  img {
    margin-right: 10px;
    width: 55px;
    @include media(medium) {
      display: none !important;
    }
  }

  img,
  .workshop-info {
    display: inline-block;
    vertical-align: middle;
  }

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }

  .short-title {
    display: none;
    @include media(medium) {
      display: block;
    }
  }

  .long-title {
    @include media(medium) {
      display: none;
    }
  }

  a {
    color: #03a9f4;
    font-weight: 600;
    font-size: 12px;
    position: relative;

    &:hover {
      color: $red-color;
      &::after {
        background: $red-color;
      }
    }

    &::after {
      content: '';
      display: block;
      background: #246081;
      height: 2px;
      left: 0;
      right: 0;
      bottom: -1px;
      position: absolute;
    }
  }

  span {
    display: inline-block;
    padding: 1px 2px;
    font-weight: 700;
    background: -webkit-linear-gradient(#ee2943, #d31e5a);
    background: -o-linear-gradient(#ee2943, #d31e5a);
    background: -moz-linear-gradient(#ee2943, #d31e5a);
    background: linear-gradient(#ee2943, #d31e5a); /* Standard syntax */
  }
}

@media (max-width: 480px) {
  .workshop-wrapper {
    display: none;
  }

  :host ::ng-deep .logo-wrapper {
    width: 100%;
  }

  .icon-wrapper {
    position: absolute;
  }
}

.fa-stack-overflow {
  font-size: 18px;
}
