<div class="content">
  <h3>Lifecycle Events</h3>
  <p>
    There're 2 module lifecycle events, the <code>OnModuleInit</code> and <code>OnModuleDestroy</code>. 
    It's a good practice to use them for all the initialization stuff and avoid to put anything directly in the constructor.
   The constructor should be used only to initialize the class members and inject the required dependencies.
  </p>
  <span class="filename">
    <app-tabs #lifecycleEventsT></app-tabs>
  </span>
  <pre [class.hide]="lifecycleEventsT.isJsActive"><code class="language-typescript">{{ lifecycleEvents }}</code></pre>
  <pre [class.hide]="!lifecycleEventsT.isJsActive"><code class="language-typescript">{{ lifecycleEventsJs }}</code></pre>
</div>