<div class="content">
  <h3>Lifecycle Events</h3>
  <p>
    There are two application lifecycle events, <code>OnModuleInit</code> and <code>OnModuleDestroy</code> hooks. 
    It's a good practice to use them for all the initialization stuff and avoid putting anything directly in the constructor.
   The constructor should be used only to initialize the class members and for injecting the required dependencies.
  </p>
  <span class="filename">
    <app-tabs #lifecycleEventsT></app-tabs>
  </span>
  <pre [class.hide]="lifecycleEventsT.isJsActive"><code class="language-typescript">{{ lifecycleEvents }}</code></pre>
  <pre [class.hide]="!lifecycleEventsT.isJsActive"><code class="language-typescript">{{ lifecycleEventsJs }}</code></pre>
  <p>
    In order to defer initialization of the application, you can either use <code>await</code> keyword or return a <code>Promise</code>.
  </p>
  <span class="filename">
    <app-tabs #asyncLifecycleEventT></app-tabs>
  </span>
  <pre [class.hide]="asyncLifecycleEventT.isJsActive"><code class="language-typescript">{{ asyncLifecycleEvent }}</code></pre>
  <pre [class.hide]="!asyncLifecycleEventT.isJsActive"><code class="language-typescript">{{ asyncLifecycleEventJs }}</code></pre>
</div>