<div class="content" #contentReference>
      <h3 id="lifecycle-events">Lifecycle Events</h3>
<p>Every application element has a lifecycle managed by Nest. Nest offers four different lifecycle hooks available:</p>
<ul>
<li><code>OnModuleInit</code></li>
<li><code>OnApplicationBootstrap</code></li>
<li><code>OnModuleDestroy</code></li>
<li><code>OnApplicationShutdown</code></li>
</ul>
<p>They provide visibility into these key life moments and the ability to act when they occur.</p>
<h4 appAnchor id="usage"><span>Usage</span></h4>
<p>Each lifecycle hook is represented by interface. Interfaces are technically optional because they do not exist anyway after TypeScript compilation. Nonetheless, it&#39;s a good practice to use them in order to benefit from strong typing and editor tooling.</p>

<span class="filename">
<app-tabs #app4d2d941996750373916348ab0e7c05580ed67c26></app-tabs>
</span><pre [class.hide]="app4d2d941996750373916348ab0e7c05580ed67c26.isJsActive"><code class="language-typescript">
import &#123; Injectable, OnModuleInit &#125; from &#39;@nestjs/common&#39;;

@Injectable()
export class UsersService implements OnModuleInit &#123;
  onModuleInit() &#123;
    console.log(`The module has been initialized.`);
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app4d2d941996750373916348ab0e7c05580ed67c26.isJsActive"><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;

@Injectable()
export class UsersService &#123;
  onModuleInit() &#123;
    console.log(`The module has been initialized.`);
  &#125;
&#125;</code></pre><p>Additionally, both <code>OnModuleInit</code> and <code>OnApplicationBootstrap</code> hooks allow you to defer the application initialization process (return a <code>Promise</code> or mark the method as <code>async</code>).</p>

<span class="filename">
<app-tabs #appf6f752181cb03a2fd73c50c6c4caa21c6d2a8675></app-tabs>
</span><pre [class.hide]="appf6f752181cb03a2fd73c50c6c4caa21c6d2a8675.isJsActive"><code class="language-typescript">
async onModuleInit(): Promise&lt;void&gt; &#123;
  await this.fetch();
&#125;</code></pre>
<pre [class.hide]="!appf6f752181cb03a2fd73c50c6c4caa21c6d2a8675.isJsActive"><code class="language-typescript">
async onModuleInit() &#123;
  await this.fetch();
&#125;</code></pre><h4 appAnchor id="overview"><span>Overview</span></h4>
<p>Here is a brief description of each lifecycle hook:</p>
<table>
<thead>
</thead>
<tbody><tr>
<td><code>OnModuleInit</code></td>
<td>Called once the host module has been initialized</td>
</tr>
<tr>
<td><code>OnModuleDestroy</code></td>
<td>Cleanup just before Nest destroys the host module (<code>app.close()</code> method has been evaluated)</td>
</tr>
<tr>
<td><code>OnApplicationBootstrap</code></td>
<td>Called once the application has started</td>
</tr>
<tr>
<td><code>OnApplicationShutdown</code></td>
<td>Responds to the system signals (application gets shutdown by e.g. <code>SIGTERM</code>)</td>
</tr>
</tbody></table>

    </div>
