<div class="content" #contentReference>
      <h3 id="model-view-controller">Model-View-Controller</h3>
<p>Nest, by default, makes use of <a href="https://github.com/expressjs/express">express</a> library under the hood. Hence, every tutorial about MVC (Model-View-Controller) pattern in express concerns Nest as well. Firstly, let&#39;s scaffold a simple Nest application using <a href="https://github.com/nestjs/nest-cli">CLI</a> tool:</p>
<pre><code class="language-bash">
$ npm i -g @nestjs/cli
$ nest new project</code></pre>
<p>In order to create a MVC app, we have to install a <a href="http://expressjs.com/en/guide/using-template-engines.html">template engine</a>:</p>
<pre><code class="language-bash">
$ npm install --save hbs</code></pre>
<p>We decided to use a <code>hbs</code> engine, though, you can use whatever fits your requirements. Once the installation process is completed, we need to configure the express instance using following code:</p>

<span class="filename">
  {{ 'main' | extension: appf799a8cbdecd5dc7f79a9e96d9e80cf6ef51e62e.isJsActive }}
<app-tabs #appf799a8cbdecd5dc7f79a9e96d9e80cf6ef51e62e></app-tabs>
</span><pre [class.hide]="appf799a8cbdecd5dc7f79a9e96d9e80cf6ef51e62e.isJsActive"><code class="language-typescript">
import &#123; NestFactory &#125; from &#39;@nestjs/core&#39;;
import &#123; NestExpressApplication &#125; from &#39;@nestjs/platform-express&#39;;
import &#123; join &#125; from &#39;path&#39;;
import &#123; ApplicationModule &#125; from &#39;./app.module&#39;;

async function bootstrap() &#123;
  const app = await NestFactory.create&lt;NestExpressApplication&gt;(
    ApplicationModule,
  );

  app.useStaticAssets(join(__dirname, &#39;..&#39;, &#39;public&#39;));
  app.setBaseViewsDir(join(__dirname, &#39;..&#39;, &#39;views&#39;));
  app.setViewEngine(&#39;hbs&#39;);

  await app.listen(3000);
&#125;
bootstrap();</code></pre>
<pre [class.hide]="!appf799a8cbdecd5dc7f79a9e96d9e80cf6ef51e62e.isJsActive"><code class="language-typescript">
import &#123; NestFactory &#125; from &#39;@nestjs/core&#39;;
import &#123; join &#125; from &#39;path&#39;;
import &#123; ApplicationModule &#125; from &#39;./app.module&#39;;

async function bootstrap() &#123;
  const app = await NestFactory.create(
    ApplicationModule,
  );

  app.useStaticAssets(join(__dirname, &#39;..&#39;, &#39;public&#39;));
  app.setBaseViewsDir(join(__dirname, &#39;..&#39;, &#39;views&#39;));
  app.setViewEngine(&#39;hbs&#39;);

  await app.listen(3000);
&#125;
bootstrap();</code></pre><p>We told <a href="https://github.com/expressjs/express">express</a> that the <code>public</code> directory will be used for storing static assets, <code>views</code> will contain templates, and a <code>hbs</code> template engine should be used to render an HTML output.</p>
<p>Now, let&#39;s create a <code>views</code> directory and <code>index.hbs</code> template inside it. In the template, we are gonna print a <code>message</code> passed from the controller:</p>
<pre><code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot; /&gt;
    &lt;title&gt;App&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &#123;&#123; &quot;&#123;&#123; message &#125;\&#125;&quot; &#125;&#125;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>Afterward, open the <code>app.controller</code> file and replace the <code>root()</code> method with the following code:</p>

<span class="filename">
  {{ 'app.controller' | extension: app3c4de6402e924b45c227be18bf8a776d1e12a5da.isJsActive }}
<app-tabs #app3c4de6402e924b45c227be18bf8a776d1e12a5da></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Get, Controller, Render &#125; from &#39;@nestjs/common&#39;;

@Controller()
export class AppController &#123;
  @Get()
  @Render(&#39;index&#39;)
  root() &#123;
    return &#123; message: &#39;Hello world!&#39; &#125;;
  &#125;
&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> In fact, when Nest detects <code>@Res()</code> decorator, it injects library-specific <code>response</code> object. Learn more about its abilities <a href="http://expressjs.com/en/api.html">here</a>.
</blockquote>
<p>While the application is running, open your browser and navigate to <code>http://localhost:3000/</code>. You should see the <code>Hello world!</code> message.</p>
<h4 appAnchor id="example"><span>Example</span></h4>
<p>A working example is available <a href="https://github.com/nestjs/nest/tree/master/sample/15-mvc">here</a>.</p>
<h4 appAnchor id="fastify"><span>Fastify</span></h4>
<p>As mentioned in this <a href="/techniques/http-performance">chapter</a>, we are able to use any compatible HTTP provider together with Nest. One of them is a <a href="https://github.com/fastify/fastify">fastify</a> library. In order to create a MVC application with fastify, we have to install following packages:</p>
<pre><code class="language-bash">
$ npm i --save fastify point-of-view handlebars</code></pre>
<p>The next steps cover almost the same stuff as in case of express library (with small differences). Once the installation process is completed, we need to open <code>main.ts</code> file and update its contents:</p>

<span class="filename">
  {{ 'main' | extension: appf05fd804089a6a59c5ee65793d7189c4fc6e5ca5.isJsActive }}
<app-tabs #appf05fd804089a6a59c5ee65793d7189c4fc6e5ca5></app-tabs>
</span><pre [class.hide]="appf05fd804089a6a59c5ee65793d7189c4fc6e5ca5.isJsActive"><code class="language-typescript">
import &#123; NestFactory &#125; from &#39;@nestjs/core&#39;;
import &#123; NestFastifyApplication, FastifyAdapter &#125; from &#39;@nestjs/platform-fastify&#39;;
import &#123; ApplicationModule &#125; from &#39;./app.module&#39;;
import &#123; join &#125; from &#39;path&#39;;

async function bootstrap() &#123;
  const app = await NestFactory.create&lt;NestFastifyApplication&gt;(
    ApplicationModule,
    new FastifyAdapter(),
  );
  app.useStaticAssets(&#123;
    root: join(__dirname, &#39;..&#39;, &#39;public&#39;),
    prefix: &#39;/public/&#39;,
  &#125;);
  app.setViewEngine(&#123;
    engine: &#123;
      handlebars: require(&#39;handlebars&#39;),
    &#125;,
    templates: join(__dirname, &#39;..&#39;, &#39;views&#39;),
  &#125;);
  await app.listen(3000);
&#125;
bootstrap();</code></pre>
<pre [class.hide]="!appf05fd804089a6a59c5ee65793d7189c4fc6e5ca5.isJsActive"><code class="language-typescript">
import &#123; NestFactory &#125; from &#39;@nestjs/core&#39;;
import &#123; FastifyAdapter &#125; from &#39;@nestjs/platform-fastify&#39;;
import &#123; ApplicationModule &#125; from &#39;./app.module&#39;;
import &#123; join &#125; from &#39;path&#39;;

async function bootstrap() &#123;
  const app = await NestFactory.create(ApplicationModule, new FastifyAdapter());
  app.useStaticAssets(&#123;
    root: join(__dirname, &#39;..&#39;, &#39;public&#39;),
    prefix: &#39;/public/&#39;,
  &#125;);
  app.setViewEngine(&#123;
    engine: &#123;
      handlebars: require(&#39;handlebars&#39;),
    &#125;,
    templates: join(__dirname, &#39;..&#39;, &#39;views&#39;),
  &#125;);
  await app.listen(3000);
&#125;
bootstrap();</code></pre><p>The API is different a little but the idea that sits behind those methods calls remains the same. Also, we have to ensure that the template name passed into the <code>@Render()</code> decorators include a file extension.</p>

<span class="filename">
  {{ 'app.controller' | extension: appf216c47281f29701f6bc63a4c1b16628775ac89a.isJsActive }}
<app-tabs #appf216c47281f29701f6bc63a4c1b16628775ac89a></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Get, Controller, Render &#125; from &#39;@nestjs/common&#39;;

@Controller()
export class AppController &#123;
  @Get()
  @Render(&#39;index.hbs&#39;)
  root() &#123;
    return &#123; message: &#39;Hello world!&#39; &#125;;
  &#125;
&#125;</code></pre><p>While the application is running, open your browser and navigate to <code>http://localhost:3000/</code>. You should see the <code>Hello world!</code> message.</p>
<h4 appAnchor id="example-1"><span>Example</span></h4>
<p>A working example is available <a href="https://github.com/nestjs/nest/tree/master/sample/17-mvc-fastify">here</a>.</p>

    </div>
