<div class="content" #contentReference>
      <h3 id="https">HTTPS</h3>
<p>In order to create application that uses HTTPS protocol, we have to pass an options object:</p>
<pre><code class="language-typescript">
const httpsOptions = &#123;
  key: fs.readFileSync(&#39;./secrets/private-key.pem&#39;),
  cert: fs.readFileSync(&#39;./secrets/public-certificate.pem&#39;),
&#125;;
const app = await NestFactory.create(ApplicationModule, &#123;
  httpsOptions,
&#125;);
await app.listen(3000);</code></pre>
<h4 appAnchor id="multiple-simultaneous-servers"><span>Multiple simultaneous servers</span></h4>
<p>A full control over the <code>express</code> instance gives a simple way to create a several multiple simultaneous servers that are listening on different ports.</p>
<pre><code class="language-typescript">
const httpsOptions = &#123;
  key: fs.readFileSync(&#39;./secrets/private-key.pem&#39;),
  cert: fs.readFileSync(&#39;./secrets/public-certificate.pem&#39;),
&#125;;

const server = express();
const app = await NestFactory.create(ApplicationModule, server);
await app.init();

http.createServer(server).listen(3000);
https.createServer(httpsOptions, server).listen(443);</code></pre>

    </div>
