<div class="banner">
  <h2>Learn the <span>right</span> way!</h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> 20+ chapters
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> GraphQL fundamentals
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Official certificate
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Deep-dive sessions
    </li>
  </ul>
  <a
    href="https://courses.nestjs.com/#graphql-bundle"
    target="_blank"
    title="Courses | NestJS - A node.js framework built on top of TypeScript"
    class="btn-more"
    >Explore official GraphQL extensions</a
  >
</div>
