<div class="banner">
  <h2>Learn the <span>right</span> way!</h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> 80+ chapters
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> 5+ hours of videos
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Official certificate
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Deep-dive sessions
    </li>
  </ul>
  <a
    href="https://courses.nestjs.com"
    target="_blank"
    title="Courses | NestJS - A node.js framework built on top of TypeScript"
    class="btn-more"
    >Explore official courses</a
  >
</div>
