<div class="content">
  <h3>Who is using Nest?</h3>
  <p>
    We are proudly helping various companies building their products at scale.
    If you are using Nest and would you like to be listed here, see this <a href="https://github.com/nestjs/nest/issues/1006"
      target="blank">thread</a>. We are willing to put your logo here!
  </p>
  <h4>Companies</h4>
  <p>
    According to our knowledge, all the following companies have built awesome projects on top of our framework:
  </p>
  <div class="companies-wrapper">
    <a class="company-logo" *ngFor="let item of companies" [href]="item.url" target="blank"><img [src]="item.logo"
        [style.width]="item.width" /></a>
  </div>
  <table class="companies-list">
    <tr *ngFor="let item of companiesUrls">
      <td><a [href]="item" target="blank">{{ item }}</a></td>
    </tr>
  </table>
  <p>
    and a lot more but we don't have enough time to update above list. Feel free to create a <a href="https://github.com/nestjs/docs.nestjs.com/pulls"
      target="blank">pull
      request</a> though!
  </p>
</div>