<div class="content">
  <h3>Usage</h3>
  <p>
    In order to achieve a high user-experience, the CLI commands share the same command schema.
  </p>
  <pre><code class="language-bash">
$ nest [command] [...options]</code></pre>
  <h4>Options</h4>
  <p>
    Each command accepts a set of
    <strong>options</strong> that are listed below:
  </p>
  <ul>
    <li>
      <strong>--dry-run</strong>: allows to simulate the command execution in order to verify how it will affect your working directory
    </li>
  </ul>
  <h4>new (alias n)</h4>
  <p>
    The
    <strong>new</strong> command generates a Nest project based on the <a href="https://github.com/nestjs/typescript-starter" target="blank">typescript-starter</a> as well as install the required packages.
    The CLI will ask you for missing information to create the project, for example, which package
    manager do you want to use to install dependencies.
  </p>
  <table>
    <tr>
      <th>Option</th>
      <th>Description</th>
      <th>Required</th>
      <th>Default value</th>
    </tr>
    <tr>
      <td>name</td>
      <td>Your application name</td>
      <td>false</td>
      <td>nest-app-name</td>
    </tr>
    <tr>
      <td>description</td>
      <td>Your application description</td>
      <td>false</td>
      <td>description</td>
    </tr>
    <tr>
      <td>version</td>
      <td>Your application version</td>
      <td>false</td>
      <td>1.0.0</td>
    </tr>
    <tr>
      <td>author</td>
      <td>Your application author</td>
      <td>false</td>
      <td>''</td>
    </tr>
  </table>
  <p>
    Example usage:
  </p>
  <pre><code class="language-bash">
$ nest new my-awesome-app</code>
OR <code class="language-bash">
$ nest n my-awesome-app</code></pre>
  <h4>generate (alias g)</h4>
  <p>
    The
    <strong>generate</strong> command generates a Nest architecture component.
  </p>
  <table>
    <tr>
      <th>Option</th>
      <th>Description</th>
      <th>Required</th>
      <th>Default value</th>
    </tr>
    <tr>
      <td>schematic</td>
      <td>The schematic name from the list bellow.</td>
      <td>true</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>name</td>
      <td>The name of the generated Nest architecture component.</td>
      <td>true</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>path</td>
      <td>The path from to generate the Nest architecture component.</td>
      <td>false</td>
      <td>src</td>
    </tr>
  </table>
  <p>A list of available architecture components:</p>
  <ul>
    <li>class       (alias cl)</li>
    <li>controller  (alias co)</li>
    <li>decorator   (alias d)</li>
    <li>exception   (alias e)</li>
    <li>filter      (alias f)</li>
    <li>gateway     (alias ga)</li>
    <li>guard       (alias gu)</li>
    <li>interceptor (alias i)</li>
    <li>middleware  (alias mi)</li>
    <li>module      (alias mo)</li>
    <li>pipe        (alias pi)</li>
    <li>provider    (alias pr)</li>
    <li>service     (alias s)</li>
  </ul>
  <p>
    Example usage:
  </p>
  <pre><code class="language-bash">
$ nest generate service users</code>
OR <code class="language-bash">
$ nest g s users</code></pre>
  <h4>info (alias i)</h4>
  <p>
    The
    <strong>info</strong> command will display your project information.
  </p>
  <pre><code class="language-bash">
$ nest info
 _   _             _      ___  _____  _____  _     _____
| \ | |           | |    |_  |/  ___|/  __ \| |   |_   _|
|  \| |  ___  ___ | |_     | |\ `--. | /  \/| |     | |
| . ` | / _ \/ __|| __|    | | `--. \| |    | |     | |
| |\  ||  __/\__ \| |_ /\__/ //\__/ /| \__/\| |_____| |_
\_| \_/ \___||___/ \__|\____/ \____/  \____/\_____/\___/

[System Information]
OS Version     : macOS High Sierra
NodeJS Version : v8.9.0
YARN Version    : 1.5.1
[Nest Information]
microservices version : 5.0.0
websockets version    : 5.0.0
testing version       : 5.0.0
common version        : 5.0.0
core version          : 5.0.0</code>
  </pre>
</div>
