<div class="content" #contentReference>
      <h3 id="injection-scopes">Injection scopes</h3>
<p>For the people coming from different languages, it might be awkward that in Nest almost everything is shared across the incoming requests. We have a connection pool to the database, singleton services with a global state etc. Generally, Node.js doesn&#39;t follow request/response Multi-Threaded Stateless Model in which every request is being processed by the separate thread. Hence, using singleton instances is fully <strong>safe</strong> for our applications.</p>
<p>However, there are edge-cases when request-based lifetime of the controller may be an intentional behavior, for instance per-request cache in GraphQL applications, request tracking or multi-tenancy. How can we handle them?</p>
<h4 appAnchor id="scopes"><span>Scopes</span></h4>
<p>Basically, every provider can act as a singleton, be request-scoped, and be switched to the transient mode. See the following table to get familiar with the differences between them.</p>
<table>
  <tr>
    <td><code>SINGLETON</code></td>
    <td>Each provider can be <strong>shared</strong> across multiple classes. The provider lifetime is strictly tied to the application lifecycle. Once the application has bootstrapped, all providers are already instantiated. The singleton scope is being used by default.</td>
  </tr>
  <tr>
    <td><code>REQUEST</code></td>
    <td>A new instance of the provider is going to be exclusively created for every incoming <strong>request</strong> and garbage collected after the request processing is completed.</td>
  </tr>
  <tr>
    <td><code>TRANSIENT</code></td>
    <td>Transient providers cannot be shared between providers. Every time when another provider asks the Nest container for particular transient provider, the container will create a new, dedicated instance.</td>
  </tr>
</table>

<blockquote class="
info "><strong>Hint</strong> Using a singleton scope is always the <strong>recommended</strong> way. Sharing providers among requests leads to a lower memory consumption and thus to better performance of your application (no requirement to instantiate class every time).
</blockquote>
<h4 appAnchor id="usage"><span>Usage</span></h4>
<p>In order to switch to another injection scope, you have to pass an argument to the <code>@Injectable()</code> decorator:</p>
<pre><code class="language-typescript">
import &#123; Injectable, Scope &#125; from &#39;@nestjs/common&#39;;

@Injectable(&#123; scope: Scope.REQUEST &#125;)
export class CatsService &#123;&#125;</code></pre>
<p>In the case of <a routerLink="/fundamentals/custom-providers">custom providers</a>, you have to set an extra <code>scope</code> property:</p>
<pre><code class="language-typescript">
&#123;
  provide: &#39;CACHE_MANAGER&#39;,
  useClass: CacheManager,
  scope: Scope.TRANSIENT,
&#125;</code></pre>
<p>And when it comes to controllers, pass the <code>ControllerOptions</code> object:</p>
<pre><code class="language-typescript">
@Controller(&#123;
  path: &#39;cats&#39;,
  scope: Scope.REQUEST,
&#125;)
export class CatsController &#123;&#125;</code></pre>
<blockquote class="
warning "><strong>Notice</strong> Gateways should never rely on request-scoped providers because they act as singletons. One gateway encapsulates a real socket inside and cannot be instantiated multiple times.
</blockquote>
<h4 appAnchor id="per-request-injection"><span>Per-request injection</span></h4>
<p>The request-scoped providers have to be used very carefully. Keep in mind that the scope actually bubbles up in the <strong>injection chain</strong>. If your controller depends on a provider which is request-scoped, it means that your controller is actually request-scoped as well.</p>
<p>Imagine the following chain: <code>CatsController &lt;- CatsService &lt;- CatsRepository</code>. If your <code>CatsService</code> is request-scoped, the <code>CatsController</code> would become request-scoped too (because request-scoped instance have to be injected into a newly created controller), whereas <code>CatsRepository</code> would remain as a singleton.</p>
<blockquote class="
"><strong>Warning</strong> The circular dependencies in this case will lead to very painful side-effects and thus, you should certainly avoid creating them.
</blockquote>
<h4 appAnchor id="request-provider"><span>Request provider</span></h4>
<p>In the HTTP application, using request-scoped providers gives you a capability to inject an original request reference.</p>
<pre><code class="language-typescript">
import &#123; Injectable, Scope, Inject &#125; from &#39;@nestjs/common&#39;;
import &#123; REQUEST &#125; from &#39;@nestjs/core&#39;;
import &#123; Request &#125; from &#39;express&#39;;

@Injectable(&#123; scope: Scope.REQUEST &#125;)
export class CatsService &#123;
  constructor(@Inject(REQUEST) private readonly request: Request) &#123;&#125;
&#125;</code></pre>
<h4 appAnchor id="performance"><span>Performance</span></h4>
<p>Using request-scoped providers will obviously affect application performance. Even though Nest is trying to cache as much metadata as possible, it will still have to create an instance of your class on each request. Hence, it will slow down your average response time and overall benchmarking result. If your provider doesn&#39;t necessarily need to be request-scoped, you should rather stick with the singleton scope.</p>

    </div>
