<div class="content">
  <h3>Collection</h3>
  <p>
    As explain in overview section the @nestjs/schematics expose a collection of schematics described below.
  </p>
  <h4>application</h4>
  <p>
    The <strong>application</strong> schematic generates a standard Nest project structure.
  </p>
  <table>
    <tr>
      <th>Option Name</th>
      <th>Description</th>
      <th>Required</th>
      <th>Default Value</th>
    </tr>
    <tr>
      <td>directory</td>
      <td>The directory name to create the app in.</td>
      <td>true</td>
      <td>N/A</td>
    </tr>
  </table>
  <h4>module</h4>
  <p>
    The <strong>module</strong> schematic generates a Nest module.
  </p>
  <table>
    <tr>
      <th>Option Name</th>
      <th>Description</th>
      <th>Required</th>
      <th>Default Value</th>
    </tr>
    <tr>
      <td>name</td>
      <td>The name of the module.</td>
      <td>true</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>path</td>
      <td>The path to create the module.</td>
      <td>false</td>
      <td>app</td>
    </tr>
    <tr>
      <td>sourceDir</td>
      <td>The path of the source directory.</td>
      <td>false</td>
      <td>src</td>
    </tr>
  </table>
</div>
