<div class="content">
  <h3>IDE</h3>
  <p>
    One of the most popular GraphQL in-browser IDE is called <a href="https://github.com/graphql/graphiql" target="blank">GraphiQL</a>.
    In order to use a GraphiQL with your application, you need to set up a middleware. 
    This particular middleware comes with <code>apollo-server-express</code> package that we had to install a while ago.
    Its name is a <code>graphiqlExpress()</code>.
  </p>
  <p>
    In order to set up a middleware, we need to open an <code>app.module.ts</code> file once again:
  </p>
  <span class="filename">
    {{ 'app.module' | extension: appModuleSchemaT.isJsActive }}
    <app-tabs #appModuleSchemaT></app-tabs>
  </span>
  <pre [class.hide]="appModuleSchemaT.isJsActive"><code class="language-typescript">{{ createSchema }}</code></pre>
  <pre [class.hide]="!appModuleSchemaT.isJsActive"><code class="language-typescript">{{ createSchemaJs }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong> The <code>graphiqlExpress()</code> offers few other options, read more about them <a href="https://www.apollographql.com/docs/apollo-server/graphiql.html" target="blank">here</a>.
  </blockquote>
  <p>
    Afterward, when you navigate to the <code>http://localhost:PORT/graphiql</code> you should see a graphical interactive GraphiQL IDE.
  </p>
</div>
