<div class="content" #contentReference>
      <h3 id="exception-filters">Exception filters</h3>
<p>The only difference between <a routerLink="/exception-filters">HTTP exception filter</a> layer and corresponding web sockets layer is that instead of throwing <code>HttpException</code>, you should rather use <code>WsException</code>.</p>
<pre><code class="language-typescript">
throw new WsException(&#39;Invalid credentials.&#39;);</code></pre>
<blockquote class="
info "><strong>Hint</strong> The <code>WsException</code> class is imported from the <code>@nestjs/websockets</code> package.
</blockquote>
<p>Nest will handle thrown exception and as a result, emits the <code>exception</code> message with the following structure:</p>
<pre><code class="language-typescript">
&#123;
  status: &#39;error&#39;,
  message: &#39;Invalid credentials.&#39;
&#125;</code></pre>
<h4 appAnchor id="filters"><span>Filters</span></h4>
<p>The <strong>custom filters</strong> feature is supported as well and works equivalently. Here is an example that makes use of a manually instantiated <strong>method-scoped</strong> filter (class-scoped works too):</p>
<pre><code class="language-typescript">
@UseFilters(new WsExceptionFilter())
@SubscribeMessage(&#39;events&#39;)
onEvent(client, data: any): WsResponse&lt;any&gt; &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
<h4 appAnchor id="inheritance"><span>Inheritance</span></h4>
<p>Typically, you&#39;ll create fully customized exception filters crafted to fulfill your application requirements. There might be use-cases though when you would like to reuse an already implemented, <strong>core exception filter</strong>, and override the behavior based on certain factors.</p>
<p>In order to delegate exception processing to the base filter, you need to extend <code>BaseWsExceptionFilter</code> and call inherited <code>catch()</code> method.</p>

<span class="filename">
<app-tabs #app2308e3d0c93d8f0dfe7651e6ab1d610b771b3cfd></app-tabs>
</span><pre [class.hide]="app2308e3d0c93d8f0dfe7651e6ab1d610b771b3cfd.isJsActive"><code class="language-typescript">
import &#123; Catch, ArgumentsHost &#125; from &#39;@nestjs/common&#39;;
import &#123; BaseWsExceptionFilter &#125; from &#39;@nestjs/websockets&#39;;

@Catch()
export class AllExceptionsFilter extends BaseWsExceptionFilter &#123;
  catch(exception: any, host: ArgumentsHost) &#123;
    super.catch(exception, host);
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app2308e3d0c93d8f0dfe7651e6ab1d610b771b3cfd.isJsActive"><code class="language-typescript">
import &#123; Catch &#125; from &#39;@nestjs/common&#39;;
import &#123; BaseWsExceptionFilter &#125; from &#39;@nestjs/websockets&#39;;

@Catch()
export class AllExceptionsFilter extends BaseWsExceptionFilter &#123;
  catch(exception, host) &#123;
    super.catch(exception, host);
  &#125;
&#125;</code></pre><p>Obviously, you should enhance above implementation with your tailored <strong>business</strong> logic (e.g. add various conditions).</p>

    </div>
