<div class="content">
  <h3>Exception filters</h3>
  <p>
    The only difference between <a routerLink="/exception-filters">HTTP exception filter</a> layer and corresponding web
    sockets layer is that instead of throwing <code>HttpException</code>, you should rather use <code>WsException</code>.
  </p>
  <pre><code class="language-typescript">{{ wsException }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong> The <code>WsException</code> class is imported from the <code>@nestjs/websockets</code> package.
  </blockquote>
  <p>
    Nest will handle thrown exception and as a result, emits the <code>exception</code> message with the following structure:
  </p>
  <pre><code class="language-typescript">{{ exceptionResponse }}</code></pre>
  <h4>Filters</h4>
  <p>
    The <strong>custom filters</strong> feature is supported as well and works equivalently. Here is an example that makes
    use of a manually instantiated <strong>method-scoped</strong> filter (class-scoped works either):
  </p>
  <pre><code class="language-typescript">{{ example }}</code></pre>
  <h4>Inheritance</h4>
  <p>
    Typically, you'll create fully customized exception filters crafted to fulfill your application requirements. There might
    be use-cases though when you would like to reuse an already implemented, <strong>core exception filter</strong>,
    and override the behavior based on certain factors.
  </p>
  <p>
    In order to delegate exception processing to the base filter, you need to extend <code>BaseWsExceptionFilter</code> and
    call inherited <code>catch()</code> method. Besides, <code>HttpServer</code> reference has to be injected and passed
    to the
    <code>super()</code> call.
  </p>
  <span class="filename">
    <app-tabs #inheritanceT></app-tabs>
  </span>
  <pre [class.hide]="inheritanceT.isJsActive"><code class="language-typescript">{{ inheritance }}</code></pre>
  <pre [class.hide]="!inheritanceT.isJsActive"><code class="language-typescript">{{ inheritanceJs }}</code></pre>
  <p>
    Obviously, you should enhance above implementation with your tailored <strong>business</strong> logic (e.g. add various
    conditions).
  </p>
</div>