
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/cli/scripts.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="nest-cli-and-scripts">Nest CLI and scripts</h3>
<p>This section provides additional background on how the <code>nest</code> command interacts with compilers and scripts to help DevOps personnel manage the development environment.</p>
<p>A Nest application is a <strong>standard</strong> TypeScript application that needs to be compiled to JavaScript before it can be executed. There are various ways to accomplish the compilation step, and developers/teams are free to choose a way that works best for them. With that in mind, Nest provides a set of tools out-of-the-box that seek to do the following:</p>
<ul>
<li>Provide a standard build/execute process, available at the command line, that &quot;just works&quot; with reasonable defaults.</li>
<li>Ensure that the build/execute process is <strong>open</strong>, so developers can directly access the underlying tools to customize them using native features and options.</li>
<li>Remain a completely standard TypeScript/Node.js framework, so that the entire compile/deploy/execute pipeline can be managed by any external tools that the development team chooses to use.</li>
</ul>
<p>This goal is accomplished through a combination of the <code>nest</code> command, a locally installed TypeScript compiler, and <code>package.json</code> scripts. We describe how these technologies work together below. This should help you understand what&#39;s happening at each step of the build/execute process, and how to customize that behavior if necessary.</p>
<h4 appAnchor id="the-nest-binary"><span>The nest binary</span></h4>
<p>The <code>nest</code> command is an OS level binary (i.e., runs from the OS command line). This command actually encompasses 3 distinct areas, described below. We recommend that you run the build (<code>nest build</code>) and execution (<code>nest start</code>) sub-commands via the <code>package.json</code> scripts provided automatically when a project is scaffolded (see <a rel='nofollow' target='_blank' href="https://github.com/nestjs/typescript-starter">typescript starter</a> if you wish to start by cloning a repo, instead of running <code>nest new</code>).</p>
<h4 appAnchor id="build"><span>Build</span></h4>
<p><code>nest build</code> is a wrapper on top of the standard <code>tsc</code> compiler (for <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/cli/overview#project-structure">standard projects</a>) or the webpack compiler (for <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/cli/overview#project-structure">monorepos</a>). It does not add any other compilation features or steps except for handling <code>tsconfig-paths</code> out of the box. The reason it exists is that most developers, especially when starting out with Nest, do not need to adjust compiler options (e.g., <code>tsconfig.json</code> file) which can sometimes be tricky.</p>
<p>See the <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/cli/usages#nest-build">nest build</a> documentation for more details.</p>
<h4 appAnchor id="execution"><span>Execution</span></h4>
<p><code>nest start</code> simply ensures the project has been built (same as <code>nest build</code>), then invokes the <code>node</code> command in a portable, easy way to execute the compiled application. As with builds, you are free to customize this process as needed, either using the <code>nest start</code> command and its options, or completely replacing it. The entire process is a standard TypeScript application build and execute pipeline, and you are free to manage the process as such.</p>
<p>See the <a rel='nofollow' target='_blank' href="https://docs.nestjs.com/cli/usages#nest-start">nest start</a> documentation for more details.</p>
<h4 appAnchor id="generation"><span>Generation</span></h4>
<p>The <code>nest generate</code> commands, as the name implies, generate new Nest projects, or components within them.</p>
<h4 appAnchor id="package-scripts"><span>Package scripts</span></h4>
<p>Running the <code>nest</code> commands at the OS command level requires that the <code>nest</code> binary be installed globally. This is a standard feature of npm, and outside of Nest&#39;s direct control. One consequence of this is that the globally installed <code>nest</code> binary is <strong>not</strong> managed as a project dependency in <code>package.json</code>. For example, two different developers can be running two different versions of the <code>nest</code> binary. The standard solution for this is to use package scripts so that you can treat the tools used in the build and execute steps as development dependencies.</p>
<p>When you run <code>nest new</code>, or clone the <a rel='nofollow' target='_blank' href="https://github.com/nestjs/typescript-starter">typescript starter</a>, Nest populates the new project&#39;s <code>package.json</code> scripts with commands like <code>build</code> and <code>start</code>. It also installs the underlying compiler tools (such as <code>typescript</code>) as <strong>dev dependencies</strong>.</p>
<p>You run the build and execute scripts with commands like:</p>
<pre><code class="language-bash">
$ npm run build
</code></pre>
<p>and</p>
<pre><code class="language-bash">
$ npm run start
</code></pre>
<p>These commands use npm&#39;s script running capabilities to execute <code>nest build</code> or <code>nest start</code> using the <strong>locally installed</strong> <code>nest</code> binary. By using these built-in package scripts, you have full dependency management over the Nest CLI commands*. This means that, by following this <strong>recommended</strong> usage, all members of your organization can be assured of running the same version of the commands.</p>
<p>*This applies to the <code>build</code> and <code>start</code> commands. The <code>nest new</code> and <code>nest generate</code> commands aren&#39;t part of the build/execute pipeline, so they operate in a different context, and do not come with built-in <code>package.json</code> scripts.</p>
<p>For most developers/teams, it is recommended to utilize the package scripts for building and executing their Nest projects. You can fully customize the behavior of these scripts via their options (<code>--path</code>, <code>--webpack</code>, <code>--webpackPath</code>) and/or customize the <code>tsc</code> or webpack compiler options files (e.g., <code>tsconfig.json</code>) as needed. You are also free to run a completely custom build process to compile the TypeScript (or even to execute TypeScript directly with <code>ts-node</code>).</p>
<h4 appAnchor id="backward-compatibility"><span>Backward compatibility</span></h4>
<p>Because Nest applications are pure TypeScript applications, previous versions of the Nest build/execute scripts will continue to operate. You are not required to upgrade them. You can choose to take advantage of the new <code>nest build</code> and <code>nest start</code> commands when you are ready, or continue running previous or customized scripts.</p>
<h4 appAnchor id="migration"><span>Migration</span></h4>
<p>While you are not required to make any changes, you may want to migrate to using the new CLI commands instead of using tools such as <code>tsc-watch</code> or <code>ts-node</code>. In this case, simply install the latest version of the <code>@nestjs/cli</code>, both globally and locally:</p>
<pre><code class="language-bash">
$ npm install -g @nestjs/cli
$ cd  /some/project/root/folder
$ npm install -D @nestjs/cli
</code></pre>
<p>You can then replace the <code>scripts</code> defined in <code>package.json</code> with the following ones:</p>
<pre><code class="language-typescript">
&quot;build&quot;: &quot;nest build&quot;,
&quot;start&quot;: &quot;nest start&quot;,
&quot;start:dev&quot;: &quot;nest start --watch&quot;,
&quot;start:debug&quot;: &quot;nest start --debug --watch&quot;,
</code></pre>

</div>

