<div class="content">
  <h3>Usages</h3>
  <blockquote>
    <strong>ATTENTION!</strong> You need to install @angular-devkit/schematics-cli and build @nestjs/schematics before. 
    Please refer to <a [routerLink]="['/schematics/installation']">installation</a> section.
  </blockquote>
  <pre>
    <code class="language-bash">
      $ schematics [CollectionName:]SchematicName [options, ...]
    </code>
  </pre>
  <ul>
    <li>CollectionName is the path to the @nestjs/schematics built folder</li>
    <li>SchematicName is schematic name from the <a [routerLink]="['/schematics/collection']">collection</a></li>
  </ul>
</div>
