<div class="content">
  <h3>Controllers</h3>
  <p>The controllers layer is responsible for handling incoming <strong>requests</strong>, and return a <strong>response</strong> to the client.</p>
  <figure><img src="/assets/Controllers_1.png" /></figure>
  <p>
    To create a basic controller you have to attach the <strong>metadata</strong> to the class.
    Thanks to the metadata Nest knows how to map your controller into the appropriate routes. To attach the metadata we're using the <strong>decorators</strong> (in this case <code>@Controller('cats')</code>).
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: catsControllerT.isJsActive }}
     <app-tabs #catsControllerT></app-tabs>
    </span>
  <pre><code class="language-typescript">{{ catsController }}</code></pre>
  <h4>Metadata</h4>
  <p>
    We're using <code>@Controller('cats')</code> here. This decorator is <strong>obligatory</strong>.
    The <code>cats</code> is a prefix for each route registered in the class. The prefix is <strong>optional</strong>, that means you could leave the parentheses empty (<code>@Controller()</code>), but it reduces redundant boilerplate code,
    thus you don't have to repeat yourself every time when you'd decide to create a new endpoint (route).
  </p>
  <p>
    There's a single public method, the <code>findAll()</code>, which returns an empty array.
    The <code>@Get()</code> decorator tells Nest that it's necessary to create an endpoint for this route path
    and map every appropriate request to this handler. Since we declared the prefix for every route (<code>cats</code>),
    Nest will map every <code>/cats</code> <strong>GET</strong> request here.
  </p>
  <p>
    When a client would call this endpoint, Nest will return with 200 status code, and the parsed <strong>JSON</strong>, so in this case - just an empty array.
    How is that possible?
  </p>
  <p>
    There're <strong>two possible approaches</strong> of manipulating the response:
  </p>
  <table>
    <tr>
      <td>Standard (recommended)</td>
      <td>
        We're treating the handlers in the same way as plain functions. When we return the JavaScript object or array, it'd be <strong>automatically</strong>
        transformed to JSON. When we return a string, Nest will send just a string.
        <br />
        <br />
        Furthermore, the response <strong>status code</strong> is always 200 by default, except POST requests, when it's <strong>201</strong>.
        We can easily change this behaviour by adding the <code>@HttpCode(...)</code> decorator at a handler-level.
      </td>
    </tr>
    <tr>
      <td>Express</td>
      <td>
        We can use the express <a href="http://expressjs.com/en/api.html#res" target="blank">response object</a>,
        which we can inject using <code>@Res()</code> decorator in the function signature, for example <code>findAll(@Res() response)</code>.
      </td>
    </tr>
  </table>
  <blockquote>
    <strong>Notice!</strong> It's forbidden to use both two approaches at the same time. Nest detects whether the handler is using <code>@Res()</code> or <code>@Next()</code>, and if that's the case - the standard way is disabled for this single route.
  </blockquote>
  <h4>Request object</h4>
  <p>
    A lot of endpoints need an access to the client <strong>request</strong> details.
    In fact, Nest is using express <a href="http://expressjs.com/en/api.html#req" target="blank">request object</a>.
    We can force Nest to inject the request object into handler using <code>@Req()</code> decorator.
  </p>
  <blockquote class="info">
    <strong>Hint</strong> There's a <code>@types/express</code> package and we strongly recommend to use it (<code>Request</code> has its own typings).
  </blockquote>
  <span class="filename">
    {{ 'cats.controller' | extension: requestObjectT.isJsActive }}
    <app-tabs #requestObjectT></app-tabs>
  </span>
  <pre [class.hide]="requestObjectT.isJsActive"><code class="language-typescript">{{ requestObject }}</code></pre>
  <pre [class.hide]="!requestObjectT.isJsActive"><code class="language-typescript">{{ requestObjectJs }}</code></pre>
  <p>
    The request object represents the HTTP request and has properties for the request query string, parameters, HTTP headers, and e.g. body (read more <a href="http://expressjs.com/en/api.html#req" target="blank">here</a>), but in most cases, it's not necessary to grab them manually.
    We can use <strong>dedicated decorators</strong> instead, such as <code>@Body()</code> or <code>@Query()</code>, which are available out of the box.
    Below is a comparison of the decorators with the plain express objects.
  </p>
  <table>
    <tbody>
    <tr>
      <td><code>@Request()</code></td>
      <td><code>req</code></td>
    </tr>
    <tr>
      <td><code>@Response()</code></td>
      <td><code>res</code></td>
    </tr>
    <tr>
      <td><code>@Next()</code></td>
      <td><code>next</code></td>
    </tr>
    <tr>
      <td><code>@Session()</code></td>
      <td><code>req.session</code></td>
    </tr>
    <tr>
      <td><code>@Param(param?: string)</code></td>
      <td><code>req.params</code> / <code>req.params[param]</code></td>
    </tr>
    <tr>
      <td><code>@Body(param?: string)</code></td>
      <td><code>req.body</code> / <code>req.body[param]</code></td>
    </tr>
    <tr>
      <td><code>@Query(param?: string)</code></td>
      <td><code>req.query</code> / <code>req.query[param]</code></td>
    </tr>
    <tr>
      <td><code>@Headers(param?: string)</code></td>
      <td><code>req.headers</code> / <code>req.headers[param]</code></td>
    </tr>
    </tbody>
  </table>
  <h4>More endpoints</h4>
  <p>
    We have already created an endpoint to fetch the data (<strong>GET</strong> route). It'd be great to provide a way of creating the new records too.
    Let's create the <strong>POST</strong> handler:
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: postEndpointT.isJsActive }}
    <app-tabs #postEndpointT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ postEndpoint }}</code></pre>
  <p>
    It's really easy. Nest provides the rest of those endpoints decorators in the same fashion -
    <code>@Put()</code>, <code>@Delete()</code>, <code>@Patch()</code>, <code>@Options()</code>, <code>@Head()</code>, and <code>@All()</code>.
  </p>
  <h4>Status code manipulation</h4>
  <p>
    As mentioned, the response <strong>status code</strong> is always 200 by default, except POST requests, when it's <strong>201</strong>.
    We can easily change this behaviour by adding the <code>@HttpCode(...)</code> decorator at a handler-level.
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: statusCodeT.isJsActive }}
    <app-tabs #statusCodeT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ statusCode }}</code></pre>
  <h4>Route parameters</h4>
  <p>
    Routes with static paths can't help when you need to accept <strong>dynamic data</strong> as part of the URL.
    To define routes with parameters, simply specify the route parameters in the path of the route as shown below.
  </p>
  <pre><code class="language-typescript">{{ routeParameters }}</code></pre>
  <h4>Async / await</h4>
  <p>
    We love modern JavaScript, and we know that the data extraction is mostly <strong>asynchronous</strong>.
    That's why Nest supports <code>async</code> functions and works pretty well with them.
  </p>
  <blockquote class="info">
    <strong>Hint</strong> Learn more about <code>async / await</code> <a href="https://kamilmysliwiec.com/typescript-2-1-introduction-async-await" target="blank">here</a>!
  </blockquote>
  <p>
    Every async function has to return a <code>Promise</code>. It means that you can return deferred value and
    Nest will resolve it by itself. Let's have a look at the example below:
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: asyncExampleT.isJsActive }}
    <app-tabs #asyncExampleT></app-tabs>
  </span>
  <pre [class.hide]="asyncExampleT.isJsActive"><code class="language-typescript">{{ asyncExample }}</code></pre>
  <pre [class.hide]="!asyncExampleT.isJsActive"><code class="language-typescript">{{ asyncExampleJs }}</code></pre>
  <p>
    It's fully valid.
  </p>
  <p>
    Furthermore, Nest route handlers are even more powerful. They can return RxJS
    <a href="http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html" target="blank">observable streams</a>.
    It makes the migration between a simple web application and the Nest microservice much easier.
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: observableExampleT.isJsActive }}
    <app-tabs #observableExampleT></app-tabs>
  </span>
  <pre [class.hide]="observableExampleT.isJsActive"><code class="language-typescript">{{ observableExample }}</code></pre>
  <pre [class.hide]="!observableExampleT.isJsActive"><code class="language-typescript">{{ observableExampleJs }}</code></pre>
  <p>
    There's no recommended way. You can use whatever you want.
  </p>
  <h4>POST handler</h4>
  <p>
    Our previous example of POST route handler doesn't accept any client params. Let's fix this by adding the <code>@Body()</code> argument here.
  </p>
  <p>
    Firstly, we need to establish the <strong>DTO</strong> (Data Transfer Object) schema.
    A DTO is an object that defines how the data will be sent over the network.
    We could do this by using <strong>TypeScript</strong>
    interfaces, or by simple classes. What may be surprising, we recommend using <strong>classes</strong> here. Why?
    Classes are part of the JavaScript ES6 standard, so they're just plain functions. On the other hand, TypeScript interfaces are removed
    during the transpilation, Nest can't refer to them. It's important because features such as <strong>Pipes</strong> enable additional possibilities when they have access to the metatype
    of the variable.
  </p>
  <p>
    Let's create the <code>CreateCatDto</code>:
  </p>
  <span class="filename">
    {{ 'dto/create-cat.dto' | extension: createCatSchemaT.isJsActive }}
    <app-tabs #createCatSchemaT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ createCatSchema }}</code></pre>
  <p>
    It has only three basic properties. All of them are marked as <code>readonly</code>, because we should
    always try to make our functions as <a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-is-a-pure-function-d1c076bec976" target="blank">pure</a> as possible.
  </p>
  <p>
    Now we can use the schema inside the <code>CatsController</code>:
  </p>
  <span class="filename">
    {{ 'cats.controller' | extension: exampleWithBodyT.isJsActive }}
    <app-tabs #exampleWithBodyT></app-tabs>
  </span>
  <pre [class.hide]="exampleWithBodyT.isJsActive"><code class="language-typescript">{{ exampleWithBody }}</code></pre>
  <pre [class.hide]="!exampleWithBodyT.isJsActive"><code class="language-typescript">{{ exampleWithBodyJs }}</code></pre>
  <h4>Handling errors</h4>
  <p>
    There's a separate chapter about working with the exceptions <a routerLink="/exception-filters">here</a>.
  </p>
  <h4>Last step</h4>
  <p>
    The controller is prepared, and ready to use, but Nest doesn't know that <code>CatsController</code> exists yet,
    so it won't create an instance of this class. We need to tell Nest about it.
  </p>
  <p>
    The controller always belongs to the module, that's why we hold the <code>controllers</code> array within the <code>@Module()</code> decorator.
    Since we don't have any other modules except the root <code>ApplicationModule</code>, let's use it for now:
  </p>
  <span class="filename">
    {{ 'app.module' | extension: appModuleT.isJsActive }}
    <app-tabs #appModuleT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ appModule }}</code></pre>
  <p>
    Tada! We attached the metadata to the module class, so now Nest can easily reflect which controllers has to be mounted.
  </p>
  <h4>Express approach</h4>
  <p>
    So far we've discussed the Nest standard way of manipulating responses.
    The second way of manipulating the response is to use express the <a href="http://expressjs.com/en/api.html#res" target="blank">response object</a>.
    It was the only available option until <strong>Nest 4</strong>. To inject the response object, we need to use <code>@Res()</code> decorator.
    To show the differences, let's rewrite the <code>CatsController</code>:
  </p>
  <span class="filename">
    <app-tabs #expressWayT></app-tabs>
  </span>
  <pre [class.hide]="expressWayT.isJsActive"><code class="language-typescript">{{ expressWay }}</code></pre>
  <pre [class.hide]="!expressWayT.isJsActive"><code class="language-typescript">{{ expressWayJs }}</code></pre>
  <p>
    This manner is much less clear from my point of view. I definitely prefer the first approach, but to make the Nest <strong>backward compatible</strong>
    with the previous versions, this method is still available. Also, the <strong>response object</strong> gives more flexibility - you have full control of the express response object.
  </p>
</div>
