<div class="content" #contentReference>
      <h3 id="testing">Testing</h3>
<p>Automatic tests are an essential part of the fully functional <strong>software product</strong>. That is very critical to cover at least the most sensitive parts of your system. In order to accomplish that goal, we produce a set of different tests like integration tests, unit tests, e2e tests, and so on. And Nest provides a bunch of test utilities that improves testing experience.</p>
<p>In general, you can use any <strong>testing framework</strong> that you enjoy working with. We don&#39;t enforce tooling, choose whatever fits your requirements. The main Nest application starter is integrated with <a href="https://github.com/facebook/jest">Jest</a> framework to reduce an amount of overhead when it comes to start writing your tests, but still, you can get rid of it and use any other tool easily.</p>
<h4 appAnchor id="installation"><span>Installation</span></h4>
<p>Firstly, we need to install the required package:</p>
<pre><code class="language-bash">
$ npm i --save-dev @nestjs/testing</code></pre>
<h4 appAnchor id="unit-testing"><span>Unit testing</span></h4>
<p>In the following example, we have two different classes, <code>CatsController</code> and <code>CatsService</code> respectively. As mentioned before, <a href="https://github.com/facebook/jest">Jest</a> is used as a fully-fledged testing framework. That framework behaves like a test-runner and also, provides assert functions and test-doubles utilities that helps with mocking, spying, etc. We have manually enforced <code>catsService.findAll()</code> method to return <code>result</code> variable, once it&#39;s called. Thanks to that, we can test whether <code>catsController.findAll()</code> returns expected result, or not.</p>

<span class="filename">
  {{ 'cats.controller.spec' | extension: appd5c932314f958362ccb7d6497f5b6c07c007267e.isJsActive }}
<app-tabs #appd5c932314f958362ccb7d6497f5b6c07c007267e></app-tabs>
</span><pre [class.hide]="appd5c932314f958362ccb7d6497f5b6c07c007267e.isJsActive"><code class="language-typescript">
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

describe(&#39;CatsController&#39;, () =&gt; &#123;
  let catsController: CatsController;
  let catsService: CatsService;

  beforeEach(() =&gt; &#123;
    catsService = new CatsService();
    catsController = new CatsController(catsService);
  &#125;);

  describe(&#39;findAll&#39;, () =&gt; &#123;
    it(&#39;should return an array of cats&#39;, async () =&gt; &#123;
      const result = [&#39;test&#39;];
      jest.spyOn(catsService, &#39;findAll&#39;).mockImplementation(() =&gt; result);

      expect(await catsController.findAll()).toBe(result);
    &#125;);
  &#125;);
&#125;);</code></pre>
<pre [class.hide]="!appd5c932314f958362ccb7d6497f5b6c07c007267e.isJsActive"><code class="language-typescript">
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

describe(&#39;CatsController&#39;, () =&gt; &#123;
  let catsController;
  let catsService;

  beforeEach(() =&gt; &#123;
    catsService = new CatsService();
    catsController = new CatsController(catsService);
  &#125;);

  describe(&#39;findAll&#39;, () =&gt; &#123;
    it(&#39;should return an array of cats&#39;, async () =&gt; &#123;
      const result = [&#39;test&#39;];
      jest.spyOn(catsService, &#39;findAll&#39;).mockImplementation(() =&gt; result);

      expect(await catsController.findAll()).toBe(result);
    &#125;);
  &#125;);
&#125;);</code></pre><blockquote class="
info "><strong>Hint</strong> Keep your test files nearby tested classes. The testing files should have a <code>.spec</code> or <code>.test</code> suffix.
</blockquote>
<p>We didn&#39;t make use of any existing Nest testing utility so far. Since we have manually taken care of instantiating tested classes, above test suite has nothing to do with Nest. This type of testing is called <strong>isolated tests</strong>.</p>
<h4 appAnchor id="testing-utilities"><span>Testing utilities</span></h4>
<p>The <code>@nestjs/testing</code> package gives us a set of utilities that boost the testing process. Let&#39;s rewrite the previous example, but now, using exposed <code>Test</code> class.</p>

<span class="filename">
  {{ 'cats.controller.spec' | extension: app03cfcb7386cf9a74840ed355e7edfffa0e774d91.isJsActive }}
<app-tabs #app03cfcb7386cf9a74840ed355e7edfffa0e774d91></app-tabs>
</span><pre [class.hide]="app03cfcb7386cf9a74840ed355e7edfffa0e774d91.isJsActive"><code class="language-typescript">
import &#123; Test &#125; from &#39;@nestjs/testing&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

describe(&#39;CatsController&#39;, () =&gt; &#123;
  let catsController: CatsController;
  let catsService: CatsService;

  beforeEach(async () =&gt; &#123;
    const module = await Test.createTestingModule(&#123;
        controllers: [CatsController],
        providers: [CatsService],
      &#125;).compile();

    catsService = module.get&lt;CatsService&gt;(CatsService);
    catsController = module.get&lt;CatsController&gt;(CatsController);
  &#125;);

  describe(&#39;findAll&#39;, () =&gt; &#123;
    it(&#39;should return an array of cats&#39;, async () =&gt; &#123;
      const result = [&#39;test&#39;];
      jest.spyOn(catsService, &#39;findAll&#39;).mockImplementation(() =&gt; result);

      expect(await catsController.findAll()).toBe(result);
    &#125;);
  &#125;);
&#125;);</code></pre>
<pre [class.hide]="!app03cfcb7386cf9a74840ed355e7edfffa0e774d91.isJsActive"><code class="language-typescript">
import &#123; Test &#125; from &#39;@nestjs/testing&#39;;
import &#123; CatsController &#125; from &#39;./cats.controller&#39;;
import &#123; CatsService &#125; from &#39;./cats.service&#39;;

describe(&#39;CatsController&#39;, () =&gt; &#123;
  let catsController;
  let catsService;

  beforeEach(async () =&gt; &#123;
    const module = await Test.createTestingModule(&#123;
        controllers: [CatsController],
        providers: [CatsService],
      &#125;).compile();

    catsService = module.get(CatsService);
    catsController = module.get(CatsController);
  &#125;);

  describe(&#39;findAll&#39;, () =&gt; &#123;
    it(&#39;should return an array of cats&#39;, async () =&gt; &#123;
      const result = [&#39;test&#39;];
      jest.spyOn(catsService, &#39;findAll&#39;).mockImplementation(() =&gt; result);

      expect(await catsController.findAll()).toBe(result);
    &#125;);
  &#125;);
&#125;);</code></pre><p><code>Test</code> class has a <code>createTestingModule()</code> method that takes a module metadata (the same object as this one passed in <code>@Module()</code> decorator) as an argument. This method creates a <code>TestingModule</code> instance which in turn provides a few methods, but only one of them is useful when it comes to unit tests - the <code>compile()</code>. This function is <strong>asynchronous</strong>, therefore it has to be awaited. Once module is compiled, you can retrieve any instance using <code>get()</code> method.</p>
<p>In order to mock a real instance, you can override existing provider with a <a routerLink="/fundamentals/dependency-injection">custom provider</a>.</p>
<h4 appAnchor id="end-to-end-testing"><span>End-to-end testing</span></h4>
<p>When the application grows, it is hard to manually test a behavior of each API endpoint. The end-to-end tests help us to make sure that everything is working correctly and fits project requirements. To perform e2e tests we use the same configuration as in the case of <strong>unit testing</strong>, but additionally, we take advantage of <a href="https://github.com/visionmedia/supertest">supertest</a> library that allows simulating HTTP requests.</p>

<span class="filename">
  {{ 'cats.e2e-spec' | extension: app07fc0bec0518f6e1ea9222aff9fabb58f29a1c9b.isJsActive }}
<app-tabs #app07fc0bec0518f6e1ea9222aff9fabb58f29a1c9b></app-tabs>
</span><pre [class.hide]="app07fc0bec0518f6e1ea9222aff9fabb58f29a1c9b.isJsActive"><code class="language-typescript">
import * as request from &#39;supertest&#39;;
import &#123; Test &#125; from &#39;@nestjs/testing&#39;;
import &#123; CatsModule &#125; from &#39;../../src/cats/cats.module&#39;;
import &#123; CatsService &#125; from &#39;../../src/cats/cats.service&#39;;
import &#123; INestApplication &#125; from &#39;@nestjs/common&#39;;

describe(&#39;Cats&#39;, () =&gt; &#123;
  let app: INestApplication;
  let catsService = &#123; findAll: () =&gt; [&#39;test&#39;] &#125;;

  beforeAll(async () =&gt; &#123;
    const module = await Test.createTestingModule(&#123;
      imports: [CatsModule],
    &#125;)
      .overrideProvider(CatsService)
      .useValue(catsService)
      .compile();

    app = module.createNestApplication();
    await app.init();
  &#125;);

  it(`/GET cats`, () =&gt; &#123;
    return request(app.getHttpServer())
      .get(&#39;/cats&#39;)
      .expect(200)
      .expect(&#123;
        data: catsService.findAll(),
      &#125;);
  &#125;);

  afterAll(async () =&gt; &#123;
    await app.close();
  &#125;);
&#125;);</code></pre>
<pre [class.hide]="!app07fc0bec0518f6e1ea9222aff9fabb58f29a1c9b.isJsActive"><code class="language-typescript">
import * as request from &#39;supertest&#39;;
import &#123; Test &#125; from &#39;@nestjs/testing&#39;;
import &#123; CatsModule &#125; from &#39;../../src/cats/cats.module&#39;;
import &#123; CatsService &#125; from &#39;../../src/cats/cats.service&#39;;
import &#123; INestApplication &#125; from &#39;@nestjs/common&#39;;

describe(&#39;Cats&#39;, () =&gt; &#123;
  let app: INestApplication;
  let catsService = &#123; findAll: () =&gt; [&#39;test&#39;] &#125;;

  beforeAll(async () =&gt; &#123;
    const module = await Test.createTestingModule(&#123;
      imports: [CatsModule],
    &#125;)
      .overrideProvider(CatsService)
      .useValue(catsService)
      .compile();

    app = module.createNestApplication();
    await app.init();
  &#125;);

  it(`/GET cats`, () =&gt; &#123;
    return request(app.getHttpServer())
      .get(&#39;/cats&#39;)
      .expect(200)
      .expect(&#123;
        data: catsService.findAll(),
      &#125;);
  &#125;);

  afterAll(async () =&gt; &#123;
    await app.close();
  &#125;);
&#125;);</code></pre><blockquote class="
info "><strong>Hint</strong> Keep your e2e test files inside the <code>e2e</code> directory. The testing files should have a <code>.e2e-spec</code> or <code>.e2e-test</code> suffix.
</blockquote>
<p>The <code>cats.e2e-spec.ts</code> test file contains a single HTTP endpoint test (<code>/cats</code>). We have used <code>app.getHttpServer()</code> method to pick up an underlying HTTP server that runs in the background of Nest application. Notice that <code>TestingModule</code> instance provides a <code>overrideProvider()</code> method, and thus we can <strong>override</strong> the existing provider which is declared by the imported module. Also, we can successively override the guards, interceptors, filters, and pipes using corresponding methods, <code>overrideGuard()</code>, <code>overrideInterceptor()</code>, <code>overrideFilter()</code>, and <code>overridePipe()</code> respectively.</p>
<p>The compiled module has several methods well described in the following table:</p>
<table>
    <tr>
      <td>
        <code>createNestInstance()</code>
      </td>
      <td>
        Creates a Nest instance based on a given module (returns <code>INestApplication</code>).
        Notice that it's necessary to manually initialize the application using <code>init()</code> method.
      </td>
    </tr>
    <tr>
      <td>
        <code>createNestMicroservice()</code>
      </td>
      <td>
        Creates a Nest microservice instance based on a given module (returns <code>INestMicroservice</code>).
      </td>
    </tr>
    <tr>
    <td>
      <code>get()</code>
    </td>
    <td>
      Retrieves an instance of either controller or provider (including guards, filters, and so on) available in the application context.
    </td>
  </tr>
  <tr>
    <td>
      <code>select()</code>
    </td>
    <td>
      Navigates through the modules graph, for example, to pull out a specific instance from the selected module (used along with enabled strict mode <code>strict: true</code> in <code>get()</code> method).
    </td>
  </tr>
</table>

    </div>
