<div class="banner">
  <h2>Explore your graph with <span>NestJS Devtools</span></h2>
  <ul>
    <li>
      <span><i class="fas fa-check"></i></span> Graph visualizer
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Routes navigator
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> Interactive playground
    </li>
    <li>
      <span><i class="fas fa-check"></i></span> CI/CD integration
    </li>
  </ul>
  <a
    href="https://devtools.nestjs.com"
    target="_blank"
    title="Devtools | NestJS - A node.js framework built on top of TypeScript"
    class="btn-more"
    >Sign up</a
  >
</div>
