<div class="content">
  <h3>Redis</h3>
  <p>
    A second built-in transporter is based on <a href="https://redis.io/" target="blank">Redis</a> database.
    This transporter takes advantage of <strong>publish/subscribe</strong> feature.
  </p>
  <figure><img src="/assets/Redis_1.png" /></figure>
  <h4>Installation</h4>
  <p>Before we start, we have to install required package:</p>
  <pre><code class="language-bash">
$ npm i --save redis</code></pre>
  <h4>Overview</h4>
  <p>
    In order to switch from TCP transport strategy to Redis <strong>pub/sub</strong>, we need to change an options object passed to the <code>createMicroservice()</code> method.
  </p>
  <span class="filename">
    {{ 'main' | extension: optionsT.isJsActive }}
    <app-tabs #optionsT></app-tabs>
  </span>
  <pre><code class="language-typescript">{{ options }}</code></pre>
  <h4>Options</h4>
  <p>
    There are a bunch of available options that determine a transporter behaviour.
  </p>
  <table>
    <tr>
      <td><code>url</code></td>
      <td>Connection url</td>
    </tr>
    <tr>
      <td><code>retryAttempts</code></td>
      <td>A total amount of connection attempts</td>
    </tr>
    <tr>
      <td><code>retryDelay</code></td>
      <td>A connection retrying delay (ms)</td>
    </tr>
  </table>
</div>
