<div class="content" #contentReference>
      <h3 id="prisma">Prisma</h3>
<p><a href="https://www.prisma.io/">Prisma</a> turns your database into a GraphQL API and enables the use of GraphQL as a universal query language for all databases. Instead of writing SQL or using a NoSQL API, you can query your database with GraphQL. In this chapter we won&#39;t go into details about Prisma, so head over to their website and have a look what <a href="https://www.prisma.io/features/">features</a> are available.</p>
<blockquote class="
warning "><strong>Notice</strong> In this article, you&#39;ll learn how to integrate <code>Prisma</code> into the Nest framework. We assume that you are already familiar with the GraphQL concepts and the <code>@nestjs/graphql</code> module.
</blockquote>
<h4 appAnchor id="dependencies"><span>Dependencies</span></h4>
<p>Firstly, we need to install the required packages:</p>
<pre><code class="language-bash">
$ npm install --save prisma-binding</code></pre>
<h4 appAnchor id="setup-prisma"><span>Setup Prisma</span></h4>
<p>While working with Prisma you can either host your own instance or use the <a href="https://www.prisma.io/cloud/">Prisma Cloud</a>. In this introduction we are going to use the demo server provided by Prisma.</p>
<ol>
<li>Install the Prisma CLI <code>npm install -g prisma</code></li>
<li>Create a new service <code>prisma init</code>, choose the demo server and follow the instructions</li>
<li>Deploy your service <code>prisma deploy</code></li>
</ol>
<p>If you find yourself in trouble jump over to their <a href="https://www.prisma.io/docs/quickstart/">Quick Start</a> section for further details. Eventually you should see two new files in your project directory, <code>prisma.yaml</code> configuration file:</p>
<pre><code class="language-yaml">
endpoint: https://us1.prisma.sh/nest-f6ec12/prisma/dev
datamodel: datamodel.graphql</code></pre>
<p>and automatically created data model, <code>datamodel.graphql</code>.</p>
<pre><code class="language-graphql">
type User &#123;
  id: ID! @unique
  name: String!
&#125;</code></pre>
<blockquote class="
warning "><strong>Notice</strong> In the real-world applications you will create more complex data models. For more information about data modeling in Prisma click <a href="https://www.prisma.io/features/data-modeling/">here</a>.
</blockquote>
<p>By typing <code>prisma playground</code> you can open the Prisma GraphQL playground.</p>
<h4 appAnchor id="create-the-client"><span>Create the client</span></h4>
<p>There are a couple of ways to integrate a GraphQL API. We are going to use <a href="https://www.npmjs.com/package/graphql-cli">GraphQL CLI</a>, a command line tool for common GraphQL development workflows. To install the GraphQL CLI use the following command:</p>
<pre><code class="language-bash">
$ npm install -g graphql-cli</code></pre>
<p>Next, create your <code>.graphqlconfig</code> in the root directory of the your Nest application:</p>
<pre><code class="language-bash">
$ touch .graphqlconfig.yml</code></pre>
<p>Put the following content into it:</p>
<pre><code class="language-yaml">
projects:
  database:
    schemaPath: src/prisma/prisma-types.graphql
    extensions:
      endpoints:
        default: https://us1.prisma.sh/nest-f6ec12/prisma/dev
      codegen:
        - generator: prisma-binding
          language: typescript
          output:
            binding: src/prisma/prisma.binding.ts</code></pre>
<p>To download your Prisma GraphQL schema to <code>prisma/prisma-types.graphql</code> and create your Prisma client under <code>prisma/prisma.binding.graphql</code>, run the following commands in your terminal:</p>
<pre><code class="language-bash">
$ graphql get-schema --project database
$ graphql codegen --project database</code></pre>
<h4 appAnchor id="integration"><span>Integration</span></h4>
<p>Almost done. Now, let&#39;s create a module for our Prisma integration.</p>

<span class="filename">
  {{ 'prisma.service' | extension: app87d21170b03388f3456ba7b92acc36a4a33e2fce.isJsActive }}
<app-tabs #app87d21170b03388f3456ba7b92acc36a4a33e2fce></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Injectable &#125; from &#39;@nestjs/common&#39;;
import &#123; Prisma &#125; from &#39;./prisma.binding&#39;;

@Injectable()
export class PrismaService extends Prisma &#123;
  constructor() &#123;
    super(&#123;
      endpoint: &#39;https://us1.prisma.sh/nest-f6ec12/prisma/dev&#39;,
      debug: false,
    &#125;);
  &#125;
&#125;</code></pre><p>Once <code>PrismaService</code> is ready, we need to create a corresponding module.</p>

<span class="filename">
  {{ 'prisma.module' | extension: appdafce3ef4702433d8bee265cce49d1ffc6052030.isJsActive }}
<app-tabs #appdafce3ef4702433d8bee265cce49d1ffc6052030></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; PrismaService &#125; from &#39;./prisma.service&#39;;

@Module(&#123;
  providers: [PrismaService],
  exports: [PrismaService],
&#125;)
export class PrismaModule &#123;&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> To create new modules and services in no time we can make use of the <a routerLink="/cli/overview">Nest CLI</a>. To create a <code>PrismaModule</code> type <code>nest g module prisma</code> and for the service <code>nest g service prisma</code>
</blockquote>
<h4 appAnchor id="usage"><span>Usage</span></h4>
<p>To use your new service we are going to import the <code>PrismaModule</code> and inject the <code>PrismaService</code> into <code>UsersResolver</code>.</p>

<span class="filename">
  {{ 'users.module' | extension: app553f8ab51e282562672b44d9bf32628293eeb23b.isJsActive }}
<app-tabs #app553f8ab51e282562672b44d9bf32628293eeb23b></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Module &#125; from &#39;@nestjs/common&#39;;
import &#123; UsersResolver &#125; from &#39;./users.resolver&#39;;
import &#123; PrismaModule &#125; from &#39;../prisma/prisma.module&#39;;

@Module(&#123;
  imports: [PrismaModule],
  providers: [UsersResolver],
&#125;)
export class UsersModule &#123;&#125;</code></pre><p>Importing <code>PrismaModule</code> makes exported <code>PrismaService</code> available in the <code>UsersModule</code> context.</p>

<span class="filename">
  {{ 'users.resolver' | extension: appdc354efafa4fb746e62e207c733448593ef20736.isJsActive }}
<app-tabs #appdc354efafa4fb746e62e207c733448593ef20736></app-tabs>
</span><pre><code class="language-typescript">
import &#123; Query, Resolver, Args, Info &#125; from &#39;@nestjs/graphql&#39;;
import &#123; PrismaService &#125; from &#39;../prisma/prisma.service&#39;;
import &#123; User &#125; from &#39;../graphql.schema&#39;;

@Resolver()
export class UsersResolver &#123;
  constructor(private readonly prisma: PrismaService) &#123;&#125;

  @Query(&#39;users&#39;)
  async getUsers(@Args() args, @Info() info): Promise&lt;User[]&gt; &#123;
    return await this.prisma.query.users(args, info);
  &#125;
&#125;</code></pre><h4 appAnchor id="example"><span>Example</span></h4>
<p>A slightly modified example is available <a href="https://github.com/nestjs/nest/tree/master/sample/22-graphql-prisma">here</a>.</p>

    </div>
