<div class="content" #contentReference>
      <h3 id="cqrs">CQRS</h3>
<p>The flow of the simplest <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a> applications can be described using the following steps:</p>
<ol>
<li>Controllers layer handle <strong>HTTP requests</strong> and delegate tasks to the services.</li>
<li>Services layer is a place where the most of the business logic is being done.</li>
<li><strong>Services</strong> uses Repositories / DAOs to change / persist entities.</li>
<li>Entities act as containers for the values, with setters and getters.</li>
</ol>
<p>In most cases, there are no reasons to make small and medium-sized applications more complex. However, sometimes it&#39;s not enough and when our needs become <strong>more sophisticated</strong> we want to have scalable systems with straightforward data flow.</p>
<p>Hence, we provide a lightweight <a href="https://github.com/nestjs/cqrs">CQRS module</a> which elements are described below.</p>
<h4 appAnchor id="commands"><span>Commands</span></h4>
<p>In order to make the application easier to understand, each change has to be preceded by <strong>Command</strong>. When any command is dispatched, the application has to react on it. Commands can be dispatched from the services (or directly from the controllers/gateways) and consumed in corresponding <strong>Command Handlers</strong>.</p>

<span class="filename">
  {{ 'heroes-game.service' | extension: app8d73d56b8c8f16e0e5fc111573d605e2b59bef01.isJsActive }}
<app-tabs #app8d73d56b8c8f16e0e5fc111573d605e2b59bef01></app-tabs>
</span><pre [class.hide]="app8d73d56b8c8f16e0e5fc111573d605e2b59bef01.isJsActive"><code class="language-typescript">
@Injectable()
export class HeroesGameService &#123;
  constructor(private readonly commandBus: CommandBus) &#123;&#125;

  async killDragon(heroId: string, killDragonDto: KillDragonDto) &#123;
    return this.commandBus.execute(
      new KillDragonCommand(heroId, killDragonDto.dragonId)
    );
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app8d73d56b8c8f16e0e5fc111573d605e2b59bef01.isJsActive"><code class="language-typescript">
@Injectable()
@Dependencies(CommandBus)
export class HeroesGameService &#123;
  constructor(commandBus) &#123;
    this.commandBus = commandBus;
  &#125;

  async killDragon(heroId, killDragonDto) &#123;
    return this.commandBus.execute(
      new KillDragonCommand(heroId, killDragonDto.dragonId)
    );
  &#125;
&#125;</code></pre><p>Here&#39;s a sample service that dispatches <code>KillDragonCommand</code>. Let&#39;s see how the command looks like:</p>

<span class="filename">
  {{ 'kill-dragon.command' | extension: app6745e787e7455111597c01dab65e8df786df1eb5.isJsActive }}
<app-tabs #app6745e787e7455111597c01dab65e8df786df1eb5></app-tabs>
</span><pre [class.hide]="app6745e787e7455111597c01dab65e8df786df1eb5.isJsActive"><code class="language-typescript">
export class KillDragonCommand &#123;
  constructor(
    public readonly heroId: string,
    public readonly dragonId: string,
  ) &#123;&#125;
&#125;</code></pre>
<pre [class.hide]="!app6745e787e7455111597c01dab65e8df786df1eb5.isJsActive"><code class="language-typescript">
export class KillDragonCommand &#123;
  constructor(heroId, dragonId) &#123;
    this.heroId = heroId;
    this.dragonId = dragonId;
  &#125;
&#125;</code></pre><p>The <code>CommandBus</code> is a commands <strong>stream</strong>. It delegates commands to the equivalent handlers. Each command has to have corresponding <strong>Command Handler</strong>:</p>

<span class="filename">
  {{ 'kill-dragon.handler' | extension: app78ba949fe9a9262829a153c312fe1a6ee5891ed4.isJsActive }}
<app-tabs #app78ba949fe9a9262829a153c312fe1a6ee5891ed4></app-tabs>
</span><pre [class.hide]="app78ba949fe9a9262829a153c312fe1a6ee5891ed4.isJsActive"><code class="language-typescript">
@CommandHandler(KillDragonCommand)
export class KillDragonHandler implements ICommandHandler&lt;KillDragonCommand&gt; &#123;
  constructor(private readonly repository: HeroRepository) &#123;&#125;

  async execute(command: KillDragonCommand) &#123;
    const &#123; heroId, dragonId &#125; = command;
    const hero = this.repository.findOneById(+heroId);

    hero.killEnemy(dragonId);
    await this.repository.persist(hero);
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app78ba949fe9a9262829a153c312fe1a6ee5891ed4.isJsActive"><code class="language-typescript">
@CommandHandler(KillDragonCommand)
@Dependencies(HeroRepository)
export class KillDragonHandler &#123;
  constructor(repository) &#123;
    this.repository = repository;
  &#125;

  async execute(command) &#123;
    const &#123; heroId, dragonId &#125; = command;
    const hero = this.repository.findOneById(+heroId);

    hero.killEnemy(dragonId);
    await this.repository.persist(hero);
  &#125;
&#125;</code></pre><p>Now every application state change is a result of the <strong>Command</strong> occurrence. The logic is encapsulated in handlers. If we want, we can simply add logging here or even more, we can persist our commands in the database (e.g. for the diagnostics purposes).</p>
<h4 appAnchor id="events"><span>Events</span></h4>
<p>Since we have encapsulated commands in handlers, we prevent interaction between them - the application structure is still not flexible, not <strong>reactive</strong>. The solution is to use <strong>events</strong>.</p>

<span class="filename">
  {{ 'hero-killed-dragon.event' | extension: appac54b73f6b970ebffc199581bbc41ec11a77c542.isJsActive }}
<app-tabs #appac54b73f6b970ebffc199581bbc41ec11a77c542></app-tabs>
</span><pre [class.hide]="appac54b73f6b970ebffc199581bbc41ec11a77c542.isJsActive"><code class="language-typescript">
export class HeroKilledDragonEvent &#123;
  constructor(
    public readonly heroId: string,
    public readonly dragonId: string,
  ) &#123;&#125;
&#125;</code></pre>
<pre [class.hide]="!appac54b73f6b970ebffc199581bbc41ec11a77c542.isJsActive"><code class="language-typescript">
export class HeroKilledDragonEvent &#123;
  constructor(heroId, dragonId) &#123;
    this.heroId = heroId;
    this.dragonId = dragonId;
  &#125;
&#125;</code></pre><p>Events are asynchronous. They are dispatched either by <strong>models</strong> or directly using <code>EventBus</code>. In order to dispatch events, models have to extend the <code>AggregateRoot</code> class.</p>

<span class="filename">
  {{ 'hero.model' | extension: app9aa5fe6c72b73c67a33128d7576219238714748d.isJsActive }}
<app-tabs #app9aa5fe6c72b73c67a33128d7576219238714748d></app-tabs>
</span><pre [class.hide]="app9aa5fe6c72b73c67a33128d7576219238714748d.isJsActive"><code class="language-typescript">
export class Hero extends AggregateRoot &#123;
  constructor(private readonly id: string) &#123;
    super();
  &#125;

  killEnemy(enemyId: string) &#123;
    // logic
    this.apply(new HeroKilledDragonEvent(this.id, enemyId));
  &#125;
&#125;</code></pre>
<pre [class.hide]="!app9aa5fe6c72b73c67a33128d7576219238714748d.isJsActive"><code class="language-typescript">
export class Hero extends AggregateRoot &#123;
  constructor(id) &#123;
    super();
    this.id = id;
  &#125;

  killEnemy(enemyId) &#123;
    // logic
    this.apply(new HeroKilledDragonEvent(this.id, enemyId));
  &#125;
&#125;</code></pre><p>The <code>apply()</code> method does not dispatch events yet because there&#39;s no relationship between model and the <code>EventPublisher</code> class. How to associate the model and the publisher? We need to use a publisher <code>mergeObjectContext()</code> method inside our command handler.</p>

<span class="filename">
  {{ 'kill-dragon.handler' | extension: appceab78c98c2c3abbab445bfcceac7efda919a50b.isJsActive }}
<app-tabs #appceab78c98c2c3abbab445bfcceac7efda919a50b></app-tabs>
</span><pre [class.hide]="appceab78c98c2c3abbab445bfcceac7efda919a50b.isJsActive"><code class="language-typescript">
@CommandHandler(KillDragonCommand)
export class KillDragonHandler implements ICommandHandler&lt;KillDragonCommand&gt; &#123;
  constructor(
    private readonly repository: HeroRepository,
    private readonly publisher: EventPublisher,
  ) &#123;&#125;

  async execute(command: KillDragonCommand) &#123;
    const &#123; heroId, dragonId &#125; = command;
    const hero = this.publisher.mergeObjectContext(
      await this.repository.findOneById(+heroId),
    );
    hero.killEnemy(dragonId);
    hero.commit();
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appceab78c98c2c3abbab445bfcceac7efda919a50b.isJsActive"><code class="language-typescript">
@CommandHandler(KillDragonCommand)
@Dependencies(HeroRepository, EventPublisher)
export class KillDragonHandler &#123;
  constructor(repository, publisher) &#123;
    this.repository = repository;
    this.publisher = publisher;
  &#125;

  async execute(command) &#123;
    const &#123; heroId, dragonId &#125; = command;
    const hero = this.publisher.mergeObjectContext(
      await this.repository.findOneById(+heroId),
    );
    hero.killEnemy(dragonId);
    hero.commit();
  &#125;
&#125;</code></pre><p>Now everything works as expected. Notice that we need to <code>commit()</code> events since they&#39;re not being dispatched immediately. Obviosuly, an object doesn&#39;t have to exist upfront. We can easily merge type context as well:</p>
<pre><code class="language-typescript">
const HeroModel = this.publisher.mergeContext(Hero);
new HeroModel(&#39;id&#39;);</code></pre>
<p>That&#39;s it. A model has an ability to publish events now. And we have to handle them. Additionally, we could emit events manually using <code>EventBus</code>:</p>
<pre><code class="language-typescript">
this.eventaBus.publish(new HeroKilledDragonEvent());</code></pre>
<blockquote class="
info "><strong>Hint</strong> The <code>EventBus</code> is an injectable class.
</blockquote>
<p>Each event can have multiple <strong>Event Handlers</strong>.</p>

<span class="filename">
  {{ 'hero-killed-dragon.handler' | extension: app1daece143839092101f0114696f727cfb784cd8d.isJsActive }}
<app-tabs #app1daece143839092101f0114696f727cfb784cd8d></app-tabs>
</span><pre><code class="language-typescript">
@EventsHandler(HeroKilledDragonEvent)
export class HeroKilledDragonHandler implements IEventHandler&lt;HeroKilledDragonEvent&gt; &#123;
  constructor(private readonly repository: HeroRepository) &#123;&#125;

  handle(event: HeroKilledDragonEvent) &#123;
    // logic
  &#125;
&#125;</code></pre><p>Now we can move the <strong>write logic</strong> into the event handlers.</p>
<h4 appAnchor id="sagas"><span>Sagas</span></h4>
<p>This type of <strong>Event-Driven Architecture</strong> improves application <strong>reactiveness and scalability</strong>. Now, when we have events, we can simply react to them in various ways. The <strong>Sagas</strong> are the last building block from the architecture point of view.</p>
<p>The sagas are an incredibly powerful feature. Single saga may listen for 1..* events. It can combine, merge, filter [...] events streams. <a href="https://github.com/ReactiveX/rxjs">RxJS</a> library is the place where the magic comes from. In simple words, each saga has to return an Observable which contains a command. This command is dispatched <strong>asynchronously</strong>.</p>

<span class="filename">
  {{ 'heroes-game.saga' | extension: appf2420f7180c79dbdf11c60771130e1af59bd8386.isJsActive }}
<app-tabs #appf2420f7180c79dbdf11c60771130e1af59bd8386></app-tabs>
</span><pre [class.hide]="appf2420f7180c79dbdf11c60771130e1af59bd8386.isJsActive"><code class="language-typescript">
@Injectable()
export class HeroesGameSagas &#123;
  @Saga()
  dragonKilled = (events$: Observable&lt;any&gt;): Observable&lt;ICommand&gt; =&gt; &#123;
    return events$.pipe(
      ofType(HeroKilledDragonEvent),
      map((event) =&gt; new DropAncientItemCommand(event.heroId, fakeItemID)),
    );
  &#125;
&#125;</code></pre>
<pre [class.hide]="!appf2420f7180c79dbdf11c60771130e1af59bd8386.isJsActive"><code class="language-typescript">
@Injectable()
export class HeroesGameSagas &#123;
  @Saga()
  dragonKilled = (events$) =&gt; &#123;
    return events$.pipe(
      ofType(HeroKilledDragonEvent),
      map((event) =&gt; new DropAncientItemCommand(event.heroId, fakeItemID)),
    );
  &#125;
&#125;</code></pre><blockquote class="
info "><strong>Hint</strong> The <code>ofType</code> operator is exported from the <code>@nestjs/cqrs</code> package.
</blockquote>
<p>We declared a rule - when any hero kills the dragon, the ancient item is being dropped. Afterwards, the <code>DropAncientItemCommand</code> will be dispatched and processed by the appropriate handler.</p>
<h4 appAnchor id="queries"><span>Queries</span></h4>
<p>The <code>CqrsModule</code> might be also handy for queries processing. The <code>QueryBus</code> works the same as <code>CommandsBus</code>. Also, query handlers should implement the <code>IQueryHandler</code> interface and be marked with the <code>@QueryHandler()</code> decorator.</p>
<h4 appAnchor id="setup"><span>Setup</span></h4>
<p>The last thing which we have to take care of is to set up the whole mechanism.</p>

<span class="filename">
  {{ 'heroes-game.module' | extension: appd6060e4958fd7ad05aa33929ac675f6230778799.isJsActive }}
<app-tabs #appd6060e4958fd7ad05aa33929ac675f6230778799></app-tabs>
</span><pre><code class="language-typescript">
export const CommandHandlers = [KillDragonHandler, DropAncientItemHandler];
export const EventHandlers =  [HeroKilledDragonHandler, HeroFoundItemHandler];

@Module(&#123;
  imports: [CqrsModule],
  controllers: [HeroesGameController],
  providers: [
    HeroesGameService,
    HeroesGameSagas,
    ...CommandHandlers,
    ...EventHandlers,
    HeroRepository,
  ]
&#125;)
export class HeroesGameModule &#123;&#125;</code></pre><h4 appAnchor id="summary"><span>Summary</span></h4>
<p><code>CommandBus</code>, <code>QueryBus</code> and <code>EventBus</code> are <strong>Observables</strong>. It means that you can easily subscribe to the whole stream and enrich your application with <strong>Event Sourcing</strong>.</p>
<p>A working example is available <a href="https://github.com/kamilmysliwiec/nest-cqrs-example">here</a>.</p>

    </div>
