<div class="content" #contentReference>
      <h3 id="security">Security</h3>
<p>In this chapter you will learn some techniques that will allow you to increase the security of your applications.</p>
<h4 appAnchor id="helmet"><span>Helmet</span></h4>
<p><a href="https://github.com/helmetjs/helmet">Helmet</a> can help protect your app from some well-known web vulnerabilities by setting HTTP headers appropriately. Generally, Helmet is just a collection of 12 smaller middleware functions that set security-related HTTP headers (read <a href="https://github.com/helmetjs/helmet#how-it-works">more</a>). Firstly, install the required package:</p>
<pre><code class="language-bash">
$ npm i --save helmet</code></pre>
<p>Once the installation is completed, apply it as a global middleware.</p>
<pre><code class="language-typescript">
import * as helmet from &#39;helmet&#39;;
// somewhere in your initialization file
app.use(helmet());</code></pre>
<h4 appAnchor id="cors"><span>CORS</span></h4>
<p>Cross-origin resource sharing (CORS) is a mechanism that allows resources to be requested from another domain. Under the hood, Nest makes use of <a href="https://github.com/expressjs/cors">cors</a> package, that provides a bunch of options that you may customize based on your requirements. In order to enable CORS, you have to call <code>enableCors()</code> method.</p>
<pre><code class="language-typescript">
const app = await NestFactory.create(ApplicationModule);
app.enableCors();
await app.listen(3000);</code></pre>
<p>Also, you can pass a configuration object as a parameter of this function. The available properties are exhaustively described in the official <a href="https://github.com/expressjs/cors">cors</a> repository. A different way is to use a Nest options object:</p>
<pre><code class="language-typescript">
const app = await NestFactory.create(ApplicationModule, &#123; cors: true &#125;);
await app.listen(3000);</code></pre>
<p>Instead of passing a boolean value, you can use a cors configuration object as well (read <a href="https://github.com/expressjs/cors#configuration-options">more</a>).</p>
<h4 appAnchor id="csrf"><span>CSRF</span></h4>
<p>Cross-site request forgery (known as CSRF or XSRF) is a type of malicious exploit of a website where <strong>unauthorized</strong> commands are transmitted from a user that the web application trusts. To mitigate this kind of attacks you can use the <a href="https://github.com/expressjs/csurf">csurf</a> package. Firstly, install the required package:</p>
<pre><code class="language-bash">
$ npm i --save csurf</code></pre>
<p>Once the installation is completed, apply it as a global middleware.</p>
<pre><code class="language-typescript">
import * as csurf from &#39;csurf&#39;;
// somewhere in your initialization file
app.use(csurf());</code></pre>
<h4 appAnchor id="rate-limiting"><span>Rate limiting</span></h4>
<p>To protect your applications from brute-force attacks, you have to implement some kind of rate-limiting. Luckily, there is a bunch of various middleware available on the NPM already. One of them is <a href="https://github.com/nfriedly/express-rate-limit">express-rate-limit</a>.</p>
<pre><code class="language-bash">
$ npm i --save express-rate-limit</code></pre>
<p>Once the installation is completed, apply it as a global middleware.</p>
<pre><code class="language-typescript">
import * as rateLimit from &#39;express-rate-limit&#39;;
// somewhere in your initialization file
app.use(
  rateLimit(&#123;
    windowMs: 15 * 60 * 1000, // 15 minutes
    max: 100, // limit each IP to 100 requests per windowMs
  &#125;),
);</code></pre>
<blockquote class="
info "><strong>Hint</strong> If you work with <code>FastifyAdapter</code>, consider using <a href="https://github.com/fastify/fastify-rate-limit">fastify-rate-limit</a> instead.
</blockquote>

    </div>
