<div class="content">
  <h3>Security</h3>
  <p>
    In this chapter you will learn some techniques that will allow you to increase the security of your applications.
  </p>
  <h4>Helmet</h4>
  <p>
    <a href="https://github.com/helmetjs/helmet" target="blank">Helmet</a> can help protect your app from some well-known
    web vulnerabilities by setting HTTP headers appropriately. Generally, Helmet is just a collection of 12 smaller middleware
    functions that set security-related HTTP headers (read <a href="https://github.com/helmetjs/helmet#how-it-works" target="blank">more</a>).
    Firstly, install the required package:
  </p>
  <pre><code class="language-bash">
$ npm i --save helmet</code></pre>
  <p>
    Once the installation is completed, apply it as a global middleware.
  </p>
  <pre><code class="language-typescript">
import * as helmet from 'helmet';
// somewhere in your initialization file
app.use(helmet());</code></pre>
  <h4>CORS</h4>
  <p>
    Cross-origin resource sharing (CORS) is a mechanism that allows resources to be requested from another domain. Under the
    hood, Nest makes use of <a href="https://github.com/expressjs/cors" target="blank">cors</a> package, that provides
    a bunch of options that you may customize based on your requirements. In order to enable CORS, you have to call <code>enableCors()</code>    method.
  </p>
  <pre><code class="language-typescript">{{ enableCors }}</code></pre>
  <p>
    Also, you can pass a configuration object as a parameter of this function. The available properties are exhaustively described
    in the official <a href="https://github.com/expressjs/cors" target="blank">cors</a> repository. A different way is
    to use a Nest options object:
  </p>
  <pre><code class="language-typescript">{{ enableCorsOptions }}</code></pre>
  <p>
    Instead of passing a boolean value, you can use a cors configuration object as well (read <a href="https://github.com/expressjs/cors#configuration-options"
      target="blank">more</a>).
  </p>
  <h4>CSRF</h4>
  <p>
    Cross-site request forgery (known as CSRF or XSRF) is a type of malicious exploit of a website where <strong>unauthorized</strong>
    commands are transmitted from a user that the web application trusts. To mitigate this kind of attacks you can use the
    <a href="https://github.com/expressjs/csurf" target="blank">csurf</a> package. Firstly, install the required package:
  </p>
  <pre><code class="language-bash">
$ npm i --save csurf</code></pre>
  <p>
    Once the installation is completed, apply it as a global middleware.
  </p>
  <pre><code class="language-typescript">
import * as csurf from 'csurf';
// somewhere in your initialization file
app.use(csurf());</code></pre>
  <h4>Rate limiting</h4>
  <p>
    To protect your applications from brute-force attacks, you have to implement some kind of rate-limiting. Luckily, there is
    a bunch of various middleware available on the NPM already. One of them is <a href="https://github.com/nfriedly/express-rate-limit"
      target="blank">express-rate-limit</a>.
  </p>
  <pre><code class="language-bash">
$ npm i --save express-rate-limit</code></pre>
  <p>
    Once the installation is completed, apply it as a global middleware.
  </p>
  <pre><code class="language-typescript">
{{ expressRateLimit }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong>
    If you work wtih <code>FastifyAdapter</code>, consider using <a href="https://github.com/fastify/fastify-rate-limit"
      target="blank">fastify-rate-limit</a> instead.
  </blockquote>
</div>