:host {
  display: block;
  position: relative;
  
  &.with-heading .clipboard {
    top: 65px;
  }

  .clipboard {
    color: #dfdfdf;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
    opacity: 0.7;
    
    &:hover:not(.copied) {
      opacity: 1;
    }

    & > * {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }  
}