@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './scss/hljs.scss';
@import './scss/variables.scss';
@import './scss/utils.scss';

:root {
  // scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  // letter-spacing: 0.2px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  background-color: #fdfdfd;
  font-display: swap;
  color: $grey-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

strong {
  color: #2d2d2d;
  font-weight: 600;
}

hr {
  width: 40px;
  height: 4px;
  background: $red-color;
  border: 0;
  margin: 50px 0;
}

h4 {
  font-size: 20px;
}

blockquote {
  line-height: 1.6;
  position: relative;
  margin: 35px 0;
  background: #f9eff1;
  padding: 20px;
  border-radius: 3px;

  &::before {
    height: 100%;
    width: 4px;
    content: '';
    background: $red-color;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  strong {
    color: $red-color;
    &:first-of-type {
      display: block;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
    }
  }

  &.warning {
    background: #fff5ec;
    &::before {
      background: #ffb36f;
    }
    strong,
    a {
      color: #ed8529;
    }
  }

  &.info {
    background: rgba(8, 148, 226, 0.038);
    &::before {
      background: #0894e2;
    }
    strong,
    a {
      color: #0894e2;
    }
  }
}

figure {
  margin: 60px 30px;
  text-align: center;
  @include media(medium) {
    margin: 60px 0;
  }

  img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  }
}

figcaption {
  color: rgba($silver-color, 0.9);
  font-size: 16px;
  margin: 20px 0;

  p {
    font-size: 16px;
  }
}

table {
  width: 100%;
  margin: 40px 0;
}

tr {
  @include media(medium) {
    margin-bottom: 20px;
    display: block;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

th {
  padding: 20px;
  background: #efefef;
}

tr:nth-of-type(even) td {
  background: #f7f7f7;
}

tr:nth-of-type(odd) td:first-of-type {
  border-right: 1px solid #f0f2f3;

  @include media(medium) {
    border-right: 0;
    border-bottom: 1px solid #f0f2f3;
  }
}

tr:nth-of-type(even) td:first-of-type {
  border-right: 1px solid #fff;
  @include media(medium) {
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
}

tr td {
  padding: 20px 30px;
  vertical-align: top;

  @include media(medium) {
    display: block;
    padding: 20px;
  }
}

tr td span.table-code-asterisk {
  color: #2876d2;
  font-weight: 700;
}

.file-tree {
  background: #f9f9f9;
  border: 4px solid #f5f5f5;
  margin: 40px 0;
  padding: 16px 32px;

  .item {
    display: block;
    line-height: 32px;
    font-size: 15px;
    color: #5a5a5a;
  }

  .children {
    padding-left: 30px;
    position: relative;
    overflow: hidden;

    .item {
      position: relative;
    }

    .item:before {
      content: '';
      left: -18px;
      bottom: 16px;
      width: 16px;
      height: 9999px;
      position: absolute;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #dbdbdb;
      border-radius: 0 0 0 3px;
    }
  }
}

.external {
  background: #f7f7f7;

  &::before {
    background: #e8e8e8;
  }
}

// SCROLLBAR
.ps > .ps__scrollbar-y-rail {
  width: 10px;
}

.ps:hover > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
  width: 6px !important;
  background: $black-color;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.hide {
  display: none !important;
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

.ps__rail-y {
  left: auto !important;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/*
  TODO: Remove important flags after this bug if fixed:
  https://github.com/angular/flex-layout/issues/381
*/
perfect-scrollbar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  /* stylelint-disable */
  /* stylelint-enable */
}
perfect-scrollbar[hidden] {
  display: none;
}
perfect-scrollbar[fxflex] {
  display: flex;
  flex-direction: column;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  height: auto;
  min-width: 0;
  min-height: 0;
}
perfect-scrollbar[fxflex] > .ps {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
}
perfect-scrollbar[fxlayout] > .ps,
perfect-scrollbar[fxlayout] > .ps > .ps-content {
  display: flex;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  align-item: inherit;
  place-content: inherit;
  -webkit-box-pack: inherit;
  -webkit-box-align: inherit;
  flex-direction: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  width: 100%;
  height: 100%;
}
perfect-scrollbar[fxlayout='row'] > .ps,
perfect-scrollbar[fxlayout='row'] > .ps > .ps-content {
  flex-direction: row !important;
  -webkit-box-orient: row !important;
  -webkit-box-direction: row !important;
}
perfect-scrollbar[fxlayout='column'] > .ps,
perfect-scrollbar[fxlayout='column'] > .ps > .ps-content {
  flex-direction: column !important;
  -webkit-box-orient: column !important;
  -webkit-box-direction: column !important;
}
perfect-scrollbar > .ps {
  position: static;
  display: block;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
perfect-scrollbar > .ps > .ps-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  pointer-events: none;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-top,
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-left,
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-right,
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-bottom {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-top,
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-bottom {
  left: 0;
  min-width: 100%;
  min-height: 24px;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-left,
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-right {
  top: 0;
  min-width: 24px;
  min-height: 100%;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-top {
  top: 0;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-left {
  left: 0;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-right {
  right: 0;
}
perfect-scrollbar > .ps > .ps-overlay .ps-indicator-bottom {
  bottom: 0;
}
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  top: 0 !important;
  right: 0 !important;
  width: 10px;
  cursor: default;
  transition: width 200ms linear, opacity 200ms linear,
    background-color 200ms linear;
}
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover {
  width: 15px;
}
perfect-scrollbar > .ps.ps--active-x > .ps__rail-x {
  bottom: 0 !important;
  left: 0 !important;
  height: 10px;
  cursor: default;
  transition: height 200ms linear, opacity 200ms linear,
    background-color 200ms linear;
}
perfect-scrollbar > .ps.ps--active-x > .ps__rail-x:hover {
  height: 15px;
}
perfect-scrollbar > .ps.ps--active-x.ps--active-y > .ps__rail-y {
  margin: 0 0 10px;
}
perfect-scrollbar > .ps.ps--active-x.ps--active-y > .ps__rail-x {
  margin: 0 10px 0 0;
}
perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
  opacity: 0.9;
  background-color: #eee;
}
perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;
  background-color: #eee;
}
perfect-scrollbar.ps-show-always > .ps.ps--active-y > .ps__rail-y {
  opacity: 0.6;
}
perfect-scrollbar.ps-show-always > .ps.ps--active-x > .ps__rail-x {
  opacity: 0.6;
}
perfect-scrollbar.ps-show-active
  > .ps.ps--active-y
  > .ps-overlay:not(.ps-at-top)
  .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
perfect-scrollbar.ps-show-active
  > .ps.ps--active-y
  > .ps-overlay:not(.ps-at-bottom)
  .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
perfect-scrollbar.ps-show-active
  > .ps.ps--active-x
  > .ps-overlay:not(.ps-at-left)
  .ps-indicator-left {
  opacity: 1;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
perfect-scrollbar.ps-show-active
  > .ps.ps--active-x
  > .ps-overlay:not(.ps-at-right)
  .ps-indicator-right {
  opacity: 1;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-y
  > .ps-overlay.ps-at-top
  .ps-indicator-top {
  background: linear-gradient(
    to bottom,
    rgba(170, 170, 170, 0.5) 0%,
    rgba(170, 170, 170, 0) 100%
  );
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-y
  > .ps-overlay.ps-at-top
  .ps-indicator-top.ps-indicator-show {
  opacity: 1;
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-y
  > .ps-overlay.ps-at-bottom
  .ps-indicator-bottom {
  background: linear-gradient(
    to top,
    rgba(170, 170, 170, 0.5) 0%,
    rgba(170, 170, 170, 0) 100%
  );
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-y
  > .ps-overlay.ps-at-bottom
  .ps-indicator-bottom.ps-indicator-show {
  opacity: 1;
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-x
  > .ps-overlay.ps-at-left
  .ps-indicator-left {
  background: linear-gradient(
    to right,
    rgba(170, 170, 170, 0.5) 0%,
    rgba(170, 170, 170, 0) 100%
  );
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-x
  > .ps-overlay.ps-at-left
  .ps-indicator-left.ps-indicator-show {
  opacity: 1;
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-x
  > .ps-overlay.ps-at-right
  .ps-indicator-right {
  background: linear-gradient(
    to left,
    rgba(170, 170, 170, 0.5) 0%,
    rgba(170, 170, 170, 0) 100%
  );
}
perfect-scrollbar.ps-show-active.ps-show-limits
  > .ps.ps--active-x
  > .ps-overlay.ps-at-right
  .ps-indicator-right.ps-indicator-show {
  opacity: 1;
}

.banner {
  padding: 2.5rem;
  margin: 2.5rem 0px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  text-align: left;

  h2 {
    color: #fff !important;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;

    span {
      color: #e31d61;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-count: 2;
    -moz-column-fill: balance;
    column-fill: balance;
    max-width: 450px;
    margin: 1.2rem 0;

    @media (max-width: 480px) {
      -webkit-columns: 1;
      -moz-columns: 1;
      column-count: 1;
    }
  }

  li {
    line-height: 2.5rem;
    display: block;
    position: relative;
  }

  ul span {
    background: rgba(7, 239, 143, 0.21);
    color: #07ef8f;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 15px;
  }

  li span svg {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .btn-more {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    padding: 2px 13px;
    background: #e31d61;
    border: 2px solid #e31d61;
    transition: all 100ms linear;

    &:hover {
      color: #e31d61;
      background: transparent;
    }
  }
}
