@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './scss/hljs.scss';
@import './scss/variables.scss';
@import './scss/utils.scss';

:root {
  --docsearch-primary-color: $red-color;
  --docsearch-highlight-color: $red-color;
  --docsearch-logo-color: $red-color;
  --docsearch-modal-background: #fafafa;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: none;
}

body {
  font-size: 16px;
  font-weight: 400;
  // letter-spacing: 0.2px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  background-color: #fdfdfd;
  font-display: swap;
  color: $grey-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

strong {
  color: #2d2d2d;
  font-weight: 600;
}

hr {
  width: 40px;
  height: 4px;
  background: $red-color;
  border: 0;
  margin: 50px 0;
}

h4 {
  font-size: 20px;
}

blockquote {
  line-height: 1.6;
  position: relative;
  margin: 35px 0;
  background: #f9eff1;
  padding: 20px;
  border-radius: 3px;

  &::before {
    height: 100%;
    width: 4px;
    content: '';
    background: $red-color;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  strong {
    color: $red-color;
    &:first-of-type {
      display: block;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
    }
  }

  &.warning {
    background: #fff5ec;
    &::before {
      background: #ffb36f;
    }
    strong,
    a {
      color: #ed8529;
    }
  }

  &.info {
    background: rgba(8, 148, 226, 0.038);
    &::before {
      background: #0894e2;
    }
    strong,
    a {
      color: #0894e2;
    }
  }
}

figure {
  margin: 60px 30px;
  text-align: center;
  @include media(medium) {
    margin: 60px 0;
  }

  img, iframe {
    max-width: 100%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  }

  img {
    height: auto;
  }
}

figcaption {
  color: rgba($silver-color, 0.9);
  font-size: 16px;
  margin: 20px 0;

  p {
    font-size: 16px;
  }
}

table {
  width: 100%;
  margin: 40px 0;
}

tr {
  @include media(medium) {
    margin-bottom: 20px;
    display: block;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

th {
  padding: 20px;
  background: #efefef;
}

tr:nth-of-type(even) td {
  background: #f7f7f7;
}

tr:nth-of-type(odd) td:first-of-type {
  border-right: 1px solid #f0f2f3;

  @include media(medium) {
    border-right: 0;
    border-bottom: 1px solid #f0f2f3;
  }
}

tr:nth-of-type(even) td:first-of-type {
  border-right: 1px solid #fff;
  @include media(medium) {
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
}

tr td {
  padding: 20px 30px;
  vertical-align: top;

  @include media(medium) {
    display: block;
    padding: 20px;
  }
}

tr td span.table-code-asterisk {
  color: #2876d2;
  font-weight: 700;
}

.file-tree {
  background: #f9f9f9;
  border: 4px solid #f5f5f5;
  margin: 40px 0;
  padding: 16px 32px;

  .item {
    display: block;
    line-height: 32px;
    font-size: 15px;
    color: #5a5a5a;
  }

  .children {
    padding-left: 30px;
    position: relative;
    overflow: hidden;

    .item {
      position: relative;
    }

    .item:before {
      content: '';
      left: -18px;
      bottom: 16px;
      width: 16px;
      height: 9999px;
      position: absolute;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #dbdbdb;
      border-radius: 0 0 0 3px;
    }
  }
}

.external {
  background: #f7f7f7;

  &::before {
    background: #e8e8e8;
  }
}

.banner {
  padding: 2.5rem;
  margin: 2.5rem 0px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  text-align: left;

  h2 {
    color: #fff !important;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;

    span {
      color: #e31d61;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-count: 2;
    -moz-column-fill: balance;
    column-fill: balance;
    max-width: 450px;
    margin: 1.2rem 0;

    @media (max-width: 480px) {
      -webkit-columns: 1;
      -moz-columns: 1;
      column-count: 1;
    }
  }

  li {
    line-height: 2.5rem;
    display: block;
    position: relative;
  }

  ul span {
    background: rgba(7, 239, 143, 0.21);
    color: #07ef8f;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 15px;
  }

  li span svg {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .btn-more {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    padding: 2px 13px;
    background: #e31d61;
    border: 2px solid #e31d61;
    transition: all 100ms linear;

    &:hover {
      color: #e31d61;
      background: transparent;
    }
  }
}

.DocSearch-Modal {
  margin-top: 120px;
  border-radius: 3px;
}

.DocSearch-Container {
  z-index: 20000;
  background: rgba(0, 0, 0, 0.6);
}