.light-mode {
  --primary: #E0234E;
  --primary-1dp: #d71e38;
  --primary-2dp: #da2640;
  --primary-3dp:#db2840;
  --primary-4dp: #e40020;
  --primary-5dp: #ff0023;

  --label-new: #ff7285;
  --toc-primary-title: #ca031f;

  --color: #404040;
  --color-1dp: #151515;

  --background: #fdfdfd;
  --background-1dp: #f7f7f7;
  --background-2dp: #f0f2f3;
  --background-3dp: #e8e8e8;

  --header-background: #151515;

  --menu-color: #151515;
  --menu-background: #f5f5f5;

  --inline-code-color: #2876d2;

  --code-background: #1d1d1d;

  --warning: #ffb36f;
  --warning-color: #ed8529;
  --warning-background: #fff5ec;

  --info: #0894e2;
  --info-color: #0894e2;
  --info-background: rgba(8, 148, 226, 0.038);

  --error: #ed2945;
  --error-background: #f9eff1;

  --company-filter: grayscale(100%);
  --company-filter-hover: grayscale(0%);
  --company-logo-filter: grayscale(1);

  --company-logo-opacity: 0.5;

  --images-filter: unset;
  --images-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
}

.dark-mode {
  --primary: #da001e;
  --primary-1dp: #ff445e;
  --primary-2dp: #f55168;
  --primary-3dp: #ff586f;
  --primary-4dp: #ff4c65;
  --primary-5dp: #ff0023;
  --label-new: #fe6379;
  --toc-primary-title: #ff4b64;

  --color: rgba(255, 255, 255, 0.9);
  --color-1dp: rgba(255, 255, 255, 0.8);

  --background: #1D1D1D;
  --background-1dp: #272727;
  --background-2dp: #212121;
  --background-3dp: #272727;

  --header-background: #151515;

  --menu-color: white;
  --menu-background: #222222;

  --inline-code-color: #8ec2ff;

  --code-background: #151313;

  --warning: #ffb36f;
  --warning-color: #ed8529;
  --warning-background: #504337;

  --info: #0894e2;
  --info-color: #0894e2;
  --info-background: rgba(8, 148, 226, 0.038);

  --error: #ff677c;
  --error-background: #3a2f30;

  --company-filter: contrast(0.5);
  --company-filter-hover: opacity(1);
  --company-logo-filter: contrast(0.5);

  --company-logo-opacity: unset;

  --images-filter: invert(1) contrast(0.85);
  --images-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08);
}
