:host {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-mode-toggle {
  // Button reset
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;

  &:hover {
    color: var(--primary);
  }

  .material-icons {
    font-size: 20px;
    border-left: 2px solid #fff;
    padding-left: 10px;
  }
}
