<div class="content" #contentReference>
      <h3 id="validation">Validation</h3>
<p>The validation is an essential functionality of any existing web application. To automatically validate incoming requests, we leverage <a href="https://github.com/typestack/class-validator">class-validator</a> package which built-in <code>ValidationPipe</code> makes use of underneath. The <code>ValidationPipe</code> provides a convenient method to validate incoming client payloads with a variety of powerful validation rules.</p>
<h4 appAnchor id="overview"><span>Overview</span></h4>
<p>In <a routerLink="/pipes">Pipes</a> chapter, we went through the process of building a simplified validation pipe. To better understand what we&#39;re doing under the hood, we heavily recommend to read this article. Here, we&#39;ll mainly focus on the real use-cases instead.</p>
<h4 appAnchor id="auto-validation"><span>Auto-validation</span></h4>
<p>For the sake of this tutorial, we&#39;ll bind <code>ValidationPipe</code> to the whole application, thus, all endpoints will be automatically protected from the incorrect data.</p>
<pre><code class="language-typescript">
async function bootstrap() &#123;
  const app = await NestFactory.create(ApplicationModule);
  app.useGlobalPipes(new ValidationPipe());
  await app.listen(3000);
&#125;
bootstrap();</code></pre>
<p>To test our pipe, let&#39;s create a basic endpoint.</p>
<pre><code class="language-typescript">
@Post()
create(@Body() createUserDto: CreateUserDto) &#123;
  return &#39;This action adds a new user&#39;;
&#125;</code></pre>
<p>Then, add a few validation rules in our <code>CreateCatDto</code>.</p>
<pre><code class="language-typescript">
import &#123; IsEmail, IsNotEmpty &#125; from &#39;class-validator&#39;;

export class CreateUserDto &#123;
  @IsEmail()
  email: string;

  @IsNotEmpty()
  password: string;
&#125;</code></pre>
<p>Now, when someone requests our endpoint with an invalid <code>email</code>, the application would respond with a <code>400 Bad Request</code> code and the following response body.</p>
<pre><code class="language-json">
&#123;
  &quot;statusCode&quot;: 400,
  &quot;error&quot;: &quot;Bad Request&quot;,
  &quot;message&quot;: [
    &#123;
      &quot;target&quot;: &#123;&#125;,
      &quot;property&quot;: &quot;email&quot;,
      &quot;children&quot;: [],
      &quot;constraints&quot;: &#123;
        &quot;isEmail&quot;: &quot;email must be an email&quot;
      &#125;
    &#125;
  ]
&#125;</code></pre>
<p>Obviously, the response body is not a sole use-case for the<code>ValidationPipe</code>. Imagine, that we would like to accept <code>:id</code> in the endpoint path. Only numbers shall be valid though. This is pretty simple as well.</p>
<pre><code class="language-typescript">
@Get(&#39;:id&#39;)
findOne(@Param() params: FindOneParams) &#123;
  return &#39;This action returns a user&#39;;
&#125;</code></pre>
<p>And <code>FindOneParams</code> looks like below.</p>
<pre><code class="language-typescript">
import &#123; IsNumberString &#125; from &#39;class-validator&#39;;

export class FindOneParams &#123;
  @IsNumberString()
  id: number;
&#125;</code></pre>
<h4 appAnchor id="disable-detailed-errors"><span>Disable detailed errors</span></h4>
<p>Error messages help a lot in order to comprehend what was wrong with the data sent through the network. However, in some production environments, you might want to disable detailed errors.</p>
<pre><code class="language-typescript">
app.useGlobalPipes(
  new ValidationPipe(&#123;
    disableErrorMessages: true,
  &#125;),
);</code></pre>
<p>Now, error messages won&#39;t be populated to the end user.</p>
<h4 appAnchor id="stripping-properties"><span>Stripping properties</span></h4>
<p>Quite frequently, we would like only predefined (whitelisted) properties to be passed on. For instance, if we expect <code>email</code> and <code>password</code> properties, when someone sends <code>age</code>, this property should be stripped and not available in the DTO. To enable such behavior, set <code>whitelist</code> to <code>true</code>.</p>
<pre><code class="language-typescript">
app.useGlobalPipes(
  new ValidationPipe(&#123;
    whitelist: true,
  &#125;),
);</code></pre>
<p>This setting will enable auto-stripping of non-whitelisted (without any decorator on top of them) properties. However, if you want to stop the request processing entirely, and return an error response to the user, use <code>forbidNonWhitelisted</code> instead.</p>
<h4 appAnchor id="auto-payload-transforming"><span>Auto payload transforming</span></h4>
<p>The <code>ValidationPipe</code> doesn&#39;t automatically transform your payloads to the corresponding DTO classes. If you take a look at either <code>createCatDto</code> or <code>findOneParams</code> in your controller methods, you will notice that they&#39;re not actual instances of these classes. To enable auto-transformation, set <code>transform</code> to <code>true</code>.</p>
<pre><code class="language-typescript">
app.useGlobalPipes(
  new ValidationPipe(&#123;
    transform: true,
  &#125;),
);</code></pre>
<h4 appAnchor id="websockets--microservices"><span>Websockets &amp; Microservices</span></h4>
<p>All these guidelines cornern both WebSockets as well as microservices, regardless of transport method that is being used.</p>
<h4 appAnchor id="learn-more"><span>Learn more</span></h4>
<p>In order to read more about custom validators, error messages, and available decorators, visit this <a href="https://github.com/typestack/class-validator">page</a>.</p>

    </div>
