<div class="content" #contentReference>
      <h3 id="pipes">Pipes</h3>
<p>There is no difference between microservices <strong>pipes</strong> and the <a routerLink="/pipes">regular pipes</a>. The only thing you should be aware of is that instead of throwing <code>HttpException</code>, you should use the <code>RpcException</code>.</p>
<blockquote class="
info "><strong>Hint</strong> The <code>RpcException</code> class is exposed from <code>@nestjs/microservices</code> package.
</blockquote>
<h4 appAnchor id="binding-pipes"><span>Binding pipes</span></h4>
<p>Here is an example that makes use of a manually instantiated method-scoped pipe (class-scoped works too):</p>

<span class="filename">
<app-tabs #appbcfcd0413cbdce472a526db41aac674a3e89924b></app-tabs>
</span><pre [class.hide]="appbcfcd0413cbdce472a526db41aac674a3e89924b.isJsActive"><code class="language-typescript">
@UsePipes(new ValidationPipe())
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data: number[]): number &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
<pre [class.hide]="!appbcfcd0413cbdce472a526db41aac674a3e89924b.isJsActive"><code class="language-typescript">
@UsePipes(new ValidationPipe())
@MessagePattern(&#123; cmd: &#39;sum&#39; &#125;)
accumulate(data) &#123;
  return (data || []).reduce((a, b) =&gt; a + b);
&#125;</code></pre>
    </div>
