<div class="content">
  <h3>Pipes</h3>
  <p>
    There's no difference between microservices <strong>pipes</strong> and the <a routerLink="/pipes">regular pipes</a>.
    The only thing you should be aware of is that instead of throwing <code>HttpException</code>, you should use the <code>RpcException</code>.
  </p>
  <blockquote class="info">
    <strong>Hint</strong> The <code>RpcException</code> class is exposed from <code>@nestjs/microservices</code> package.
  </blockquote>
  <h4>Binding pipes</h4>
  <p>
    Here is an example that makes use of a manually instantiated <strong>method-scoped</strong> pipe (class-scoped works
    either):
  </p>
  <pre><code class="language-typescript">{{ example }}</code></pre>
</div>