<div class="content">
  <h3>File upload</h3>
  <p>
    In order to handle file uploading, Nest makes use of <a href="https://github.com/expressjs/multer" target="blank">multer</a>
    middleware. This middleware is fully configurable and you can adjust its behavior to your application requirements.
  </p>
  <p>
    Multer is middleware for handling <code>multipart/form-data</code>, which is primarily used for uploading files.

  </p>
  <blockquote class="warning">
    <strong>Warning</strong> Multer will not process any form which is not multipart (<code>multipart/form-data</code>).
    Besides, this package won't work with the <code>FastifyAdapter</code>.
  </blockquote>
  <h4>Basic example</h4>
  <p>
    When we want to upload a single file, we simply tie <code>FileInterceptor()</code> to the handler, and then, pull outs
    <code>file</code> from the <code>request</code> using <code>@UploadedFile()</code> decorator.
  </p>
  <span class="filename">
    <app-tabs #singleFileT></app-tabs>
  </span>
  <pre [class.hide]="singleFileT.isJsActive"><code class="language-typescript">{{ singleFile }}</code></pre>
  <pre [class.hide]="!singleFileT.isJsActive"><code class="language-typescript">{{ singleFileJs }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong> Both <code>FileInterceptor()</code> and <code>@UploadedFile()</code> decorator are exposed from
    <code>@nestjs/common</code> package.
  </blockquote>
  <p>
    The <code>FileInterceptor()</code> takes two arguments, a <code>fieldName</code> (points to field from HTML form that
    holds a file) and optional <code>options</code> object. These <code>MulterOptions</code> are equivalent to those passed
    into multer constructor (more details <a href="https://github.com/expressjs/multer#multeropts" target="blank">here</a>)
  </p>
  <h4>Array of files</h4>
  <p>
    In order to upload an array of files, we use <code>FilesInterceptor()</code>. This interceptor takes three arguments.
    A <code>fieldName</code> (that remains the same), <code>maxCount</code> which is a maximum number of files that can be
    uploaded at the same time, and optional <code>MulterOptions</code> object. Additionally, to pick files from <code>request</code>    object,
    we use <code>@UploadedFiles()</code> decorator
  </p>
  <span class="filename">
    <app-tabs #multipleFilesT></app-tabs>
  </span>
  <pre [class.hide]="multipleFilesT.isJsActive"><code class="language-typescript">{{ multipleFiles }}</code></pre>
  <pre [class.hide]="!multipleFilesT.isJsActive"><code class="language-typescript">{{ multipleFilesJs }}</code></pre>
  <blockquote class="info">
    <strong>Hint</strong> Both <code>FilesInterceptor()</code> and <code>@UploadedFiles()</code> decorator are exposed from
    <code>@nestjs/common</code> package.
  </blockquote>
  <h4>Multiple files</h4>
  <p>
    To upload multiple fields (all with different keys), we use <code>FileFieldsInterceptor()</code> decorator.
  </p>
  <span class="filename">
    <app-tabs #fileFieldsT></app-tabs>
  </span>
  <pre [class.hide]="fileFieldsT.isJsActive"><code class="language-typescript">{{ fileFields }}</code></pre>
  <pre [class.hide]="!fileFieldsT.isJsActive"><code class="language-typescript">{{ fileFieldsJs }}</code></pre>
  <h4>Default options</h4>
  <p>
    To customize <a href="https://github.com/expressjs/multer" target="blank">multer</a> behavior, you can register the <code>MulterModule</code>.
    We support all options listed <a href="https://github.com/expressjs/multer#multeropts" target="blank">here</a>.
  </p>
  <pre><code class="language-typescript">{{ multerModule }}</code></pre>
  <h4>Async configuration</h4>
  <p>
    Quite often you might want to asynchronously pass your module options instead of passing them beforehand. In such case, use
    <code>registerAsync()</code> method, that provides a couple of various ways to deal with async data.
  </p>
  <p>
    First possible approach is to use a factory function:
  </p>
  <pre><code class="language-typescript">{{ asyncConfiguration }}</code></pre>
  <p>
    Obviously, our factory behaves like every other one (might be <code>async</code> and is able to inject dependencies through
    <code>inject</code>).
  </p>
  <pre><code class="language-typescript">{{ asyncConfigurationFactoryAsync }}</code></pre>
  <p>
    Alternatively, you are able to use class instead of a factory.
  </p>
  <pre><code class="language-typescript">{{ asyncConfigurationClass }}</code></pre>
  <p>
    Above construction will instantiate <code>MulterConfigService</code> inside <code>MulterModule</code> and will leverage
    it to create options object. The <code>MulterConfigService</code> has to implement <code>MulterOptionsFactory</code>    interface.
  </p>
  <pre><code class="language-typescript">{{ asyncConfigurationClassBody }}</code></pre>
  <p>
    In order to prevent the creation of <code>MulterConfigService</code> inside <code>MulterModule</code> and use a provider
    imported from a different module, you can use the <code>useExisting</code> syntax.
  </p>
  <pre><code class="language-typescript">{{ asyncConfigurationExisting }}</code></pre>
  <p>
    It works the same as <code>useClass</code> with one critical difference - <code>MulterModule</code> will lookup imported
    modules to reuse already created <code>ConfigService</code>, instead of instantiating it on its own.
  </p>
</div>
