<div class="content">
  <h3>Scalars</h3>
  <p>
    In order to define a custom scalar (read more about scalars <a href="https://www.apollographql.com/docs/graphql-tools/scalars.html"
      target="blank">here</a>), we have to create a type definition and a dedicated resolver as well. Here (as in the official
    documentation), we’ll take the <code>graphql-type-json</code> package for demonstration purposes. This npm package defines
    a <code>JSON</code> GraphQL scalar type. Firstly, let's install the package:
  </p>
  <pre><code class="language-bash">
$ npm i --save graphql-type-json
</code></pre>
  <p>
    Once the package is installed, we have to pass a custom resolver to the <code>forRoot()</code> method:
  </p>
  <pre><code class="language-typescript">{{ jsonScalar }}</code></pre>
  <p>
    Now we can use <code>JSON</code> scalar in our type definitions:
  </p>
  <pre><code class="language-java">{{ typeDefJson }}</code></pre>
  <h4>Classes</h4>
  <p>
    Another form of defining the scalar type is to create a simple class. Let's say that we would like to enhance our schema
    with the <code>Date</code> type.
  </p>
  <pre><code class="language-typescript">{{ classScalar }}</code></pre>
  <p>
    Afterward, we need to register <code>DateScalar</code> as a provider.
  </p>
  <pre><code class="language-typescript">{{ registerDateScalar }}</code></pre>
  <p>
    And now we are able to use <code>Date</code> scalar in our type definitions.
  </p>
</div>